<div class="module">
	<div class="container-fluid">
		<div class="module-heading">
			Organisation Details
			<div class="pull-right">
				<button type="button" class="btn btn-sm btn-success" data-ng-click="ctrl.save(false)">Save</button>
				<button type="button" class="btn btn-sm btn-warning" data-ng-click="ctrl.save(true)">Save & Close</button>
				<button type="button" class="btn btn-sm btn-danger" data-ng-click="ctrl.close()">Cancel</button>
			</div>
		</div>
		<div class="module-body">
			<form>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="control-label">Name</label>
						<input type="text" class="form-control" placeholder="Organisation name" ng-model="ctrl.organisation.name">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="control-label">National Id</label>
						<input type="text" class="form-control" placeholder="National Id" ng-model="ctrl.organisation.nationalId">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="control-label">Services</label> <button type="button" class="btn btn-xs btn-success" ng-click="ctrl.editServices()">Edit</button>
						<div class="scroll-box-100">
							<div class="table">
								<table class="table table-striped table-condensed">
									<tbody>
										<tr ng-repeat="item in ctrl.services">
											<td>{{ item.name }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
