<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<database>
		<url></url>
		<username></username>
		<password></password>
	</database>

	<webServer>
		<!--local host cookie-->
		<cookieDomain>localhost</cookieDomain>

		<!--AIMES cookie-->
		<!--<cookieDomain>37.48.245.69</cookieDomain>-->
	</webServer>

	<rabbitmqManagement>
		<username>guest</username>
		<password>guest</password>
	</rabbitmqManagement>


</config>
