<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<database>
		<url></url>
		<username></username>
		<password></password>
	</database>

	<webServer>
		<!--local host cookie-->
		<cookieDomain>localhost</cookieDomain>

		<!--AIMES cookie-->
		<!--<cookieDomain>37.48.245.69</cookieDomain>-->

		<appConfigId>804e0ab5-f314-4e0e-a53c-fe117a4e85d4</appConfigId>
		<authConfigId>c865eb28-58dd-4ec4-9ca9-fda1273566bf</authConfigId>
	</webServer>

	<rabbitmqManagement>
		<username>guest</username>
		<password>guest</password>
	</rabbitmqManagement>


</config>
