<div class="module">
    <div class="module-heading">
        FHIR Resources
    </div>
    <div class="module-body">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">

                    <uib-tabset active="activeForm">
                        <uib-tab index="0" heading="ID">

                            <div class="panel panel-primary">
                                <div class="panel-heading">FHIR Resource by ID</div>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label>Resource ID</label>
                                        <input type="text" class="form-control" ng-model="resourceCtrl.resourceId">
                                    </div>


                                    <div class="form-group">
                                        <label>Resource Type</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-hospital-o fa-lg fa-fw"></i></span>
                                            <select class="form-control" ng-model="resourceCtrl.resourceTypeSelected">
                                                <option ng-repeat="item in resourceCtrl.allResourceTypes" value="{{item.resourceType}}">{{item.resourceType}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-default" ng-click="resourceCtrl.getResourceForId()">Search</button>
                                </div>
                            </div>

                        </uib-tab>
                        <uib-tab index="1" heading="Patient">

                            <div class="panel panel-primary">
                                <div class="panel-heading">FHIR Resources by Patient</div>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label>Patient ID</label>
                                        <input type="text" class="form-control" ng-model="resourceCtrl.patientId" ng-change="resourceCtrl.getResourceTypesForPatient()">
                                    </div>


                                    <div class="form-group">
                                        <label>Resource Type</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-hospital-o fa-lg fa-fw"></i></span>
                                            <select class="form-control" ng-model="resourceCtrl.patientResourceTypeSelected">
                                                <option ng-repeat="item in resourceCtrl.patientResourceTypes" value="{{item.resourceType}}">{{item.resourceType}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-default" ng-click="resourceCtrl.getResourcesForPatient()">Search</button>

                                </div>
                            </div>

                        </uib-tab>
                    </uib-tabset>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <!--<div class="table">
                        <table class="table table-striped table-condensed">
                            <thead>
                            <tr>
                                <th>Patient ID</th>
                                <th>Service</th>
                                <th>System</th>
                                <th>NHS#</th>
                                <th>Forenames</th>
                                <th>Surname</th>
                                <th>DoB</th>
                                <th>Postcode</th>
                                <th>Gender</th>
                                <th>Local ID</th>
                                <th>Local ID System</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="id in patientIdentityCtrl.patientIdentities">
                                <td>{{id.patientId}}</td>
                                <td>{{id.serviceName}}</td>
                                <td>{{id.systemName}}</td>
                                <td>{{id.nhsNumber}}</td>
                                <td>{{id.forenames}}</td>
                                <td>{{id.surname}}</td>
                                <td>{{id.dateOfBirth}}</td>
                                <td>{{id.postcode}}</td>
                                <td>{{id.gender}}</td>
                                <td>{{id.localId}}</td>
                                <td>{{id.localIdSystem}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>-->

                </div>
            </div>
        </div>
    </div>
</div>

