<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="db" class="ch.qos.logback.classic.db.DBAppender">
    <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
      <driverClass>org.postgresql.Driver</driverClass>
      <url>${LOGBACK_JDBC_URL:-jdbc:postgresql://localhost:5432/logback}</url>
      <user>${LOGBACK_JDBC_USERNAME:-postgres}</user>
      <password>${LOGBACK_JDBC_PASSWORD}</password>
    </connectionSource>
  </appender>

  <root level="TRACE">
    <appender-ref ref="stdout" />
    <appender-ref ref="db" />
  </root>

</configuration>