<div class="module">
	<div class="container-fluid">
		<div class="module-heading">
			Route Groups
			<button class="btn btn-success btn-sm pull-right" ng-click="ctrl.sync()">Sync</button>
		</div>
		<div class="module-body">
			<form>
				<div class="row">
					<div class="form-group col-md-3">
						<label>Inbound</label>
						<div ng-repeat="item in ctrl.routeGroups">
							<label class="small"><i ng-class="ctrl.getRouteGroupClass(item, ctrl.inboundBindings)"></i> {{item.name}}</label>
						</div>
						<div ng-repeat="item in ctrl.inboundBindings">
							<label class="small" ng-hide="ctrl.bindingExists(item)"><i class="fa fa-minus-circle text-danger"></i> {{item.routing_key}}</label>
						</div>
					</div>
					<div class="form-group col-md-3">
						<label>Interim</label>
						<div ng-repeat="item in ctrl.routeGroups">
							<label class="small"><i ng-class="ctrl.getRouteGroupClass(item, ctrl.interimBindings)"></i> {{item.name}}</label>
						</div>
						<div ng-repeat="item in ctrl.interimBindings">
							<label class="small" ng-hide="ctrl.bindingExists(item)"><i class="fa fa-minus-circle text-danger"></i> {{item.routing_key}}</label>
						</div>
					</div>
					<div class="form-group col-md-3">
						<label>Response</label>
						<div ng-repeat="item in ctrl.routeGroups">
							<label class="small"><i ng-class="ctrl.getRouteGroupClass(item, ctrl.responseBindings)"></i> {{item.name}}</label>
						</div>
						<div ng-repeat="item in ctrl.responseBindings">
							<label class="small" ng-hide="ctrl.bindingExists(item)"><i class="fa fa-minus-circle text-danger"></i> {{item.routing_key}}</label>
						</div>
					</div>
					<div class="form-group col-md-3">
						<label>Subscriber</label>
						<div ng-repeat="item in ctrl.routeGroups">
							<label class="small"><i ng-class="ctrl.getRouteGroupClass(item, ctrl.subscriberBindings)"></i> {{item.name}}</label>
						</div>
						<div ng-repeat="item in ctrl.subscriberBindings">
							<label class="small" ng-hide="ctrl.bindingExists(item)"><i class="fa fa-minus-circle text-danger"></i> {{item.routing_key}}</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<div class="table">
							<table class="table table-striped table-condensed">
								<thead>
									<tr>
										<th class="col-md-5">Name</th>
										<th class="col-md-2">Key/Queue</th>
										<th class="col-md-4">Filter</th>
										<th class="col-md-1"></th>
									</tr>
								</thead>
								<tbody>
									<tr class="hover-box show-child-on-hover" ng-repeat="item in ctrl.routeGroups">
										<td>
												<a ng-click="ctrl.edit(item)">{{item.name}}</a>
												<span class="fa fa-info-circle fa-right-pad text-muted" uib-tooltip="{{item.description}}" ng-show="item.description"></span>
										</td>
										<td>
											{{item.routeKey}}
										</td>
										<td>
											{{item.regex}}
										</td>
										<td>
											<button type="button" class="btn btn-danger btn-xs child-to-show" ng-click="ctrl.delete(item)"><span class="fa fa-remove"></span></button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
