<div class="module">
	<div class="module-heading">
		Audit Monitor
		<button class="btn btn-success btn-sm pull-right" (click)="refresh()">Refresh</button>
	</div>
	<div class="module-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">Recent Audit Events <span class="fa fa-sm fa-refresh fa-refresh-animate" *ngIf="!auditEvents"></span></div>
						<div class="panel-body" style="overflow:hidden; height:100%; min-height: 500px;">
							<div class="row">
								<div class="form-group col-md-2">
									<label for="module">Application</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
										<select id="module" class="form-control" [(ngModel)]="module" (ngModelChange)="refresh()">
											<option value="" disabled>Select Application...</option>
											<option *ngFor="let module of modules" value="{{module}}">{{module}}</option>
										</select>
									</div>
								</div>
								<div class="form-group col-md-2">
									<label for="user">User</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-user fa-lg fa-fw"></i></span>
										<select id="user" class="form-control" [(ngModel)]="user" (ngModelChange)="refresh()">
											<option value="" disabled>Select User...</option>
											<option *ngFor="let user of users" value="{{user.uuid}}">{{user.username}}</option>
										</select>
									</div>
								</div>
								<div class="form-group col-md-2">
									<label for="user">Month</label>
									<datetime [timepicker]="false" [(ngModel)]="month" [datepicker]="{ icon: 'fa fa-calendar', format: 'M-yyyy', autoclose: true, minViewMode: 1 }" (ngModelChange)="refresh()"></datetime>
								</div>
								<div class="form-group col-md-2" *ngIf="user && module">
									<label for="organisation">Organisation</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-hospital-o fa-lg fa-fw"></i></span>
										<select id="organisation" class="form-control" [(ngModel)]="organisation" (ngModelChange)="refresh()">
											<option value="">All</option>
											<option *ngFor="let organisation of organisations" value="{{organisation.uuid}}">{{organisation.name}}</option>
										</select>
									</div>
								</div>
								<div class="form-group col-md-2" *ngIf="user && module">
									<label for="submodule">Domain</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-th fa-lg fa-fw"></i></span>
										<select id="submodule" class="form-control" [(ngModel)]="submodule" (ngModelChange)="refresh()">
											<option value="">All</option>
											<option *ngFor="let submodule of submodules" value="{{submodule}}">{{submodule}}</option>
										</select>
									</div>
								</div>
								<div class="form-group col-md-2" *ngIf="user && module && submodule">
									<label for="action">Action</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-crosshairs fa-lg fa-fw"></i></span>
										<select id="action" class="form-control" [(ngModel)]="action" (ngModelChange)="refresh()">
											<option value="">All</option>
											<option *ngFor="let action of actions" value="{{action}}">{{action}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="table scroll-box-500">
										<table class="table table-striped table-condensed">
											<thead>
												<tr>
													<th>Timestamp</th>
													<th>Module</th>
													<th>Submodule</th>
													<th>Action</th>
													<th>Details</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let event of getFilteredEvents(this)">
													<td>{{event.timestamp | date:'dd-MMM-yyyy HH:mm:ss'}}</td>
													<td>{{event.module}}</td>
													<td>{{event.subModule}}</td>
													<td>{{event.action}}</td>
													<td *ngIf="!event.data || event.data === ''">None</td>
													<td *ngIf="event.data && event.data !== ''"><a (click)="viewData(event)">{{getDataTitle(event.data)}}</a></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

