<div class="form-group">
	<div class="input-group">
		<span class="input-group-addon">
			<i class="fa fa-user" id="username" aria-hidden="true"></i>
		</span>
		<input type="text" class="form-control" placeholder="Username" aria-describedby="username" ng-model="login.username" ng-disabled="this.$close">
	</div>
</div>
<div class="form-group">
	<div class="input-group">
		<span class="input-group-addon">
			<i class="fa fa-lock" id="password" aria-hidden="true"></i>
		</span>
		<input type="password"
					 class="form-control"
					 placeholder="Password"
					 aria-describedby="password"
					 ng-model="login.password"
					 ng-keyup="$event.keyCode == 13 && login.login(this)">
	</div>
</div>
<button type="button" ng-click="login.login(this)" class="btn btn-default" aria-label="Left Align">
	Login
</button>
