<div class="module">
	<div class="container-fluid">
		<div class="module-heading">Client Application Manager</div>
		<div class="module-body">
			<div class="row">
			<div class="col-md-5">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<label class="btn btn-xs btn-success pull-right" disabled (click)="addRole()">Add new</label>
						Client applications
					</div>
					<div class="panel-body" style="overflow:hidden; height:100%; min-height: 720px;">
						<div class="table scroll-box-350 form-control" style="height:100%; min-height: 670px;">
							<loadingIndicator [done]="clientList">
								<table class="table table-striped table-condensed">
									<tr *ngFor="let client of getClientList()" class="hover-box show-child-on-hover"
										(click)="selectedClient = client; "
										[ngClass]="{'selection': client == selectedClient}"
										style="height=100px">
										<td><i class="fa fa-laptop " width="80" height="80"></i></td>
										<td>{{client.name}}</td>
									</tr>
								</table>
							</loadingIndicator>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-7">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<label class="btn btn-xs btn-success pull-right" *ngIf="selectedClient" (click)="editClient">Edit</label>
						<label class="btn btn-xs btn-success pull-right" *ngIf="selectedClient" (click)="deleteClient">Delete</label>
						Client Access Profiles
					</div>
					<div class="panel-body" style="overflow:hidden; height:100%; min-height: 720px;">
						<div class="table" *ngIf="selectedClient">
							<div class="row" *ngFor="let clientRole of selectedClient.clientRoles" #clientRoleList>
								<div class="form-group col-md-6" >
									<div>
										<label class="control-label">Name</label>
										<input type="text" readonly="true" class="form-control" placeholder="Profile name" [(ngModel)]="clientRole.name" name="clientRoleName">
									</div>
									<div>
										<label for="clientdescription">Description</label>
										<textarea class="form-control" readonly="true" id="clientdescription" [(ngModel)]="clientRole.description" name="clientRoleDescription"></textarea>
									</div>
								</div>
								<div class="form-group col-md-6">
									<label class="control-label">Profile Menu Options</label>
									<span class="list-group">
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
