<div class="module">
	<div class="container-fluid">
		<div class="module-heading">Role Manager</div>
		<div class="module-body">
			<div class="row">
			<div class="col-md-5">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<label class="btn btn-xs btn-success pull-right" (click)="addRole()">Add new</label>
						Roles
					</div>
					<div class="panel-body" style="overflow:hidden; height:100%; min-height: 720px;">
						<div class="table scroll-box-350 form-control" style="height:100%; min-height: 670px;">
							<loadingIndicator [done]="roleList">
								<table class="table table-striped table-condensed">
									<thead>
									<tr>
										<th class="col-md-2"  (click)="sortField='name'; sortReverse=!sortReverse">Name
											<span *ngIf="sortField == 'name'"
												  class="fa fa-sm"
												  [ngClass]="{'fa-chevron-down':!sortReverse, 'fa-chevron-up':sortReverse}"></span>

										</th>
										<th class="col-md-1" (click)="sortField='organisation'; sortReverse=!sortReverse">Organisation
											<span *ngIf="sortField == 'organisation'"
												  class="fa fa-sm"
												  [ngClass]="{'fa-chevron-down':!sortReverse, 'fa-chevron-up':sortReverse}"></span>
										</th>
										<th class="col-md-1" >Access Profiles</th>
										<!--<th class="col-md-2" >Actions</th> -->
									</tr>
									</thead>
									<tbody>
									<tr *ngFor="let role of getRoleList()" class="hover-box show-child-on-hover"
										(click)="selectedRole = role; "
										[ngClass]="{'selection': role == selectedRole}">

										<td>{{role.name}}</td>
										<td>{{role.group.name}}</td>
										<td>{{role.clientRoles.length}}</td>  <!--NEED TO GET CLIENT APPS-->
										<!--<td>
                                            <span class="child-to-show">
                                                <label class="btn btn-success btn-xs" (click)="editRole(role)">Edit</label>
                                            </span>
                                        </td> -->
									</tr>
									</tbody>
								</table>
							</loadingIndicator>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-7">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<label class="btn btn-xs btn-success pull-right" *ngIf="selectedRole" (click)="editRole(selectedRole)">Edit</label>
						<label class="btn btn-xs btn-success pull-right" *ngIf="selectedRole" (click)="deleteRole(selectedRole)">Delete</label>
						Role details
					</div>
					<div class="panel-body" style="overflow:hidden; height:100%; min-height: 720px;">
						<div class="table" *ngIf="selectedRole">

							<div class="row">
								<div class="form-group col-md-6">
									<div>
										<label class="control-label">Name</label>
										<input type="text" readonly="true" class="form-control" [(ngModel)]="selectedRole.name" name="rolename">
									</div>
									<div>
										<label for="roledescription">Description</label>
										<textarea class="form-control" readonly="true" id="roledescription" [(ngModel)]="selectedRole.description" name="roledescription"></textarea>
									</div>
									<div>
										<label class="control-label">Organisation</label>
										<input type="text" readonly="true"  class="form-control" [(ngModel)]="selectedRole.group.name" name="organisation">
									</div>
								</div>
								<div class="form-group col-md-6">
									<label class="control-label">Client Access Profile</label>
									<span class="list-group">
										<li class="list-group-item" *ngFor="let clientrole of selectedRole.clientRoles"
											readonly="false" value="{{clientrole.uuid}}">{{clientrole.name}}
											<span class="fa fa-info-circle fa-right-pad text-muted" ngbTooltip="{{clientrole.description}}" *ngIf="clientrole.description"></span>
										</li>
									</span>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label>Display linked users here?</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
