<div class="modal-header">
	<button type="button" class="close" (click)="cancel()" aria-hidden="true">&times;</button>
	<h4 class="modal-title">{{dialogTitle}}</h4>
</div>
<div class="modal-body">
	<form RoleDetails="form" class="container-fluid">
		<div class="row">
			<div class="form-group col-md-6">
				<div>
					<label class="control-label">Role name</label>
					<input type="text" *ngIf="isEditMode()" disabled class="form-control" placeholder="Rolename" [(ngModel)]="resultData.name" name="rolename" #rolename>
					<input type="text" *ngIf="!isEditMode()" class="form-control" placeholder="Rolename" [(ngModel)]="resultData.name" (ngModelChange)="updateRoleName($event)" name="rolename" #rolename>
				</div>
				<div>
					<label for="description">Description</label>
					<textarea class="form-control" id="description" [(ngModel)]="resultData.description" name="description" #description></textarea>
				</div>
				<div>
					<label class="control-label">Organisation</label>
					<div class="input-group">
						<input type="text" class="form-control" name="searchTerm" [(ngModel)]="groupSearchData" (keyup)="filterGroups()" placeholder="Organisation search..." #organisation>
						<span class="btn input-group-addon" (click)="filterGroups()">
							<i class="fa fa-search" title="Search"></i>
						</span>
					</div>
					<div class="table scroll-box-350 form-control" style="min-height: 200px;max-height: 200px">
						<loadingIndicator [done]="groupList">
							<Tree [nodes]="groupList" [options]="groupListOptions" (onActivate)="selectGroup($event.node.data)" (onInitialized)="groupsInitialized()"></Tree>
						</loadingIndicator>
					</div>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label class="control-label">Client Access Profiles</label>
				<div class="table scroll-box-350 form-control" style="min-height: 370px">
					<loadingIndicator [done]="availableClients">
						<ul class="list-group" *ngFor="let client of availableClients" >
							<h4 *ngIf="client.clientRoles.length>0" class="list-group-item-heading">{{client.name}}</h4>
							<li class="list-group-item" *ngFor="let clientRole of client.clientRoles" #clientlist>
								<div class="check-box">
									<input type="checkbox" [checked]="isClientRoleAssigned(clientRole)" (change)="processCheckedClientRole($event, clientRole)" name="optChecked" value="{{clientRole}}">  {{clientRole.name}}
									<span class="fa fa-info-circle fa-right-pad text-muted" ngbTooltip="{{clientRole.description}}" *ngIf="clientRole.description"></span>
								</div>
							</li>
						</ul>
					</loadingIndicator>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn"
					(click)="cancel()">Cancel</button>
	<button type="button" class="btn btn-primary"
					(click)="save();">Save</button>
</div>
