<div class="module">
	<div class="container-fluid">
		<div class="module-heading">User Manager - User Account View</div>
		<div class="module-body">
			<div class="row">


			<div class="col-md-7">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<label class="btn btn-xs btn-success pull-right" *ngIf="selectedUser" (click)="editUser(selectedUser)">Edit</label>
						User details
					</div>
					<div class="panel-body" style="overflow:hidden; height:100%; min-height: 720px;">
						<loadingIndicator [done]="selectedUser">
							<div class="table" *ngIf="selectedUser">
								<div class="row">
									<div class="form-group col-md-6">
										<div>
											<label class="control-label">Username</label>
											<input type="text" readonly="true" class="form-control" placeholder="Username" [(ngModel)]="selectedUser.username" name="username">
										</div>
										<div>
											<label class="control-label">Forename</label>
											<input type="text" readonly="true" class="form-control" placeholder="Forename" [(ngModel)]="selectedUser.forename" name="forename">
										</div>
										<div>
											<label class="control-label">Surname</label>
											<input type="text" readonly="true" class="form-control" placeholder="Surname" [(ngModel)]="selectedUser.surname" name="surname">
										</div>
										<div>
											<label class="control-label">Email</label>
											<input type="text" readonly="true" class="form-control" placeholder="Email" [(ngModel)]="selectedUser.email" name="email">
										</div>
									</div>
									<div class="form-group col-md-6">
										<div>
											<label class="control-box">Photo</label>
											<input type="text" readonly="true" class="form-control" placeholder="Photo URL" [(ngModel)]="selectedUser.photo" name="photo">
											<img src="{{selectedUser.photo}}" class="img-rounded" height="118px" width="118px">
										</div>
										<div>
											<label class="control-label">Mobile</label>
											<input type="text" readonly="true" class="form-control" placeholder="Mobile" [(ngModel)]="selectedUser.mobile" name="mobile">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-12">
										<label>Roles</label>
										<loadingIndicator [done]="selectedUser.userRoles">
											<div class="form-group col-md-12" *ngIf="selectedUser.userRoles!=null&&selectedUser.userRoles.length==0">No roles assigned</div>
											<ngb-tabset active="activeTab">
												<ngb-tab *ngFor="let role of selectedUser.userRoles" id="{{role.uuid}}" title="{{role.name}}">
													<template ngbTabContent>
														<div class="row">
															<div class="form-group col-md-6">
																<div>
																	<label for="description">Description</label>
																	<textarea class="form-control" readonly="true" id="description" [(ngModel)]="role.description" name="description"></textarea>
																</div>
																<div>
																	<label class="control-label">Organisation</label>
																	<input type="text" readonly="true"  class="form-control" [(ngModel)]="role.group.name" name="organisation">
																</div>
															</div>
															<div class="form-group col-md-6">
																<label class="control-label">Client Access Profile</label>
																<span class="list-group">
																	<li class="list-group-item" *ngFor="let item of role.clientRoles"
																		readonly="false" value="{{item.uuid}}">{{item.name}}
																		<span class="fa fa-info-circle fa-right-pad text-muted" ngbTooltip="{{item.description}}" *ngIf="item.description"></span>
																	</li>
																</span>
															</div>
														</div>
													</template>
												</ngb-tab>
											</ngb-tabset>
										</loadingIndicator>
									</div>
								</div>
							</div>
						</loadingIndicator>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
