<div class="modal-header">
	<button type="button" class="close" (click)="cancel()" aria-hidden="true">&times;</button>
	<h4 class="modal-title">{{dialogTitle}}</h4>
</div>
<div class="modal-body">
	<!------------------------------------------------------------------------------------------------->
	<!-- USER PROFILE DETAILS -->
	<!------------------------------------------------------------------------------------------------->
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">Profile</div>
			<div class="panel-body">
				<form UserDetails="form" class="container-fluid">
					<div class="row">
						<div class="col col-md-6">
							<div>
								<label class="control-label">Username *</label>
								<input type="text" *ngIf="isEditMode()" disabled class="form-control" placeholder="Username" [(ngModel)]="resultData.username" name="username" #username>
								<input type="text" *ngIf="!isEditMode()" class="form-control" placeholder="Username" [(ngModel)]="resultData.username" name="username" #username>
							</div>
							<div>
								<label class="control-label">Forename *</label>
								<input type="text" class="form-control" placeholder="Forename" [(ngModel)]="resultData.forename" name="forename" #forename>
							</div>
							<div>
								<label class="control-label">Surname *</label>
								<input type="text" class="form-control" placeholder="Surname" [(ngModel)]="resultData.surname" name="surname" #surname>
							</div>
							<div>
								<label class="control-label">Email *</label>
								<input type="text" class="form-control" placeholder="Email" [(ngModel)]="resultData.email" name="email" #email>
							</div>
						</div>
						<div class="col col-md-6">
							<div>
							<label class="control-box">Photo</label>
							<input type="text" class="form-control" placeholder="Photo URL" [(ngModel)]="resultData.photo" name="photo" #photo>
							<img src="{{resultData.photo}}" class="img-rounded" height="118px" width="118px">
							</div>
							<div>
								<label class="control-label">Mobile</label>
								<input type="text" class="form-control" placeholder="Mobile" [(ngModel)]="resultData.mobile" name="mobile">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!------------------------------------------------------------------------------------------------->
		<!-- USER CREDENTIALS -->
		<!------------------------------------------------------------------------------------------------->
		<div class="panel panel-default">
			<div class="panel-heading">Credentials</div>
			<div class="panel-body">
				<form UserDetails2="form" class="container-fluid">
				<div class="row">
						<div class="col col-md-4">
							<label class="control-label">New Password *</label>
							<span class="fa fa-info-circle fa-right-pad text-muted" [ngbTooltip]="tipContentPassword"></span>
							<template #tipContentPassword>The password must be at least eight characters long, include at least one digit and one Uppercase letter.</template>
							<input type="password" class="form-control" placeholder="Password" name="passwordNew" #password1>
						</div>
						<div class="col col-md-4">
							<label class="control-label">Password Confirmation *</label>
							<input type="password" class="form-control" placeholder="Password" [(ngModel)]="resultData.password" name="passwordConf" #password2>
						</div>
				</div>
				</form>
			</div>
		</div>
		<!------------------------------------------------------------------------------------------------->
		<!-- USER ROLES -->
		<!------------------------------------------------------------------------------------------------->
		<div class="panel panel-default">
			<div class="panel-heading">Roles</div>
			<div class="panel-body">
				<form UserDetails3="form" class="container-fluid">
					<div class="row">
						<div class="col col-md-6">
							<label class="control-label">Current Roles</label>
							<div class="scroll-box-150 form-control">
								<div *ngFor="let role of resultData.userRoles"
									 class="hover-box show-child-on-hover striped"
									 [ngClass]="{'selection': role == selectedCurrentRole}">

									<template #tipContentCurrent><b><u>Description</u></b><br>{{role.description}}<br><br><b><u>Organisation</u></b><br>{{role.group.name}}<br><br><b><u>Client Access Profile</u></b><br>{{buildRoleToolTip(role)}}</template>
									{{role.name}}
									<span class="fa fa-info-circle fa-right-pad text-muted" [ngbTooltip]="tipContentCurrent"></span>

									<button type="button" class="btn btn-xs btn-danger pull-right child-to-show" (click)="removeCurrentRole(role)" title="Remove role">
										<span class="fa fa-sm fa-minus"></span>
									</button>
								</div>
							</div>
						</div>
						<div class="col col-md-6">
							<label class="control-label">Available Roles</label>
							<div class="scroll-box-150 form-control">
								<loadingIndicator [done]="availableRoles">
									<div *ngFor="let role of availableRoles"
										 class="hover-box show-child-on-hover striped"
										 [ngClass]="{'selection': role == selectedAvailableRole}">

										<template #tipContentAvail><b><u>Description</u></b><br>{{role.description}}<br><br><b><u>Organisation</u></b><br>{{role.group.name}}<br><br><b><u>Client Access Profile</u></b><br>{{buildRoleToolTip(role)}}</template>
										{{role.name}}
										<span class="fa fa-info-circle fa-right-pad text-muted" [ngbTooltip]="tipContentAvail"></span>

										<button type="button" class="btn btn-xs btn-success pull-right child-to-show" (click)="addAvailableRole(role)" title="Add role">
											<span class="fa fa-sm fa-plus"></span>
										</button>
									</div>
								</loadingIndicator>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
<div class="modal-footer">
	<button type="button" class="btn"
					(click)="cancel()">Cancel</button>
	<button type="button" class="btn btn-primary"
					(click)="save();">Save</button>
</div>
