<div class="module">
	<div class="container-fluid">
		<div class="module-heading">User Manager</div>
		<div class="module-body">
			<div class="row">
				<div class="col-md-5">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<label class="btn btn-xs btn-success pull-right" (click)="addUser()">Add new</label>
							Users
						</div>
						<div class="panel-body" style="overflow:hidden;  min-height: 720px;">
							<form>
								<div class="form-group">
									<div class="input-group">
										<input type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Search term..." class="form-control">
										<span *ngIf="searched" class="btn input-group-addon" (click)="clearSearch(); ">
										<i class="fa fa-remove" title="Clear search"></i>
									</span>
										<span class="btn input-group-addon" (click)="searchUsers()">
										<i class="fa fa-search" title="Search"></i>
									</span>
									</div>
								</div>
							</form>
							<div class="table scroll-box-350 form-control" style="min-height: 620px;">
								<loadingIndicator [done]="userList">
									<table class="table table-striped table-condensed">
										<thead>
										<tr>
											<th class="col-md-3"  (click)="sortField='username'; sortReverse=!sortReverse">Username
												<span *ngIf="sortField == 'username'"
													  class="fa fa-sm"
													  [ngClass]="{'fa-chevron-down':!sortReverse, 'fa-chevron-up':sortReverse}"></span>

											</th>
											<th class="col-md-2" (click)="sortField='surname'; sortReverse=!sortReverse">Surname
												<span *ngIf="sortField == 'surname'"
													  class="fa fa-sm"
													  [ngClass]="{'fa-chevron-down':!sortReverse, 'fa-chevron-up':sortReverse}"></span>
											</th>
											<th class="col-md-2" >Forename</th>
										</tr>
										</thead>

										<tbody>
										<tr *ngFor="let user of getUserList()" class="hover-box show-child-on-hover"
											(click)="selectedUser = user; getUserRoles(user)"
											[ngClass]="{'selection': user == selectedUser}">

											<td>{{user.username}}</td>
											<td>{{user.surname}}</td>
											<td>{{user.forename}}</td>
											<!--<td>
                                                <span class="child-to-show">
                                                    <label class="btn btn-success btn-xs" (click)="editUser(user)">Edit</label>
                                                </span>
                                            </td> -->
										</tr>
										</tbody>
									</table>
								</loadingIndicator>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-7">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<label class="btn btn-xs btn-success pull-right" *ngIf="selectedUser" (click)="editUser(selectedUser)">Edit</label>
							<label class="btn btn-xs btn-success pull-right" *ngIf="selectedUser" (click)="deleteUser(selectedUser)">Delete</label>
							User details
						</div>
						<div class="panel-body" style="overflow:hidden; height:100%; min-height: 720px;">
							<div class="form-group col-md-12" *ngIf="selectedUser==null">No user selected</div>
							<div class="table" *ngIf="selectedUser">
								<div class="row">
									<div class="form-group col-md-6">
										<div>
											<label class="control-label">Username</label>
											<input type="text" readonly class="form-control" placeholder="Username" [(ngModel)]="selectedUser.username" name="username">
										</div>
										<div>
											<label class="control-label">Forename</label>
											<input type="text" readonly class="form-control" placeholder="Forename" [(ngModel)]="selectedUser.forename" name="forename">
										</div>
										<div>
											<label class="control-label">Surname</label>
											<input type="text" readonly class="form-control" placeholder="Surname" [(ngModel)]="selectedUser.surname" name="surname">
										</div>
										<div>
											<label class="control-label">Email</label>
											<input type="text" readonly class="form-control" placeholder="Email" [(ngModel)]="selectedUser.email" name="email">
										</div>
									</div>
									<div class="form-group col-md-6">
										<div>
											<label class="control-box">Photo</label>
											<input type="text" readonly class="form-control" placeholder="Photo URL" [(ngModel)]="selectedUser.photo" name="photo">
											<img src="{{selectedUser.photo}}" class="img-rounded" height="118px" width="118px">
										</div>
										<div>
											<label class="control-label">Mobile</label>
											<input type="text" readonly class="form-control" placeholder="Mobile" [(ngModel)]="selectedUser.mobile" name="mobile">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-12">
										<label>Roles</label>
										<loadingIndicator [done]="userRoleList">
											<div class="form-group col-md-12" *ngIf="userRoleList!=null&&userRoleList.length==0">No roles assigned</div>
											<ngb-tabset active="activeTab">
												<ngb-tab *ngFor="let role of getUserRoleList()" id="{{role.uuid}}" title="{{role.name}}">
													<template ngbTabContent>
														<div class="row">
															<div class="form-group col-md-6">
																<div>
																	<label for="description">Description</label>
																	<textarea class="form-control" readonly="true" id="description" [(ngModel)]="role.description" name="description"></textarea>
																</div>
																<div>
																	<label class="control-label">Organisation</label>
																	<input type="text" readonly="true"  class="form-control" [(ngModel)]="role.group.name" name="organisation">
																</div>
															</div>
															<div class="form-group col-md-6">
																<label class="control-label">Client Access Profile</label>
																<span class="list-group">
																	<li class="list-group-item" *ngFor="let item of role.clientRoles"
																		readonly="false" value="{{item.uuid}}">{{item.name}}
																		<span class="fa fa-info-circle fa-right-pad text-muted" ngbTooltip="{{item.description}}" *ngIf="item.description"></span>
																	</li>
																</span>
															</div>
														</div>
													</template>
												</ngb-tab>
											</ngb-tabset>
										</loadingIndicator>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
