<div class="modal-header">
	<button type="button" class="close" data-ng-click="ctrl.cancel()" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Route Group</h4>
</div>
<div class="modal-body">
	<form endUserRole="form" class="container-fluid">
		<div class="row">
			<div class="form-group col-md-12">
				<label class="control-label">Name</label>
				<input type="text" class="form-control" placeholder="Route name" ng-model="ctrl.resultData.name">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-12">
				<label class="control-label">Description</label>
				<input type="text" class="form-control" placeholder="Description" ng-model="ctrl.resultData.description">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-12">
				<label class="control-label">Filter</label>
				<input type="text" class="form-control" placeholder="Filter" ng-model="ctrl.resultData.regex">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-12">
				<label class="control-label"></label>
				<button type="button" class="btn btn-xs" ng-click="ctrl.addFilter('[A-Z]')">A-Z</button>
				<button type="button" class="btn btn-xs" ng-click="ctrl.addFilter('[0-9]')">0-9</button>
				<button type="button" class="btn btn-xs" ng-click="ctrl.addFilter('[A-Z,0-9]')">A-9</button>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-12">
				<label class="control-label">Route Key</label>
				<input type="text" class="form-control" placeholder="Route Key" ng-model="ctrl.resultData.routeKey">
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn"
					data-ng-click="ctrl.cancel()">Cancel</button>
	<button type="button" class="btn btn-primary"
					data-ng-click="ctrl.ok();">Ok</button>
</div>
