<div class="modal-header">
    <button type="button" class="close" data-ng-click="queryPicker.cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Query Picker</h4>
</div>
<div class="modal-body" style="height:500px;">
    <form>
        <div class="form-group">
            <div class="row">

                <div class="col-md-3">
                    <div ui-tree data-nodrop-enabled="true" data-nodrag id="tree-root">
                        <ol ui-tree-nodes ng-model="queryPicker.treeData">
                            <li ng-repeat="node in queryPicker.treeData" ui-tree-node ng-include="'query_picker_template.html'"></li>
                        </ol>
                    </div>
                    <script type="text/ng-template" id="query_picker_template.html">
                        <div ui-tree-handle class="tree-node tree-node-content" style="cursor:pointer">
                        <span class="show-child-on-hover folder-item"
                              ng-class="{'selection': node.uuid == queryPicker.selectedNode.uuid}">
                            <span	ng-if="!node.hasChildren" data-nodrag class="fa fa-sm fa-blank text-muted"></span>
                            <span ng-if="node.hasChildren" data-nodrag	class="fa fa-sm text-muted"
                                  ng-class="{'fa-chevron-right': !node.isExpanded,'fa-chevron-down': node.isExpanded}"
                                  ng-click="queryPicker.toggleExpansion(node)"></span>
                            <span ng-click="queryPicker.selectNode(node)" style="cursor:pointer">
                                <span	class="fa fa-folder-open fa-right-pad text-primary"></span>
                                <span>{{node.folderName}}</span>
                                <span class="fa fa-sm fa-refresh fa-refresh-animate" ng-show="node.loading"></span>
                        </span>
                        </div>
                        <ol ui-tree-nodes ng-model="node.nodes" ng-show="node.isExpanded">
                            <li ui-tree-node ng-repeat="node in node.nodes" ng-include="'query_picker_template.html'">
                            </li>
                        </ol>
                    </script>

                </div>

                <div class="col-md-9">
                    <div class="table" style="height:470px; overflow: auto">
                        <table class="table table-striped table-condensed">
                            <thead>
                            <tr>
                                <th class="col-md-4" ng-click="sortField='name'; sortReverse=!sortReverse">Title
                                    <span ng-show="sortField == 'name'"
                                          class="fa fa-sm"
                                          ng-class="{'fa-chevron-down':!sortReverse, 'fa-chevron-up':sortReverse}"></span>
                                </th>
                                <th class="col-md-4" ng-click="sortField='lastModified'; sortReverse=!sortReverse">Date modified
                                    <span ng-show="sortField == 'lastModified'"
                                          class="fa fa-sm"
                                          ng-class="{'fa-chevron-down':!sortReverse, 'fa-chevron-up':sortReverse}"></span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="hover-box show-child-on-hover" ng-repeat="item in queryPicker.itemSummaryList.contents | filter: { type: 2 } | orderBy:sortField:sortReverse">
                                <td>
                                    <a style="cursor: pointer" ng-click="queryPicker.actionItem(item,'edit')">{{item.name}}</a>
                                    <span class="fa fa-info-circle fa-right-pad text-muted" uib-tooltip="{{item.description}}" ng-show="item.description"></span>
                                </td>
                                <td>{{item.lastModified | date:'dd-MMM-yyyy HH:mm:ss'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default"
            data-ng-click="queryPicker.cancel()">Cancel</button>
    <button type="button" class="btn btn-primary"
            data-ng-click="queryPicker.ok();">Ok</button>
</div>
