<div class="module record-viewer">
    <div class="module-heading">
        <span>Record viewer</span>
        <button class="btn btn-success btn-sm pull-right" ng-click="recordViewerCtrl.showPatientFind()"><i class="fa fa-search"></i> Find patient</button>
        <button class="btn btn-success btn-sm pull-right" ng-click="recordViewerCtrl.clearPatient()" ng-disabled="recordViewerCtrl.patient == null"><i class="fa fa-times-circle"></i> Clear patient</button>
    </div>
    <div class="module-body">

        <div class="container-fluid">

            <div name="noPatientSelectedView" ng-hide="recordViewerCtrl.patient">
                No patient selected
            </div>

            <div name="patientSelectedView" ng-show="recordViewerCtrl.patient">

                <div class="panel panel-default precis">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5"><span class="precis-patientname">{{recordViewerCtrl.patient.displayName}}</span></div>
                            <div class="col-sm-3"><span class="precis-label">Born</span> <span class="precis-value">{{recordViewerCtrl.patient.dateOfBirthFormatted}}</span></div>
                            <div class="col-sm-2"><span class="precis-label">Gender</span> <span class="precis-value">{{recordViewerCtrl.patient.genderFormatted}}</span></div>
                            <div class="col-sm-2"><span class="precis-label">NHS No.</span> <span class="precis-value">{{recordViewerCtrl.patient.nhsNumberFormatted}}</span></div>
                        </div>
                    </div>
                </div>

                <uib-tabset active="activeForm">
                    <uib-tab index="0" heading="Summary">

                        <div class="tab-panel">
                            Summary
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Consultations" ng-click="recordViewerCtrl.loadConsultations();">

                        <div class="tab-panel">
                            <table class="table table-hover">
                                <thead>
                                    <th>Date</th>
                                    <th>Doctor</th>
                                    <th>Place</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="consultation in recordViewerCtrl.consultations">
                                        <td>{{consultation.date}}</td>
                                        <td>{{consultation.doctor}}</td>
                                        <td>{{consultation.place}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="Medication">

                        <div class="tab-panel">
                            Medication
                        </div>
                    </uib-tab>
                    <uib-tab index="3" heading="Problems">

                        <div class="tab-panel">
                            Problems
                        </div>
                    </uib-tab>
                    <uib-tab index="4" heading="Investigations">

                        <div class="tab-panel">
                            Investigations
                        </div>
                    </uib-tab>
                    <uib-tab index="5" heading="Care History">

                        <div class="tab-panel">
                            Care History
                        </div>
                    </uib-tab>
                    <uib-tab index="6" heading="Diary">

                        <div class="tab-panel">
                                Diary
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>

