<div class="module record-viewer">
    <div class="module-heading">
        <span>Record viewer</span>
        <button class="btn btn-success btn-sm pull-right" ng-click="ctrl.showPatientFind()"><i class="fa fa-search"></i> Find patient</button>
        <button class="btn btn-success btn-sm pull-right" ng-click="ctrl.clearPatient()" ng-disabled="ctrl.patient == null"><i class="fa fa-times-circle"></i> Clear patient</button>
    </div>
    <div class="module-body">

        <div class="container-fluid">

            <div name="noPatientSelectedView" ng-hide="ctrl.patient">
                No patient selected
            </div>

            <div name="patientSelectedView" ng-show="ctrl.patient">

                <div class="panel panel-default precis">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5"><span class="precis-patientname">{{ctrl.patient.name | cuiName}}</span></div>
                            <div class="col-sm-3"><span class="precis-label">Born</span> <span class="precis-value">{{ctrl.patient.dateOfBirth | cuiDateOfBirth}}</span></div>
                            <div class="col-sm-2"><span class="precis-label">Gender</span> <span class="precis-value">{{ctrl.patient.gender | cuiGender}}</span></div>
                            <div class="col-sm-2"><span class="precis-label">NHS No.</span> <span class="precis-value">{{ctrl.patient.nhsNumber | cuiNhsNumber}}</span></div>
                        </div>
                    </div>
                </div>

                <uib-tabset>
                    <uib-tab index="0" active="ctrl.firstTabActive" heading="Summary">

                        <div class="tab-panel">
                            Summary
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Consultations" ng-click="ctrl.loadConsultations();">

                        <div class="tab-panel">
                            <table class="table table-hover">
                                <thead>
                                    <th>Date</th>
                                    <th>Doctor</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="encounter in ctrl.encounters">
                                        <td>{{encounter.period.start | cuiDate}}</td>
                                        <td>{{encounter.performedBy.name | cuiName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="Medication">

                        <div class="tab-panel">
                            Medication
                        </div>
                    </uib-tab>
                    <uib-tab index="3" heading="Problems" ng-click="ctrl.loadConditions();">

                        <div class="tab-panel">
                            <table class="table table-hover">
                                <thead>
                                    <th>Date</th>
                                    <th>Code</th>
                                    <th>Associated text</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="condition in ctrl.conditions">
                                        <td>{{condition.onsetDate | cuiDate}}</td>
                                        <td>{{condition.code | codeTerm}}</td>
                                        <td>{{condition.code.text}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <uib-tab index="4" heading="Investigations">

                        <div class="tab-panel">
                            Investigations
                        </div>
                    </uib-tab>
                    <uib-tab index="5" heading="Care History">

                        <div class="tab-panel">
                            Care History
                        </div>
                    </uib-tab>
                    <uib-tab index="6" heading="Diary">

                        <div class="tab-panel">
                                Diary
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>

