<div class="row">
	<div class="col-md-12">

		<h4 class="page-sub-header">Care history <small> ({{observations?.length}} items)</small></h4>

		<table class="table table-condensed table-striped table-hover table-selectable clinical-items-table">
			<thead>
				<th>Date</th>
				<th>Term</th>
				<th>Value</th>
			</thead>
			<tbody>
				<tr *ngIf="!observations || observations.length == 0"><td colspan="2"><i>(no care history)</i></td></tr>
				<tr *ngFor="let observation of observations">
					<td>{{observation.effectiveDate | cuiDate}}</td>
					<td>
						<codeTooltip [code]="observation.code"></codeTooltip>
						<span class="problem-term-text">{{observation.code.text}}</span>
					</td>
					<td>
						{{observation?.value | cuiQuantity }}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
