<h4 class="page-sub-header">Consultations <small> ({{filteredConsultations.length}} items)</small></h4>

<div class="row">
	<div class="col-md-2">
		<span class="consultation-title">Date Filter</span>
		<Tree [nodes]="dateTreeData" (onActivate)="selectDate($event.node.data)" (onUpdateData)="onUpdateData()" (onInitialized)="onInitialized()">
			<template #treeNodeTemplate let-node>
				{{ node.data.title }}
			</template>
		</Tree>
	</div>
	<div class="col-md-10">
		<div class="row consultation-title">
			<div class="col-md-2">Consultation Date</div>
			<div class="col-md-5">Performed By</div>
			<div class="col-md-5">Entered By</div>
		</div>
		<div *ngFor="let consultation of filteredConsultations">
			<div class="row consultation-header">
				<div class="col-md-2">{{ consultation.period.start | cuiDate }}</div>
				<div class="col-md-5">{{ consultation.performedBy?.name | cuiName }}</div>
				<div class="col-md-5">{{ consultation.enteredBy?.name | cuiName }}</div>
			</div>
			<div *ngFor="let reason of consultation.reason">
				<div class="row">
					<div class="col-md-12">{{ reason.display }}</div>
				</div>
			</div>
		</div>
	</div>
</div>