<h4 class="page-sub-header">Consultations <small> ({{filteredConsultations.length}} items<span [hidden]="filteredConsultations?.length == consultations?.length"> - filtered</span>)</small></h4>

<div class="row">
	<div class="col-md-2">
		<span class="consultation-title">Date filter</span>
		<Tree [nodes]="dateTreeData" (onActivate)="selectDate($event.node.data)" (onUpdateData)="onUpdateData()" (onInitialized)="onInitialized()">
			<template #treeNodeTemplate let-node>
				{{ node.data.title }}
			</template>
		</Tree>
	</div>
	<div class="col-md-10">
		<table class="table table-condensed table-striped table-hover table-selectable clinical-items-table">
			<thead>
				<th>Consultation date</th>
				<th>Reason</th>
				<th>Provider</th>
				<th>Location (active)</th>
				<th>Performed by</th>
				<th>Class</th>
				<th>Status</th>
			</thead>
			<tbody>
				<tr *ngIf="!filteredConsultations || filteredConsultations.length == 0"><td colspan="2"><i>(no consultations)</i></td></tr>
				<tr *ngFor="let consultation of filteredConsultations">
					<td>{{ consultation.period.start | cuiDate }}</td>
					<td>
						<div *ngFor="let reason of consultation.reason">
							<span class="problem-associated-text">{{ reason.text }}</span>
						</div>
					</td>
					<td><span class="problem-term-significance-text"> {{consultation.serviceProvider?.name}}</span></td>
					<td>{{consultation.location?.name}}<span class="fa fa-copyright" *ngIf="consultation.location?.description" ngbTooltip="{{consultation.location?.description}}"></span></td>
					<td>
						<span class="problem-term-text">{{ consultation.performedBy?.name | cuiName }}</span>
					</td>
					<td>{{ consultation.class_ }}</td>
					<td>{{ consultation.status }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>