<h4 class="page-sub-header">Consultations <small> ({{filteredConsultations.length}} items<span [hidden]="filteredConsultations?.length == consultations?.length"> - filtered</span>)</small></h4>

<div class="row">
	<div class="col-md-2">
		<span class="consultation-title">Date Filter</span>
		<Tree [nodes]="dateTreeData" (onActivate)="selectDate($event.node.data)" (onUpdateData)="onUpdateData()" (onInitialized)="onInitialized()">
			<template #treeNodeTemplate let-node>
				{{ node.data.title }}
			</template>
		</Tree>
	</div>
	<div class="col-md-10">
		<table class="table table-condensed table-striped table-hover table-selectable clinical-items-table">
			<thead>
				<th>Consultation Date</th>
				<th>Type (Location)</th>
				<th>Performed By</th>
			</thead>
			<tbody>
				<tr *ngIf="!filteredConsultations || filteredConsultations.length == 0"><td colspan="2"><i>(no consultations)</i></td></tr>
				<tr *ngFor="let consultation of filteredConsultations">
					<td>{{ consultation.period.start | cuiDate }}</td>
					<td>
						<div *ngFor="let reason of consultation.reason">
							<span class="problem-associated-text">{{ reason | codeAnyTerm }}</span>
							<span class="problem-term-significance-text" *ngIf="consultation.encounterSource"> {{consultation.encounterSource | codeAnyTerm}}</span>
						</div>
					</td>
					<td>
						<span class="problem-term-text">{{ consultation.performedBy?.name | cuiName }}</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>