<h4 class="page-sub-header">Family history <small> ({{familyHistory?.length}} items)</small></h4>

<table class="table table-condensed table-striped table-hover table-selectable clinical-items-table">
	<thead>
		<th>Date</th>
		<th>Condition(s)</th>
		<th>Family member</th>
	</thead>
	<tbody>
		<tr *ngIf="!familyHistory || familyHistory.length == 0"><td colspan="2"><i>(no family history)</i></td></tr>
		<tr *ngFor="let item of familyHistory">
			<td>{{item.recordedDate | cuiDate}}</td>
			<td>
				<familyHistoryCondition [conditions]="item.conditions"></familyHistoryCondition>
			</td>
			<td>{{item.code.text}}</td>
		</tr>
	</tbody>
</table>