<h4 class="page-sub-header">Immunizations <small> ({{immunizations?.length}} items)</small></h4>

<table class="table table-condensed table-striped table-hover table-selectable clinical-items-table">
	<thead>
		<th>Date</th>
		<th>Term</th>
	</thead>
	<tbody>
		<tr *ngIf="!immunizations || immunizations.length == 0"><td colspan="2"><i>(no immunizations)</i></td></tr>
		<tr *ngFor="let immunization of immunizations">
			<td>{{immunization.effectiveDate | cuiDate}}</td>
			<td>
				<span class="problem-term-text">{{immunization.code | codeReadTerm}}</span>
			</td>
		</tr>
	</tbody>
</table>