<h4 class="page-sub-header">Immunisations <small> ({{immunisations?.length}} items)</small></h4>

<table class="table table-condensed table-striped table-hover table-selectable clinical-items-table">
	<thead>
		<th>Date</th>
		<th>Term</th>
	</thead>
	<tbody>
		<tr *ngIf="!immunisations || immunisations.length == 0"><td colspan="2"><i>(no immunisations)</i></td></tr>
		<tr *ngFor="let immunisation of immunisations">
			<td>{{immunisation.effectiveDate | cuiDate}}</td>
			<td>
				<codeTooltip [code]="immunisation.code"></codeTooltip>
				<span class="problem-term-text">{{immunisation.code.text}}</span>
			</td>
		</tr>
	</tbody>
</table>