<div class="row">
	<div class="col-md-12">

		<h4 class="page-sub-header">Investigations <small> ({{investigations?.length}} items)</small></h4>

		<table class="table table-condensed table-striped table-hover table-selectable clinical-items-table">
			<thead>
				<th>Date</th>
				<th>Term</th>
				<th>Value</th>
			</thead>
			<tbody>
				<tr *ngIf="!investigations || investigations.length == 0"><td colspan="2"><i>(no care history)</i></td></tr>
				<tr *ngFor="let investigation of investigations">
					<td>{{investigation.effectiveDate | cuiDate}}</td>
					<td>
						<codeTooltip [code]="investigation.code"></codeTooltip>
						<span class="problem-term-text">{{investigation.code.text}}</span>
						<div *ngFor="let related of investigation.related">
							<span>{{ related.target?.code?.text }}</span>
						</div>
					</td>
					<td>
						<span>{{investigation?.value | cuiQuantity }}&nbsp;</span> <!-- nbsp forces "row" when value not present, for alignment of "related" -->
						<div *ngFor="let related of investigation.related">
							<span>{{ related.target?.value | cuiQuantity }}</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
