<h4 class="page-sub-header">{{title}} <small> ({{medicationOrders.length}} items)</small></h4>

<div class="row">
	<div class="col-md-12">
		<table class="table table-condensed table-striped table-hover table-selectable clinical-items-table">
			<thead>
				<th>Authorized</th>
				<th *ngIf="showDateEnded">Ended</th>
				<th>Medication</th>
				<th>Prescriber</th>
			</thead>
			<tbody>
				<tr *ngIf="!medicationOrders || medicationOrders.length == 0"><td colspan="2"><i>{{placeholder}}</i></td></tr>
				<tr *ngFor="let medicationOrder of medicationOrders" (click)="medicationOrder.showDetail = !medicationOrder.showDetail" [ngClass]="{'collapsed' : !medicationOrder.showDetail}">
					<td>{{medicationOrder.dateAuthorized | cuiDate}}</td>
					<td *ngIf="showDateEnded">{{medicationOrder.dateEnded | cuiDate}}</td>
					<td>
						<span>{{medicationOrder.medication.code | codeAnyTerm}}</span>
						<span *ngIf="medicationOrder.dispenseRequest && medicationOrder.dispenseRequest.numberOfRepeatsAllowed > 0"> [REPEAT]</span>
						<div class="problem-detail" [hidden]="!medicationOrder.showDetail">
							<dosageInstructions [dosageInstructions]="medicationOrder.dosageInstructions"></dosageInstructions>
						</div>
					</td>
					<td>{{medicationOrder.prescriber.name | cuiName}}</td>
					<td width="20"><i class="fa toggle-icon" aria-hidden="true"></i></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
