<h4 class="page-sub-header">{{title}} <small> ({{medication.length}} items)</small></h4>

<div class="row">
	<div class="col-md-12">
		<table class="table table-condensed table-striped table-hover table-selectable clinical-items-table">
			<thead>
				<th>Authorised</th>
				<th *ngIf="showDateEnded">Ended</th>
				<th>Medication</th>
				<th>Prescriber</th>
			</thead>
			<tbody>
				<tr *ngIf="!medication || medication.length == 0"><td colspan="4"><i>{{placeholder}}</i></td></tr>
				<tr *ngFor="let med of medication" (click)="med.showDetail = !med.showDetail" [ngClass]="{'collapsed' : !med.showDetail}">
					<td>{{med.dateAuthorised | cuiDate}}</td>
					<td *ngIf="showDateEnded">{{med.dateEnded | cuiDate}}</td>
					<td>
						<span>{{med.medication.code.text}}</span>
						<div class="problem-detail" [hidden]="!med.showDetail">
							<table>
								<tr><td>Dosage </td><td> : <b>{{med.dosage}}</b></td></tr>
								<tr><td>Quantity </td><td> : <b>{{med.authorisedQuantity | cuiQuantity}}</b></td></tr>
								<tr><td>No. of issues </td><td> : <b> {{med.repeatsIssued}}</b></td></tr>
								<tr><td>Last issue date </td><td> : <b> {{med.mostRecentIssue | cuiDate }}</b></td></tr>
							</table>
						</div>
					</td>
					<td>{{med.prescriber?.name | cuiName}}</td>
					<td width="20"><i class="fa toggle-icon" aria-hidden="true"></i></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
