<div class="panel panel-default precis">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-5"><span class="precis-patientname">{{person.name | cuiName}}</span></div>
			<div class="col-sm-3"><span class="precis-label">Born</span> <span class="precis-value">{{person.dateOfBirth | cuiDateOfBirth}}</span></div>
			<div class="col-sm-2"><span class="precis-label">Gender</span> <span class="precis-value">{{person.gender | cuiGender}}</span></div>
			<div class="col-sm-2"><span class="precis-label">NHS No.</span> <span class="precis-value">{{person.nhsNumber | cuiNhsNumber}}</span></div>
		</div>
		<div *ngIf="episodes" class="row">
			<hr>
			<div class="col-sm-5"><span class="precis-patientname"><i class="fa" [ngClass]="getEpisodeType() | locationIcon"></i> {{getName()}}</span></div>
			<div class="col-sm-2"><span class="precis-label">Start</span> <span class="precis-value">{{getPeriodStart() | cuiDate}}</span></div>
			<div class="col-sm-2" *ngIf="getPeriodEnd()"><span class="precis-label">End</span> <span class="precis-value">{{ getPeriodEnd() | cuiDate}}</span></div>
		</div>
	</div>
</div>
