<h4 class="page-sub-header">{{title}} <small> ({{problems.length}} items)</small></h4>

<table class="table table-condensed table-striped table-hover table-selectable clinical-items-table">
	<thead>
		<th>Onset date</th>
		<th>Problem</th>
		<th></th>
	</thead>
	<tbody>
		<tr *ngIf="!problems || problems.length == 0"><td colspan="3"><i>{{placeholder}}</i></td></tr>
		<tr *ngFor="let problem of problems" (click)="problem.showDetail = !problem.showDetail" [ngClass]="{'collapsed' : !problem.showDetail}">
			<td>{{problem.effectiveDate | cuiDate}}</td>
			<td>
				<codeTooltip [code]="problem.code"></codeTooltip>
				<span class="problem-term-text">{{problem.code.text}}</span>
				<span class="problem-term-significance-text">{{problem.significance | codeSignificance | lowercase | parentheses}}</span>
				<span class="problem-associated-text">{{problem.notes}}</span>
				<div class="problem-detail" [hidden]="!problem.showDetail">
					<table>
						<tbody>
							<tr><td>Significance</td><td><b>{{problem.significance | codeSignificance}}</b></td></tr>
							<tr><td>Onset date</td><td><b>{{problem.effectiveDate | cuiDate}}</b></td></tr>
							<tr *ngIf="problem.hasAbated"><td>Has abated?</td><td><b>Yes</b></td></tr>
							<tr *ngIf="problem.hasAbated"><td>Abatement date</td><td><b>{{problem.abatementDate | cuiDate}}</b></td></tr>
							<tr *ngIf="problem.lastReviewDate"><td>Last review date</td><td><b>{{problem.lastReviewDate | cuiDate}}</b></td></tr>
							<tr *ngIf="problem.lastReviewer"><td>Last reviewer</td><td><b>{{problem.lastReviewer.name | cuiName}}</b></td></tr>
						</tbody>
					</table>
				</div>
			</td>
			<td width="20"><i class="fa toggle-icon" aria-hidden="true"></i></td>
		</tr>
	</tbody>
</table>
