<div class="row">
	<div class="col-md-6">
		<problems title="Active problems" [problems]="activeProblems" placeholder="(No active problems)"></problems>
		<problems title="Past problems" [problems]="pastProblems" placeholder="(No past problems)"></problems>
	</div>
	<div class="col-md-6">
		<medication title="Acute medication" [medication]="acuteMedication" placeholder="(No acute medication)"></medication>
		<medication title="Repeat medication" [medication]="repeatMedication" placeholder="(No repeat medication)"></medication>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-6">
		<allergies [allergies]="allergies"></allergies>
	</div>
	<div class="col-md-6">
		<immunisations [immunisations]="immunisations"></immunisations>
	</div>
</div>