<div class="modal-header">
    <button type="button" class="close" (click)="close()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">ODS Search</h4>
</div>

<div class="modal-body">

    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal" role="form">
                <div class="form-group">

                    <label for="inputType" class="col-sm-3 control-label">ODS Code</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="inputType" placeholder="" [(ngModel)]="odsCode" name="odsCode" (keyup)="$event.keyCode == 13 && search(true)" autofocus name="odsCode">
                    </div>

                    <button type="button" class="btn" (click)="search(true)">Search Open ODS</button>
                    <button type="button" class="btn" (click)="search(false)">Search DSM</button>

                    <span class="fa fa-sm fa-refresh fa-refresh-animate" *ngIf="searching"></span>

                </div>
            </form>

        </div>
    </div>


    <div class="row">
        <div class="col-md-12">


            <pre>{{resultStr}}</pre>
            <span *ngIf="busyPostingToExchange">LOADING...</span>


        </div>
    </div>


</div>

<div class="modal-footer">
    <button type="button" class="btn" (click)="close()">Close</button>
</div>
