<div class="module">
	<div class="container-fluid">
		<div class="module-heading">
			Services
			<span *ngIf="filteredServices">
				({{filteredServices.length}} shown of {{services.length}})
			</span>

			<div class="pull-right">
				<button class="btn btn-sm btn-default" (click)="odsSearch()" title="Ods Search">ODS Search</button>
				<button class="btn btn-sm btn-default" (click)="saveToCsv()" title="Save to CSV">Save to CSV</button>
				<button class="btn btn-sm btn-default" (click)="clearFilters()" title="Clear Filters">Clear Filters</button>
				<button class="btn btn-sm btn-default" (click)="toggleFilter()" title="Toggle Filter">Toggle Filter</button>
				<button class="btn btn-sm btn-default" (click)="refreshAllServices()" title="Toggle Filters">Refresh</button>
				<button class="btn btn-sm btn-success" (click)="add()" title="Add">Add new</button>
			</div>
		</div>
		<div class="module-body">

			<div class="panel panel-primary" *ngIf="serviceService.showFilters">
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">

							<!-- name and ID filtering -->
							<div class="col-sm-2">

								<label for="inputType" class="control-label">Name/ID</label>

								<div class="pull-right">
									<label for="serviceNameSearchIncludeTags" class="control-label">Match tags</label>
									<input type="checkbox" id="serviceNameSearchIncludeTags" [(ngModel)]="serviceService.serviceNameSearchIncludeTags" name="serviceNameSearchIncludeTags" (ngModelChange)="applyFiltering()">
									<span *ngIf="serviceService.serviceNameSearchIncludeTags">
										<select id="serviceNameSearchSpecificTag" [(ngModel)]="serviceService.serviceNameSearchSpecificTag" name="serviceNameSearchSpecificTag" (ngModelChange)="applyFiltering()">
											<option value="">All Tags</option>
											<option *ngFor="let tagName of serviceService.getTagNamesFromCache()" value="{{tagName}}">{{tagName}}</option>
										</select>
									</span>
								</div>

								<input type="text" class="form-control" id="inputType" placeholder="Regex" [(ngModel)]="serviceService.serviceNameFilter" name="serviceNameFilter" (ngModelChange)="applyFiltering()">

							</div>

							<!-- parent / CCG filtering -->
							<div class="col-sm-2">
								<label for="inputType2" class="control-label">Parent</label>

								<div class="pull-right">
									<label for="serviceCcgCodeFilterIsRegex" class="control-label">Regex</label>
									<input type="checkbox" id="serviceCcgCodeFilterIsRegex" [(ngModel)]="serviceService.serviceCcgCodeFilterIsRegex" name="serviceCcgCodeFilterIsRegex" (ngModelChange)="applyFiltering()">
								</div>

								<!-- if not searching regex, show the combo -->
								<select *ngIf="!serviceService.serviceCcgCodeFilterIsRegex" id="inputType2" class="form-control" [(ngModel)]="serviceService.serviceCcgCodeFilterStr" name="serviceCcgCodeFilter" (ngModelChange)="applyFiltering()">
									<option value=""></option>
									<option *ngFor="let ccgCode of serviceService.getCcgCodesFromCache()" value="{{ccgCode}}">{{ccgCode}} {{serviceService.getCcgName(ccgCode)}}</option>
								</select>

								<!-- if searching regex just show a text box -->
								<input *ngIf="serviceService.serviceCcgCodeFilterIsRegex" type="text" class="form-control" id="inputType2" placeholder="Regex" [(ngModel)]="serviceService.serviceCcgCodeFilterRegex" name="serviceCcgCodeFilter" (ngModelChange)="applyFiltering()">
							</div>

							<!-- publisher config filtering -->
							<div class="col-sm-2">
								<label for="inputType5" class="control-label">Publisher Config</label>
								<select id="inputType5" class="form-control" [(ngModel)]="serviceService.servicePublisherConfigFilter" name="servicePublisherConfigFilter" (ngModelChange)="applyFiltering()">
									<option value=""></option>
									<option *ngFor="let publisherConfigName of serviceService.getPublisherConfigNamesFromCache()" value="{{publisherConfigName}}">{{publisherConfigName}}</option>
									<option value="NoPublisher">No publisher set</option>
								</select>
							</div>

							<!-- last data date filtering -->
							<div class="col-sm-1">
								<label for="inputType4" class="control-label">Last Data</label>
								<select id="inputType4" class="form-control" [(ngModel)]="serviceService.serviceLastDataFilter" name="lastDataFilter" (ngModelChange)="applyFiltering()">
									<option value=""></option>
									<option value="Today">Today</option>
									<option value="Yesterday">Yesterday</option>
									<option value="ThisWeek">This Week</option>
									<option value="LastWeek">Last Week</option>
									<option value="Older">Older</option>
								</select>
							</div>

							<div class="col-sm-1">
								<label for="servicePublisherModeFilter" class="control-label">Publisher Mode</label>
								<select id="servicePublisherModeFilter" class="form-control" [(ngModel)]="serviceService.servicePublisherModeFilter" name="servicePublisherModeFilter" (ngModelChange)="applyFiltering()">
									<option value=""></option>
									<option value="Publisher_Draft">Draft</option>
									<option value="Publisher_Normal">Normal</option>
									<option value="Publisher_Auto_Fail">Auto-fail</option>
									<option value="Publisher_Bulk">Bulk</option>
								</select>
							</div>



							<div class="col-sm-1">
								<label for="inputType3" class="control-label">Status</label>
								<select id="inputType3" class="form-control" [(ngModel)]="serviceService.serviceStatusFilter" name="serviceStatusFilter" (ngModelChange)="applyFiltering()">
									<option value=""></option>
									<option value="Error">Error</option>
									<option value="Behind">Behind</option>
									<option value="OK">OK</option>
									<option value="NoData">No Data</option>
									<option value="NoStatus">No Status</option>
								</select>
							</div>

							<div class="col-sm-2">
								<label for="sortFilter" class="control-label">Sorting</label>
								<select id="sortFilter" class="form-control" [(ngModel)]="serviceService.sortFilter" name="sortFilter" (ngModelChange)="applyFiltering()">
									<option value="NameAsc">Name Asc</option>
									<option value="NameDesc">Name Desc</option>
									<option value="IDAsc">ID Asc</option>
									<option value="IDDesc">ID Desc</option>
									<option value="ParentAsc">Parent Asc</option>
									<option value="ParentDesc">Parent Desc</option>
									<option value="PublisherConfigAsc">Publisher Config Asc</option>
									<option value="PublisherConfigDesc">Publisher Config Desc</option>
									<option value="LastDataAsc">Last Data Asc</option>
									<option value="LastDataDesc">Last Data Desc</option>
									<option value="StatusAsc">Status Asc</option>
									<option value="StatusDesc">Status Desc</option>
								</select>
							</div>

						</div>
					</form>
				</div>
			</div>

			<form>
				<div class="row">
					<div class="form-group col-md-12">
						<div class="table">
							<table class="table table-striped table-condensed">
								<thead>
									<tr>
										<th class="col-md-3">Name</th>
										<th class="col-md-1">ID</th>
										<th class="col-md-1">Parent</th>
										<th class="col-md-1">Publisher Config</th>
										<th class="col-md-1">Last Data</th>
										<th class="col-md-1">Status</th>
										<th class="col-md-3">Tags</th>
										<th class="col-md-1">Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr class="hover-box show-child-on-hover" *ngFor="let service of filteredServices">

										<!-- service name -->
										<td>
											<a (click)="edit(service)">{{service.name}}</a>

											<!-- icon with tooltip showing alias -->
											<span class="fa fa-info-circle fa-right-pad text-muted" ngbTooltip="{{service.alias}}" *ngIf="service.alias"></span>

										</td>

										<!-- service ID -->
										<td>{{service.localIdentifier}}</td>

										<!-- service parent -->
										<td>
											<span ngbTooltip="{{serviceService.getCcgName(service.ccgCode)}}">
												{{service.ccgCode}}
											</span>
										</td>

										<!-- publisher config -->
										<td>{{service.publisherConfigName}}</td>

										<!-- last data -->
										<td>
											<div *ngIf="service.systemStatuses">
												<div *ngFor="let status of service.systemStatuses">
													<span ngbTooltip="{{formatLastDataTooltip(service, status)}}">{{formatLastData(service, status)}}</span>
												</div>
											</div>
										</td>

										<!-- status and publisher mode -->
										<td>
											<div *ngIf="service.systemStatuses">
												<div *ngFor="let status of service.systemStatuses">
													<span ngbTooltip="{{formatProcessingStatusTooltip(service, status)}}">{{formatProcessingStatus(service, status)}}</span>

													<span *ngIf="status.processingInError" class="fa fa-exclamation-triangle"></span>
												</div>
											</div>
										</td>

										<!-- tags -->
										<td>
											{{getTagStrPrefix(service)}}
											<span class="fa fa-info-circle fa-right-pad text-muted" ngbTooltip="{{getTagStr(service)}}" *ngIf="getTagStr(service).length > tagStrDisplayLimit"></span>
										</td>

										<!-- action button -->
										<td>
											<button type="button" class="btn btn-default btn-xs child-to-show" (click)="viewExchanges(service)">Exchanges</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>
