<div class="module">
	<div class="container-fluid">
		<div class="module-heading">
			Service Details
			<div class="pull-right">
				<button type="button" class="btn btn-sm btn-success" (click)="save(false)">Save</button>
				<button type="button" class="btn btn-sm btn-warning" (click)="save(true)">Save & Close</button>
				<button type="button" class="btn btn-sm btn-danger" (click)="close()">Cancel</button>
			</div>
		</div>
		<div class="module-body">
			<form>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="control-label">Local Identifier</label>
						<input type="text" class="form-control" placeholder="Local Identifier" [(ngModel)]="service.localIdentifier" name="localIdentifier">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="control-label">Name</label>
						<input type="text" class="form-control" placeholder="Service name" [(ngModel)]="service.name" name="name">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="control-label">Publisher Config Name</label>
						<input type="text" class="form-control" placeholder="Config name for publisher DB" [(ngModel)]="service.publisherConfigName" name="publisherConfigName">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-8">
						<label class="control-label">Endpoints</label> <button type="button" class="btn btn-xs btn-success" (click)="addEndpoint()">Add</button>
						<div class="table scroll-box-200">
							<table class="table table-striped table-condensed">
								<thead>
									<th class="col-md-3">System</th>
									<th class="col-md-3">Interface</th>
									<th class="col-md-5">Endpoint</th>
									<th class="col-md-1"></th>
								</thead>
								<tbody>
									<tr class="hover-box show-child-on-hover"
											*ngFor="let item of service?.endpoints; let i = index;"
											(click)="selectedEndpoint = item;"
											[ngClass]="{'selection': item == selectedEndpoint}">
										<td>{{ getSystem(item?.systemUuid)?.name}}</td>
										<td>{{ getTechnicalInterface(item?.technicalInterfaceUuid)?.name}}</td>
										<td>{{ item?.endpoint }}</td>
										<td>
											<div class="child-to-show">
												<button type="button" class="btn btn-danger btn-xs pull-right" (click)="removeEndpoint(i, this)">
													<span class="fa fa-remove"></span>
												</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="form-group col-md-4" *ngIf="selectedEndpoint">
						<div class="row">
							<div class="form-group col-md-12">
								<label>System</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-laptop fa-lg fa-fw"></i></span>
									<select id="system" class="form-control" [(ngModel)]="selectedEndpoint.systemUuid" name="systemUuid">
										<option *ngFor="let item of systems" value="{{item?.uuid}}">{{item?.name}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label>Technical Interface</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-cog fa-lg fa-fw"></i></span>
									<select id="technicalInterface" class="form-control" [(ngModel)]="selectedEndpoint.technicalInterfaceUuid" name="technicalInterfaceUuid">
										<option *ngFor="let item of getSystem(selectedEndpoint?.systemUuid)?.technicalInterface" value="{{item?.uuid}}">{{item?.name}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label>Endpoint</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-globe fa-lg fa-fw"></i></span>
									<input id="endpoint" type="url" class="form-control" [(ngModel)]="selectedEndpoint.endpoint" name="endpoint"/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="control-label">Organisations</label> <button type="button" class="btn btn-xs btn-success" (click)="editOrganisations()">Edit</button>
						<div class="table scroll-box-150">
							<table class="table table-striped table-condensed">
								<tbody>
									<tr *ngFor="let item of organisations">
										<td>{{ item?.name }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
