<div class="module">
	<div class="container-fluid">
		<div class="module-heading">Administration</div>
		<div class="module-body">
			<div class="row">
			<div class="col-md-3">
				<div class="panel panel-primary">
					<div class="panel-body">
						<form>
							<div class="form-group">
								<div class="btn-group-vertical btn-block">
									<label class="btn btn-default" ng-model="admin.userType" uib-btn-radio="'all'" ng-checked="'true'" ng-click="userFilter = {}">All users</label>
									<label class="btn btn-default" ng-model="admin.userType" uib-btn-radio="'active'">Active users</label>
									<label class="btn btn-default" ng-model="admin.userType" uib-btn-radio="'admin'" ng-click="userFilter = {forename:'John'}">Administrators</label>
									<label class="btn btn-default" ng-model="admin.userType" uib-btn-radio="'super'" ng-click="userFilter = {isSuperUser:true}">Super users</label>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<input type="text" placeholder="Name or email" class="form-control">
									<span class="btn input-group-addon">
										<i class="fa fa-search"></i>
									</span>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="col-md-9">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<label class="btn btn-xs btn-success pull-right">Add new</label>
						Users
					</div>
					<div class="panel-body">
						<div class="table">
							<table class="table table-striped table-condensed">
								<thead>
									<tr>
										<th class="col-md-4"  ng-click="sortField='username'; sortReverse=!sortReverse">EMail
											<span ng-show="sortField == 'username'"
														class="fa fa-sm"
														ng-class="{'fa-chevron-down':!sortReverse, 'fa-chevron-up':sortReverse}"></span>

										</th>
										<th class="col-md-2" ng-click="sortField='surname'; sortReverse=!sortReverse">Surname
											<span ng-show="sortField == 'surname'"
														class="fa fa-sm"
														ng-class="{'fa-chevron-down':!sortReverse, 'fa-chevron-up':sortReverse}"></span>
										</th>
										<th class="col-md-2" >Forename</th>
										<th class="col-md-2"  ng-click="sortField='isSuperUser'; sortReverse=!sortReverse">Super
											<span ng-show="sortField == 'isSuperUser'"
														class="fa fa-sm"
														ng-class="{'fa-chevron-down':!sortReverse, 'fa-chevron-up':sortReverse}"></span>
										</th>
										<th class="col-md-2" >Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="user in admin.userList | orderBy:sortField:sortReverse | filter : userFilter" class="hover-box show-child-on-hover">
										<td><a ng-click="admin.viewUser(user)">{{user.username}}</a></td>
										<td>{{user.surname}}</td>
										<td>{{user.forename}}</td>
										<td><span class="fa" ng-class="{'fa-check text-success': user.isSuperUser,'fa-times text-danger': !user.isSuperUser}"></span></td>
										<td>
											<span class="child-to-show">
												<label class="btn btn-info btn-xs" ng-click="admin.viewUser(user)">View</label>
												<label class="btn btn-success btn-xs" ng-click="admin.editUser(user)">Edit</label>
												<label class="btn btn-danger btn-xs" ng-click="admin.deleteUser(user)">Delete</label>
											</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>