<div class="modal-header">
	<button type="button" class="close" data-ng-click="ctrl.cancel()" aria-hidden="true">&times;</button>
	<h4 class="modal-title">{{ ctrl.title }}</h4>
</div>
<div class="modal-body">
	<form endUserRole="form" class="container-fluid">
		<!-- Search -->
		<div class="row">
			<div class="form-group col-md-12">
				<span>{{ ctrl.message }}</span>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn" data-ng-click="ctrl.cancel()">{{ ctrl.cancelText }}</button>
	<button type="button" class="btn btn-primary" data-ng-click="ctrl.ok()" autofocus>{{ ctrl.okText }}</button>
</div>

