<div class="modal-header">
	<button type="button" class="close" data-ng-click="ctrl.cancel()" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Organisation Picker</h4>
</div>
<div class="modal-body">
	<form endUserRole="form" class="container-fluid">
		<!-- Name -->
		<div class="row" ng-show="ctrl.editMode">
			<div class="form-group col-md-12">
				<label class="control-label">Organisation Set Name</label>
				<input type="text" class="form-control" ng-model="ctrl.resultData.name">
			</div>
		</div>

		<!-- Organisation Set -->
		<div class="row" ng-hide="ctrl.editMode">
			<div class="form-group col-md-12">
				<label>Defined Sets</label>
				<div class="row">
					<div class="col-md-9">
						<div class="btn-group btn-block dropdown" uib-dropdown>
							<button type="button" class="btn btn-default btn-block" uib-dropdown-toggle>
								<div>
									<span style="float: left">{{ ctrl.resultData.name }}</span><span style="float: right; vertical-align: middle"><i class="fa fa-caret-down"></i></span>
								</div>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
								<li role="menuitem"><a ng-click="ctrl.selectSet(null)">&lt;New Organisation Set&gt;</a></li>
								<li class="divider"></li>
								<li role="menuitem" ng-repeat="orgSet in ctrl.organisationSetList"><a ng-click="ctrl.selectSet(orgSet)">{{ orgSet.name }}</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<Button type="button" class="btn btn-success btn-block" ng-click="ctrl.saveSet()">Save Set</Button>
					</div>
				</div>
			</div>
		</div>

		<!-- Search -->
		<div class="row">
			<div class="form-group col-md-12">
				<label class="control-label">Search</label>
				<div class="input-group">
					<input type="text" class="form-control" autofocus
								 placeholder="Seach criteria"
								 ng-model="ctrl.searchCriteria"
								 ng-keyup="$event.keyCode == 13 && ctrl.search()">
					<span class="input-group-addon" ng-click="ctrl.search()" style="cursor: pointer">
						<i class="fa fa-search" id="searchTerm" aria-hidden="true"></i>
					</span>
				</div>
			</div>
		</div>

		<!-- Matches -->
		<div class="row">
			<div class="form-group col-md-12">
				<label>Matches</label>
				<div class="form-control scroll-box-100">
					<div class="row striped hover-box show-child-on-hover" ng-repeat="org in ctrl.searchResults">
						<div class="col-md-8">{{ org.name }}</div>
						<div class="col-md-3">{{ org.odsCode }}</div>
						<div class="col-md-1"><button type="button" class="btn btn-xs btn-success child-to-show" ng-click="ctrl.addOrganisationToSelection(org)"><span class="fa fa-plus"></span></button></div>
					</div>
				</div>
			</div>
		</div>

		<!-- Selection -->
		<div class="row">
			<div class="form-group col-md-12">
				<label>Selection</label><button type="button" class="btn btn-xs btn-warning pull-right" ng-click="ctrl.removeAll()">Remove all</button>
				<div class="form-control scroll-box-100">
					<div class="row striped hover-box show-child-on-hover" ng-repeat="member in ctrl.resultData.organisations">
						<div class="col-md-8">{{ member.name }}</div>
						<div class="col-md-3">{{ member.odsCode }}</div>
						<div class="col-md-1"><button type="button" class="btn btn-xs btn-danger child-to-show" ng-click="ctrl.removeOrganisationFromSelection(member)"><span class="fa fa-minus"></span></button></div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn bnt-default" data-ng-click="ctrl.cancel()">Cancel</button>
	<button type="button" class="btn btn-primary" ng-hide="ctrl.editMode" data-ng-click="ctrl.ok()">Ok</button>
	<button type="button" class="btn btn-success" ng-show="ctrl.editMode" data-ng-click="ctrl.ok()">Save</button>
</div>

