<div class="module">
	<div class="module-heading">
		Audit Monitor
		<button class="btn btn-success btn-sm pull-right" ng-click="ctrl.refresh()">Refresh</button>
	</div>
	<div class="module-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">Recent Audit Events <span class="fa fa-sm fa-refresh fa-refresh-animate" ng-hide="ctrl.auditEvents"></span></div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-3">
									<label for="user">Select User<i class="fa fa-filter fa-lg fa-fw"></i></label>
									<div class="input-group">
										<input readonly id="user" class="form-control" ng-model="ctrl.userName" ng-change="ctrl.refresh()">
										<span class="input-group-addon"><i class="fa fa-search fa-lg fa-fw"></i></span>
									</div>
								</div>
								<div class="form-group col-md-3">
									<label for="organisation">Filter by Organisation<i class="fa fa-filter fa-lg fa-fw"></i></label>
									<div class="input-group">
										<input readonly id="organisation" class="form-control" ng-model="ctrl.organisationName" ng-change="ctrl.refresh()">
										<span class="input-group-addon" ng-click="ctrl.pickOrganisation()"><i class="fa fa-search fa-lg fa-fw"></i></span>
									</div>
								</div>
								<div class="form-group col-md-2">
									<label for="module">Filter by Module<i class="fa fa-filter fa-lg fa-fw"></i></label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-warning fa-lg fa-fw"></i></span>
										<select id="module" class="form-control" ng-model="ctrl.module" ng-change="ctrl.refresh()">
											<option value="">All</option>
											<option ng-repeat="module in ctrl.modules" value="{{module}}">{{module}}</option>
										</select>
									</div>
								</div>
								<div class="form-group col-md-2" ng-show="ctrl.module">
									<label for="submodule">Filter by Submodule<i class="fa fa-filter fa-lg fa-fw"></i></label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-warning fa-lg fa-fw"></i></span>
										<select id="submodule" class="form-control" ng-model="ctrl.submodule" ng-change="ctrl.refresh()">
											<option value="">All</option>
											<option ng-repeat="submodule in ctrl.submodules" value="{{submodule}}">{{submodule}}</option>
										</select>
									</div>
								</div>
								<div class="form-group col-md-2" ng-show="ctrl.module && ctrl.submodule">
									<label for="action">Filter by Action<i class="fa fa-filter fa-lg fa-fw"></i></label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-warning fa-lg fa-fw"></i></span>
										<select id="action" class="form-control" ng-model="ctrl.action" ng-change="ctrl.refresh()">
											<option value="">All</option>
											<option ng-repeat="action in ctrl.actions" value="{{action}}">{{action}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="table">
								<table class="table table-striped table-condensed">
									<thead>
										<tr>
											<!--<th>User Id</th>-->
											<!--<th>Service Id</th>-->
											<th>Module</th>
											<th>Submodule</th>
											<th>Action</th>
											<th>Timestamp</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="event in ctrl.auditEvents">
											<!--<td>{{event.userId}}</td>-->
											<!--<td>{{event.serviceId}}</td>-->
											<td>{{event.module}}</td>
											<td>{{event.subModule}}</td>
											<td>{{event.action}}</td>
											<td>{{event.timestamp | date:'dd-MMM-yyyy HH:mm:ss'}}</td>
										</tr>
									</tbody>
								</table>
							</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

