<div class="module">
	<div class="module-heading">
		Audit Monitor
		<button class="btn btn-success btn-sm pull-right" ng-click="ctrl.refresh()">Refresh</button>
	</div>
	<div class="module-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">Recent Audit Events <span class="fa fa-sm fa-refresh fa-refresh-animate" ng-hide="ctrl.auditEvents"></span></div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-md-3">
									<br/>
									<label>Filter by Service<i class="fa fa-filter fa-lg fa-fw"></i></label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-hospital-o fa-lg fa-fw"></i></span>
										<select id="service" class="form-control" ng-model="loggingCtrl.serviceId" ng-change="loggingCtrl.refresh()">
											<option ng-repeat="item in loggingCtrl.services" value="{{item.uuid}}">{{item.name}}</option>
										</select>
									</div>
								</div>
								<div class="form-group col-md-3">
									<br/>
									<label>Filter by Event Type<i class="fa fa-filter fa-lg fa-fw"></i></label>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-warning fa-lg fa-fw"></i></span>
										<select id="level" class="form-control" ng-model="loggingCtrl.level" ng-change="loggingCtrl.refresh()">
											<option value="">All</option>
											<option value="INFO">Information</option>
											<option value="WARN">Warnings</option>
											<option value="ERROR">Error</option>
											<option value="FATAL">Fatal</option>
											<option value="DEBUG">Debug</option>
											<option value="TRACE">Trace</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="table">
								<table class="table table-striped table-condensed">
									<thead>
										<tr>
											<th>Timestamp</th>
											<th>Type</th>
											<th>Message</th>
											<th>Caller Function</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="event in loggingCtrl.loggingEvents">
											<td>{{event.timestmp | date:'dd-MMM-yyyy HH:mm:ss'}}</td>
											<td>{{event.levelString}}</td>
											<td>
												<a style="cursor:pointer" ng-click="loggingCtrl.actionItem(event,'view')">{{event.formattedMessage}}</a>
											</td>
											<td>{{event.callerMethod}}</td>
										</tr>
									</tbody>
								</table>
							</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

