<div class="module">
    <div class="module-heading">
        SFTP Reader Status <span
            *ngIf="statusesLastRefreshed">(as of {{statusesLastRefreshed | date:'HH:mm:ss'}})</span>
        <div class="pull-right">

            <form class="form-inline">

                <button class="btn btn-sm btn-default" (click)="saveToCsv()" title="Save to CSV">Save to CSV</button>
                <button class="btn btn-sm btn-default" (click)="togglePauseAll()" title="Toggle Pause All">Toggle Pause All</button>
                <button class="btn btn-sm btn-default" (click)="odsSearch()" title="Ods Search">ODS Search</button>
                <button class="btn btn-sm btn-success" (click)="refreshScreen()">Refresh</button>

            </form>

        </div>
    </div>
    <div class="module-body">

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Application Instances

                        <div class="pull-right">
                            <label for="showExecutionTime" class="control-label">Execution Time</label>
                            <input type="checkbox" id="showExecutionTime" [(ngModel)]="sftpReaderService.showExecutionTime" name="showExecutionTime">

                            <label for="showMemory" class="control-label">Memory (Current/Max)</label>
                            <input type="checkbox" id="showMemory" [(ngModel)]="sftpReaderService.showMemory" name="showMemory">

                            <label for="showJarDate" class="control-label">Jar Date</label>
                            <input type="checkbox" id="showJarDate" [(ngModel)]="sftpReaderService.showJarDate" name="showJarDate">

                            <label for="showStartDate" class="control-label">Start Date</label>
                            <input type="checkbox" id="showStartDate" [(ngModel)]="sftpReaderService.showStartDate" name="showStartDate">
                        </div>

                    </div>
                </div>
            </div>
        </div>

<!--        <div class="row">
            <div class="col-md-12">


                <label for="showExecutionTime" class="control-label">Execution Time</label>
                <input type="checkbox" id="showExecutionTime" [(ngModel)]="sftpReaderService.showExecutionTime" name="showExecutionTime">

                <label for="showMemory" class="control-label">Memory (Current/Max)</label>
                <input type="checkbox" id="showMemory" [(ngModel)]="sftpReaderService.showMemory" name="showMemory">

                <label for="showJarDate" class="control-label">Jar Date</label>
                <input type="checkbox" id="showJarDate" [(ngModel)]="sftpReaderService.showJarDate" name="showJarDate">

                <label for="showStartDate" class="control-label">Start Date</label>
                <input type="checkbox" id="showStartDate" [(ngModel)]="sftpReaderService.showStartDate" name="showStartDate">

            </div>
        </div>-->

        <div class="row" *ngIf="applicationStatus">
            <div class="col-md-3" *ngFor="let appStatus of applicationStatus">

                <span [ngStyle]="getApplicationCellColour(appStatus)">
                    {{appStatus.applicationInstanceName}}

                    <span *ngIf="isApplicationDead(appStatus)">
                        <span class="label label-danger"><span class="fa fa-warning" ngbTooltip="{{appStatus.isBusyDetail}}"></span>{{getApplicationAgeDesc(appStatus)}}</span>
                    </span>

                    <span *ngIf="!isApplicationDead(appStatus)">

                        <!-- icon if new jar deployed but app not restarted -->
                        <span *ngIf="isApplicationNeedsRestart(appStatus)" class="fa fa-clock-o" ngbTooltip="{{getApplicationNeedsRestartDesc(appStatus)}}"></span>

                        <!-- if busy, show the play icon and when it was busy from -->
                        <span *ngIf="appStatus.isBusy" class="fa fa-play" ngbTooltip="{{appStatus.isBusyDetail}}"></span>

                        <!-- if not doing anything show a pause icon -->
                        <span *ngIf="!appStatus.isBusy" class="fa fa-pause" ngbTooltip="Application running but idle"></span>

                        <span *ngIf="sftpReaderService.showExecutionTime" class="text-muted"> {{getApplicationExecutionTime(appStatus)}}</span>
                        <span *ngIf="sftpReaderService.showMemory" class="text-muted"> [{{appStatus.currentHeapDesc}} / {{appStatus.maxHeapDesc}}]</span>
                        <span *ngIf="sftpReaderService.showJarDate" class="text-muted"> [Jar {{appStatus.dtJar | date:'yyyy-MM-dd HH:mm:ss'}}]</span>
                        <span *ngIf="sftpReaderService.showStartDate" class="text-muted"> [Started {{appStatus.dtStarted | date:'yyyy-MM-dd HH:mm:ss'}}]</span>


                    </span>
                </span>

            </div>
        </div>

        <!-- just some spacing -->
        <div class="row">
            <span>&nbsp;</span>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Feed Status

                        <div class="pull-right">

                            <label for="showWarningsOnly" class="control-label">Show Warnings Only</label>
                            <input type="checkbox" id="showWarningsOnly" [(ngModel)]="sftpReaderService.showWarningsOnly" name="showWarningsOnly">
                            &nbsp;&nbsp;&nbsp;

                            <label for="filterInstanceName" class="control-label">Instance</label>
                            <select id="filterInstanceName" name="filterInstanceName" [(ngModel)]="sftpReaderService.filterInstanceName">
                                <option value="">All</option>
                                <option *ngFor="let instanceName of getInstanceNames()" value="{{instanceName}}">{{instanceName}}</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--
        <div class="row">
            <div class="col-md-12">

                <div class="form-group">

                    <label for="showWarningsOnly" class="control-label">Show Warnings Only</label>
                    <input type="checkbox" id="showWarningsOnly" [(ngModel)]="sftpReaderService.showWarningsOnly" name="showWarningsOnly">
                    &nbsp;&nbsp;&nbsp;

                    <label for="filterInstanceName" class="control-label">Instance</label>
                    <select id="filterInstanceName" name="filterInstanceName" [(ngModel)]="sftpReaderService.filterInstanceName">
                        <option value="">All</option>
                        <option *ngFor="let instanceName of getInstanceNames()" value="{{instanceName}}">{{instanceName}}</option>
                    </select>

                </div>


            </div>
        </div>
-->


        <div class="row">
            <div class="col-md-12">
                <div class="table">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th class="col-md-2">Configuration</th>
                            <th class="col-md-1">App Instance</th>
                            <th class="col-md-4">Third Party->SFTP Reader</th>
                            <th class="col-md-4">SFTP Reader->Messaging API</th>
                            <th class="col-md-1">Actions</th>
                            <!--<th class="col-md-6">Actions</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="hover-box show-child-on-hover" *ngFor="let configuration of getConfigurationsToDisplay()">

                            <!-- configuration name -->
                            <td>
                                <div>{{configuration.configurationId}}</div>
                                <div class="text-muted">
                                    {{configuration.friendlyName}}
                                </div>

                            </td>

                            <!-- instance name -->
                            <td>
                                <div>{{configuration.instanceName}}</div>
                            </td>

                            <td>

                                <div *ngIf="isRefreshing(configuration)">
                                    <span class="fa fa-sm fa-refresh fa-refresh-animate"></span>
                                </div>
                                <div *ngIf="!isRefreshing(configuration)">

                                    <!-- uses a FOR loop for efficiency, but there will only be one item in the array -->
                                    <div class="row" *ngFor="let status of getStatusToDisplay(configuration)">

                                        <div *ngIf="status.latestPollingStart">
                                        <span *ngIf="isLastPollAttemptTooOld(status)">
                                            <span class="label label-danger" *ngIf="isLastPollAttemptTooOld(status)">Warning</span>
                                            &nbsp;
                                        </span>
                                            Last Checked for Data: {{status.latestPollingStart | date:'yyyy-MM-dd HH:mm'}}
                                        </div>
                                        <div *ngIf="!status.latestPollingStart">
                                            <span class="label label-danger">Warning</span>&nbsp;Last Checked for Data:
                                            NEVER
                                        </div>

                                        <div *ngIf="status.latestPollingException">
                                            <span class="label label-danger">Warning</span>
                                            &nbsp;Error on last polling attempt:
                                            <pre style="max-width:450px;" width="70">{{status.latestPollingException}}</pre>
                                        </div>

                                        <div *ngIf="status.latestBatchId">
                                            <div>
                                                <span *ngIf="isLastExtractTooOld(status)">
                                                    <span class="label label-danger" *ngIf="isLastExtractTooOld(status)">Warning</span>
                                                    &nbsp;
                                                </span>
                                                Last Extract Received {{status.latestBatchReceived | date:'yyyy-MM-dd HH:mm'}}
                                            </div>
                                            <!--<div>Data From: {{status.latestBatchIdentifier}}</div>-->
                                            <div>
                                                Last Extract Cutoff: {{status.latestBatchExtractCutoff | date:'yyyy-MM-dd HH:mm'}}
                                            </div>
                                            <div>
                                                Files Received: {{status.latestBatchFileCount}}
                                                , Extract Size: {{status.latestBatchSizeBytes}}
                                                , Valid &amp; Complete: {{status.latestBatchComplete}}
                                            </div>

                                            <!--<div>Extract Sequence No: {{status.latestBatchSequenceNumber}}</div>
                                            <div>Files Received: {{status.latestBatchFileCount}}</div>
                                            <div>Extract Size: {{status.latestBatchSizeBytes}}-->

                                            <!--<div *ngIf="status.latestBatchComplete">
                                                <div>Extract Valid and Complete: YES</div>
                                            </div>
                                            <div *ngIf="!status.latestBatchComplete">
                                                <div>Extract Valid and Complete: NO</div>
                                            </div>-->
                                        </div>
                                        <div *ngIf="!status.latestBatchId">
                                            <span class="label label-danger">Warning</span>
                                            &nbsp;Last Extract Received: NEVER
                                        </div>

                                    </div>
                                </div>

                            </td>
                            <td>

                                <div *ngIf="isRefreshing(configuration)">
                                    <span class="fa fa-sm fa-refresh fa-refresh-animate"></span>
                                </div>
                                <div *ngIf="!isRefreshing(configuration)">

                                    <div class="row" *ngFor="let status of getStatusToDisplay(configuration)">

                                        <div *ngIf="configuration.dtPaused">
                                            <span class="label label-warning">PAUSED {{configuration.dtPaused | date:'yyyy-MM-dd HH:mm'}}</span>
                                        </div>

                                        <div *ngIf="status.completeBatchId">
                                            <div>Posted to API: {{status.completeBatchCompletionDate | date:'yyyy-MM-dd HH:mm'}}</div>
                                            <div>Posted Extract Received: {{status.completeBatchReceived | date:'yyyy-MM-dd HH:mm'}}</div>
                                            <div>Posted Extract Cutoff: {{status.completeBatchExtractCutoff | date:'yyyy-MM-dd HH:mm'}}</div>
                                            <!--<div>Extract Sequence No: {{status.completeBatchSequenceNumber}}</div>-->

                                            <div>
                                                <a (click)="viewOrgs(status, status.completeBatchContents)">{{status.completeBatchContents.length}} Orgs in extract</a>
                                                &nbsp;&nbsp;&nbsp;
                                                <a (click)="viewOrgs(status, status.okBatches)">{{status.okBatches.length}} Orgs OK</a>
                                                &nbsp;&nbsp;&nbsp;
                                                <span *ngIf="status.errorBatches.length > 0" class="label label-danger">Warning</span>
                                                <a (click)="viewOrgs(status, status.errorBatches)">{{status.errorBatches.length}} Orgs in Error</a>
                                                &nbsp;&nbsp;&nbsp;
                                                <span *ngIf="status.dpaErrorBatches.length > 0" class="label label-danger">Warning</span>
                                                <a (click)="viewOrgs(status, status.dpaErrorBatches)">{{status.dpaErrorBatches.length}} DPA Failures</a>
                                            </div>

                                        </div>
                                        <div *ngIf="!status.completeBatchId">
                                            <div>No complete batches received to send to Messaging API</div>
                                        </div>


                                    </div>
                                </div>
                            </td>

                            <td>
                                <button class="btn btn-xs btn-default child-to-show" (click)="viewHistory(configuration)">View History</button>
                                <button class="btn btn-xs btn-default child-to-show" (click)="togglePause(configuration)">Toggle Pause</button>

                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



    </div>
</div>


