<section id="content" class="content">
	<nav class="sidebar">
		<ul>
			<li *ngFor="let menuItem of menuOptions">
				<div uiSref="{{menuItem.state}}" class="menuItem">
					<span class="fa fa-2x {{menuItem.icon}}"></span>
					<span style="cursor:pointer" class="nav-text">
						{{menuItem.caption}}
					</span>
				</div>
			</li>
		</ul>
		<ul class="logout">
			<li>
				<div (click)="logout()" class="menuItem">
					<i class="fa fa-2x fa-power-off"></i>
					<span style="cursor:pointer" class="nav-text">
						Logout
				</span>
				</div>
			</li>
		</ul>
	</nav>

	<ui-view></ui-view>
</section>
