<div class="module">
    <div class="container-fluid">
        <div class="module-heading">Query editor
            <div class="pull-right">
                <button class="btn btn-sm btn-default"
                        ng-click="zoomIn()"
                        title="Zoom in the chart">
                    <i class="fa fa-search-plus"></i> Zoom In
                </button>
                <button class="btn btn-sm btn-default"
                        ng-click="zoomOut()"
                        title="Zoom out the chart">
                    <i class="fa fa-search-minus"></i> Zoom Out
                </button>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <button class="btn btn-sm btn-primary"
                        ng-click="addNewRule('1')"
                        title="Add a new rule to this query">
                    <i class="fa fa-plus"></i> Add Rule
                </button>

                <button class="btn btn-sm btn-default"
                        ng-click="addNewRule('2')"
                        title="Add another query as a rule to this query">
                    <i class="fa fa-plus"></i> Add Query as Rule
                </button>

                <button class="btn btn-sm btn-info"
                        ng-click="addNewRule('3')"
                        title="Add a new expression rule to this query">
                    <i class="fa fa-plus"></i> Add Expression
                </button>

                <button class="btn btn-sm btn-warning"
                        ng-click="deleteSelected()"
                        ng-disabled="chartViewModel.getSelectedRule().length == 0"
                        title="Delete selected rule and connections">
                    <i class="fa fa-times"></i> Delete Selected
                </button>
                <button class="btn btn-sm btn-danger"
                        ng-click="toggleClearQuery()"
                        title="Clear the rules in this this query without saving">
                    <i class="fa fa-eraser"></i> Clear Rules
                </button>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-sm btn-success" data-ng-click="save(false)"><i class="fa fa-save"></i> Save</button>
                <button type="button" class="btn btn-sm btn-warning" data-ng-click="save(true)"><i class="fa fa-save"></i> Save & Close</button>
                <button type="button" class="btn btn-sm btn-danger" data-ng-click="toggleCancelChanges()"><i class="fa fa-undo"></i> Cancel</button>
            </div></div>
        <div class="module-body">
            <div id="queryPage">
                <section class="query-section">
                    <clear-query title="Clear Rules" ng-show="showClearQuery">
                        <div class="modal-body">
                            <p>Are you sure you want to clear the rules in this query (changes will not be saved) ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" ng-click="toggleClearQuery()" class="btn btn-default">No</button>
                            <button type="submit" ng-click="clearQueryYes()" class="btn btn-default">Yes</button>
                        </div>

                    </clear-query>
                    <cancel-changes title="Cancel Changes" ng-show="showCancelChanges">
                        <div class="modal-body">
                            <p>Are you sure you want to cancel the editing of this query (changes will not be saved) ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" ng-click="toggleCancelChanges()" class="btn btn-default">No</button>
                            <button type="submit" ng-click="cancelChangesYes()" class="btn btn-default">Yes</button>
                        </div>

                    </cancel-changes>

                    <flow-chart id="flowChart" ng-style="{'zoom': zoomPercent}"
                            mouse-capture
                            chart="chartViewModel">
                    </flow-chart>
                </section>

                <aside class="query-aside">
                    <div class="queryDiv">
                        <div class="queryHeader">
                            Query Properties
                <span style="float: right; cursor: pointer" class="fa fa-info-circle" ng-click = "ShowDataModel()"
                      title="View Query Document Data Model"></span>
                        </div>

                        <div class="ruleFields">
                            <div class="row">
                                <form class="form">
                                    <fieldset>
                                        <label class="control-label" style="padding: 0px 10px 0px 15px;">Query Name:</label>
                                        <input class="form-control" type="text" name="input" ng-model="queryName" style="margin: 0px 0px 15px 10px;width:275px" ng-change="queryNameChange()">
                                        <label class="control-label" style="padding: 0px 10px 0px 15px;">Query Description:</label>
                                        <textarea class="form-control" ng-model="queryDescription" style="height: 90px; margin: 0px 0px 15px 10px;width:275px" ng-change="queryDescriptionChange()">
                                        </textarea>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="ruleDiv">
                        <div class="ruleHeader">
                            Rule Properties
                        </div>

                        <div class="ruleFields">
                            <div class="row">
                                <form class="form">
                                    <fieldset>
                                        <label class="control-label" style="padding: 0px 10px 0px 15px;">Rule Description:</label>
                                        <input class="form-control" ng-disabled="disableRuleProps" type="text" name="input" ng-model="ruleDescription" style="margin: 0px 0px 15px 10px;width:275px" ng-change="ruleDescriptionChange()">
                                        <label class="control-label" style="padding: 0px 10px 0px 15px;">Rule PASS Action:</label>
                                        <select class="form-control" ng-disabled="disableRuleProps" ng-model="rulePassAction" style="margin: 0px 0px 15px 10px;width:275px" ng-change="rulePassActionChange()">
                                            <option ng-repeat="result in results" value="{{result.value}}">{{result.displayName}}</option>
                                        </select>
                                        <label class="control-label" style="padding: 0px 10px 0px 15px;">Rule FAIL Action:</label>
                                        <select class="form-control" ng-disabled="disableRuleProps" ng-model="ruleFailAction" style="margin: 0px 0px 15px 10px;width:275px" ng-change="ruleFailActionChange()">
                                            <option ng-repeat="result in results" value="{{result.value}}">{{result.displayName}}</option>
                                        </select>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>

            <div class="jsonDiv" ng-show="dataModel">
                <div class="jsonHeader">
                    Query Document Data Model
                    <span style="float: right; cursor: pointer" class="fa fa-remove" ng-click = "ShowDataModel()"></span>
                </div>
                <div style="overflow: auto; height:2000px;">
                   <textarea style="padding:10px;height:488px;width:700px; border:0px"
                             chart-json-edit
                             view-model="chartViewModel">
                   </textarea>
                </div>
            </div>
        </div>
    </div>
</div>

