<svg
        class="chart-container"
        xmlns="http://www.w3.org/2000/svg"
        ng-mousedown="mouseDown($event)"
        ng-mousemove="mouseMove($event)">
    <defs>
        <linearGradient spreadMethod="pad" y2="0" x2="0" y1="1" x1="0" id="ruleBackgroundGradient">
            <stop
                    offset="0" stop-opacity="0.99609" stop-color="#80bdff"/>
            <stop offset="0.63934" stop-opacity="0.99219" stop-color="#cce5ff"/>
        </linearGradient>
        <linearGradient spreadMethod="pad" y2="0" x2="0" y1="1" x1="0" id="expressionRuleBackgroundGradient">
            <stop
                    offset="0" stop-opacity="0.99609" stop-color="#B1EAFF"/>
            <stop offset="0.63934" stop-opacity="0.99219" stop-color="#D7F5FF"/>
        </linearGradient>
        <linearGradient spreadMethod="pad" y2="0" x2="0" y1="1" x1="0" id="queryRuleBackgroundGradient">
            <stop
                    offset="0" stop-opacity="0.99609" stop-color="gainsboro"/>
            <stop offset="0.63934" stop-opacity="0.99219" stop-color="whitesmoke"/>
        </linearGradient>
        <linearGradient spreadMethod="pad" y2="0" x2="0" y1="1" x1="0" id="startRuleBackgroundGradient">
            <stop offset="0" stop-opacity="0.99609" stop-color="green"/>
            <stop offset="0.63934" stop-opacity="0.99219" stop-color="lightgreen"/>
        </linearGradient>

        <marker id="markerArrow" markerWidth="13" markerHeight="13" refX="2" refY="6" orient="auto">
            <path d="M2,2 L2,10 L8,6 L2,2" style="fill: darkgreen"/>
        </marker>
    </defs>
    <g
            ng-repeat="rule in chart.rule"
            ng-mousedown="ruleMouseDown($event, rule)"
            ng-attr-transform="translate({{rule.x()}}, {{rule.y()}})">

        <circle ng-if="rule.description()=='START'"
                ng-attr-class="{{rule.selected() && 'selected-rule-start'
                || (rule == mouseOverRule && 'mouseover-rule-start' || 'rule-start')}}"
                r="40" cx="212" cy="30"
                fill="url(#startRuleBackgroundGradient)"/>

        <rect ng-if="rule.description()!='START' && !rule.expression() && !rule.queryLibraryItemUUID()"
              ng-attr-class="{{rule.selected() && 'selected-rule-rect'
                      || (rule == mouseOverRule && 'mouseover-rule-rect' || 'rule-rect')}}"
              ry="10" rx="10" x="0" y="0"
              ng-attr-width="{{rule.width()}}"
              ng-attr-height="{{110}}"
              fill="url(#ruleBackgroundGradient)">
        </rect>

        <rect ng-if="rule.description()!='START' && rule.expression()"
              ng-attr-class="{{rule.selected() && 'selected-rule-rect'
                      || (rule == mouseOverRule && 'mouseover-rule-rect' || 'rule-rect')}}"
              ry="10" rx="10" x="0" y="0"
              ng-attr-width="{{rule.width()}}"
              ng-attr-height="{{110}}"
              fill="url(#expressionRuleBackgroundGradient)">
        </rect>

        <rect ng-if="rule.description()!='START' && rule.queryLibraryItemUUID()"
              ng-attr-class="{{rule.selected() && 'selected-rule-rect'
                      || (rule == mouseOverRule && 'mouseover-rule-rect' || 'rule-rect')}}"
              ry="10" rx="10" x="0" y="0"
              ng-attr-width="{{rule.width()}}"
              ng-attr-height="{{110}}"
              fill="url(#queryRuleBackgroundGradient)">
        </rect>

        <text ng-if="rule.description()=='START'"
              class="rule-text-start"
              x="210" y="31"
              text-anchor="middle"
              alignment-baseline="middle">
            {{rule.description()}}
        </text>

        <text ng-if="rule.description()!='START' && !rule.expression() && !rule.queryLibraryItemUUID()"
              class="rule-type-text"
              x="18"
              y="20"

              alignment-baseline="middle">
            RULE
        </text>

        <text ng-if="rule.description()!='START' && rule.expression()"
              class="rule-type-text"
              x="18"
              y="20"

              alignment-baseline="middle">
            EXPRESSION
        </text>

        <text ng-if="rule.description()!='START' && rule.queryLibraryItemUUID()"
              class="rule-type-text"
              x="18"
              y="20"

              alignment-baseline="middle">
            QUERY
        </text>

        <text ng-click="editTest($event, rule)"
              ng-if="rule.description()!='START' && rule.description().length<=30"
              class="rule-text"
              ng-attr-x="{{rule.width()/2}}"
              y="60"
              text-anchor="middle"
              alignment-baseline="middle">
            {{rule.description()}}
            <title>{{rule.extendedDescription()}}</title>
        </text>

        <text ng-click="editTest($event, rule)"
              ng-if="rule.description()!='START' && rule.description().length>30"
              class="rule-text"
              ng-attr-x="{{rule.width()/2}}"
              y="50"
              text-anchor="middle"
              alignment-baseline="middle">
            {{firstString(rule.description(), 30)}}
            <title>{{rule.extendedDescription()}}</title>
        </text>

        <text ng-click="editTest($event, rule)"
              ng-if="rule.description()!='START' && rule.description().length>30"
              class="rule-text"
              ng-attr-x="{{rule.width()/2}}"
              y="70"
              text-anchor="middle"
              alignment-baseline="middle">
            {{secondString(rule.description(), 30)}}
            <title>{{rule.extendedDescription()}}</title>
        </text>

        <g ng-if="rule.description()!='START'"
           ng-mouseup="connectorMouseUp($event, rule, 0, 0, true)"
           class="connector input-connector">

            <circle
                    class="connector-circle"
                    ng-attr-r="{{connectorSize}}"
                    cx="0"
                    cy="50"
            />
        </g>

        <g
                ng-mousedown="connectorMouseDown($event, rule, 1, 0, false)"
                class="connector output-connector">
            <text ng-if="rule.description()!='START'"
                  class="connector-text-out-pass"
                  x="230"
                  y="30"
                  text-anchor="end"
                  alignment-baseline="middle">
                PASS
            </text>

            <circle ng-if="rule.description()!='START'"
                    class="connector-circle"
                    ng-attr-r="{{connectorSize}}"
                    cx="250"
                    cy="30"/>

            <circle ng-if="rule.description()=='START'"
                    class="connector-circle"
                    r="9"
                    cx="250"
                    cy="30"/>

            <path ng-if="rule.description()!='START' && rule.onPassAction() == 'NO_ACTION'"
                  class="connection-line-noaction"
                  d="M 260, 30
                     L 280, 30,
                     280, 15,
                     280, 45">
            </path>

            <path ng-if="rule.description()!='START' && rule.onPassAction() == 'INCLUDE'"
                  class="connection-line-noaction"
                  d="M 260, 30
                 L 280, 30">
            </path>

            <text ng-if="rule.description()!='START' && rule.onPassAction() == 'INCLUDE'"
                  class="connector-text-out-include-tick"
                  x="285"
                  y="30"
                  alignment-baseline="middle">
                ✔
            </text>
        </g>
        <g
                ng-mousedown="connectorMouseDown($event, rule, 2, 1, false)"
                class="connector output-connector">
            <text ng-if="rule.description()!='START'"
                  class="connector-text-out-fail"
                  x="230"
                  y="85"
                  text-anchor="end"
                  alignment-baseline="middle">
                FAIL
            </text>

            <circle ng-if="rule.description()!='START'"
                    class="connector-circle"
                    ng-attr-r="{{connectorSize}}"
                    cx="250"
                    cy="85"/>

            <path ng-if="rule.description()!='START' && rule.onFailAction() == 'NO_ACTION'"
                  class="connection-line-noaction"
                  d="M 260, 85
                     L 280, 85,
                     280, 70,
                     280, 100">
            </path>

            <path ng-if="rule.description()!='START' && rule.onFailAction() == 'INCLUDE'"
                  class="connection-line-noaction"
                  d="M 260, 85
                 L 280, 85">
            </path>

            <text ng-if="rule.description()!='START' && rule.onFailAction() == 'INCLUDE'"
                  class="connector-text-out-include-tick"
                  x="285"
                  y="85"
                  alignment-baseline="middle">
                ✔
            </text>
        </g>
    </g>

    <g>
        <g ng-repeat="rule in chart.rule" class="connection">
            <g ng-repeat="startingrules in chart.startingRules">
                <path ng-if="rule.description()=='START' &&
                            rule.y() > findDestRuleY(startingrules.ruleId())"
                      class="connection-line"
                      ng-attr-d="M {{rule.x()+250}}, {{rule.y()+30}}
                     L {{findDestRuleX(startingrules.ruleId())-35}}, {{rule.y()+30}},
                     {{findDestRuleX(startingrules.ruleId())-35}}, {{findDestRuleY(startingrules.ruleId())+50}},
                     {{findDestRuleX(startingrules.ruleId())-20}}, {{findDestRuleY(startingrules.ruleId())+50}}"
                      style="marker-end: url(#markerArrow);">
                </path>

                <path ng-if="rule.description()=='START' &&
                            rule.y() < findDestRuleY(startingrules.ruleId())"
                      class="connection-line"
                      ng-attr-d="M {{rule.x()+250}}, {{rule.y()+30}}
                     L {{findDestRuleX(startingrules.ruleId())-35}}, {{rule.y()+30}},
                     {{findDestRuleX(startingrules.ruleId())-35}}, {{findDestRuleY(startingrules.ruleId())+50}},
                     {{findDestRuleX(startingrules.ruleId())-20}}, {{findDestRuleY(startingrules.ruleId())+50}}"
                      style="marker-end: url(#markerArrow);">
                </path>

                <circle ng-if="rule.description()=='START'"
                        class="connection-endpoint"
                        r="5"
                        ng-attr-cx="{{rule.x()+250}}"
                        ng-attr-cy="{{rule.y()+30}}">
                </circle>

                <circle
                        class="connection-endpoint"
                        r="5"
                        ng-attr-cx="{{findDestRuleX(startingrules.ruleId())}}"
                        ng-attr-cy="{{findDestRuleY(startingrules.ruleId())+50}}">
                </circle>

                <g>

                    <g ng-repeat="nextrule in rule.onPassRuleId()">

                        <path ng-if="rule.x()+300 > findDestRuleX(nextrule) &&
              rule.y() > findDestRuleY(nextrule) && nextrule>0"
                              class="connection-line"
                              ng-attr-d="M {{rule.x()+250}}, {{rule.y()+30}}
                         L {{rule.x()+280}}, {{rule.y()+30}},
                         {{rule.x()+280}}, {{rule.y()-30}},
                         {{findDestRuleX(nextrule)-40}}, {{rule.y()-30}},
                         {{findDestRuleX(nextrule)-40}}, {{findDestRuleY(nextrule)+50}}
                         {{findDestRuleX(nextrule)-20}}, {{findDestRuleY(nextrule)+50}}"
                              style="marker-end: url(#markerArrow);">
                        </path>

                        <path ng-if="rule.x()+335 > findDestRuleX(nextrule) &&
              rule.y() < findDestRuleY(nextrule) && nextrule>0"
                              class="connection-line"
                              ng-attr-d="M {{rule.x()+250}}, {{rule.y()+30}}
                       L {{rule.x()+315}}, {{rule.y()+30}},
                       {{rule.x()+315}}, {{rule.y()+145}},
                       {{findDestRuleX(nextrule)-40}}, {{rule.y()+145}},
                       {{findDestRuleX(nextrule)-40}}, {{findDestRuleY(nextrule)+50}}
                       {{findDestRuleX(nextrule)-20}}, {{findDestRuleY(nextrule)+50}}"
                              style="marker-end: url(#markerArrow);">
                        </path>

                        <path ng-if="rule.x()+300 < findDestRuleX(nextrule) &&
              rule.y() > findDestRuleY(nextrule) && nextrule>0"
                              class="connection-line"
                              ng-attr-d="M {{rule.x()+250}}, {{rule.y()+30}}
                         L {{findDestRuleX(nextrule)-50}}, {{rule.y()+30}},
                         {{findDestRuleX(nextrule)-50}}, {{findDestRuleY(nextrule)+50}},
                         {{findDestRuleX(nextrule)-20}}, {{findDestRuleY(nextrule)+50}}"
                              style="marker-end: url(#markerArrow);">
                        </path>

                        <path ng-if="rule.x()+335 < findDestRuleX(nextrule) &&
              rule.y() < findDestRuleY(nextrule) && nextrule>0"
                              class="connection-line"
                              ng-attr-d="M {{rule.x()+250}}, {{rule.y()+30}}
                         L {{findDestRuleX(nextrule)-35}}, {{rule.y()+30}},
                         {{findDestRuleX(nextrule)-35}}, {{findDestRuleY(nextrule)+50}},
                         {{findDestRuleX(nextrule)-20}}, {{findDestRuleY(nextrule)+50}}"
                              style="marker-end: url(#markerArrow);">
                        </path>

                        <circle ng-if="nextrule>0"
                                class="connection-endpoint"
                                r="5"
                                ng-attr-cx="{{rule.x()+250}}"
                                ng-attr-cy="{{rule.y()+30}}">
                        </circle>

                        <circle ng-if="nextrule>0"
                                class="connection-endpoint"
                                r="5"
                                ng-attr-cx="{{findDestRuleX(nextrule)}}"
                                ng-attr-cy="{{findDestRuleY(nextrule)+50}}">
                        </circle>

                    </g>
                    <g ng-repeat="nextrule in rule.onFailRuleId()">

                        <path ng-if="rule.x()+335 > findDestRuleX(nextrule) &&
          rule.y() > findDestRuleY(nextrule) && nextrule>0"
                              class="connection-line"
                              ng-attr-d="M {{rule.x()+250}}, {{rule.y()+85}}
                   L {{rule.x()+315}}, {{rule.y()+85}},
                   {{rule.x()+315}}, {{rule.y()-45}},
                   {{findDestRuleX(nextrule)-50}}, {{rule.y()-45}},
                   {{findDestRuleX(nextrule)-50}}, {{findDestRuleY(nextrule)+50}}
                   {{findDestRuleX(nextrule)-20}}, {{findDestRuleY(nextrule)+50}}"
                              style="marker-end: url(#markerArrow);">
                        </path>

                        <path ng-if="rule.x()+300 > findDestRuleX(nextrule) &&
          rule.y() < findDestRuleY(nextrule) && nextrule>0"
                              class="connection-line"
                              ng-attr-d="M {{rule.x()+250}}, {{rule.y()+85}}
                     L {{rule.x()+280}}, {{rule.y()+85}},
                     {{rule.x()+280}}, {{rule.y()+130}},
                     {{findDestRuleX(nextrule)-50}}, {{rule.y()+130}},
                     {{findDestRuleX(nextrule)-50}}, {{findDestRuleY(nextrule)+50}}
                     {{findDestRuleX(nextrule)-20}}, {{findDestRuleY(nextrule)+50}}"
                              style="marker-end: url(#markerArrow);">
                        </path>

                        <path ng-if="rule.x()+335 < findDestRuleX(nextrule) &&
          rule.y() > findDestRuleY(nextrule) && nextrule>0"
                              class="connection-line"
                              ng-attr-d="M {{rule.x()+250}}, {{rule.y()+85}}
                     L {{findDestRuleX(nextrule)-35}}, {{rule.y()+85}},
                     {{findDestRuleX(nextrule)-35}}, {{findDestRuleY(nextrule)+50}},
                     {{findDestRuleX(nextrule)-20}}, {{findDestRuleY(nextrule)+50}}"
                              style="marker-end: url(#markerArrow);">
                        </path>

                        <path ng-if="rule.x()+300 < findDestRuleX(nextrule) &&
          rule.y() < findDestRuleY(nextrule) && nextrule>0"
                              class="connection-line"
                              ng-attr-d="M {{rule.x()+250}}, {{rule.y()+85}}
                     L {{findDestRuleX(nextrule)-50}}, {{rule.y()+85}},
                     {{findDestRuleX(nextrule)-50}}, {{findDestRuleY(nextrule)+50}},
                     {{findDestRuleX(nextrule)-20}}, {{findDestRuleY(nextrule)+50}}"
                              style="marker-end: url(#markerArrow);">
                        </path>

                        <circle ng-if="nextrule>0"
                                class="connection-endpoint"
                                r="5"
                                ng-attr-cx="{{rule.x()+250}}"
                                ng-attr-cy="{{rule.y()+85}}">
                        </circle>

                        <circle ng-if="nextrule>0"
                                class="connection-endpoint"
                                r="5"
                                ng-attr-cx="{{findDestRuleX(nextrule)}}"
                                ng-attr-cy="{{findDestRuleY(nextrule)+50}}">
                        </circle>
                    </g>
                </g>
            </g>

            <g ng-if="draggingConnection">

                <path ng-if="dragPoint1.x > dragPoint2.x && dragPoint1.y > dragPoint2.y"
                      class="dragging-connection dragging-connection-line"
                      ng-attr-d="M {{dragPoint1.x}}, {{dragPoint1.y-30}}
                 L {{dragPoint1.x+65}}, {{dragPoint1.y-30}},
                 {{dragPoint1.x+65}}, {{dragPoint1.y-125}},
                 {{dragPoint2.x-40}}, {{dragPoint1.y-125}},
                 {{dragPoint2.x-40}}, {{dragPoint2.y}}
                 {{dragPoint2.x-20}}, {{dragPoint2.y}}"
                      style="marker-end: url(#markerArrow);">
                </path>

                <path ng-if="dragPoint1.x > dragPoint2.x && dragPoint1.y < dragPoint2.y"
                      class="dragging-connection dragging-connection-line"
                      ng-attr-d="M {{dragPoint1.x}}, {{dragPoint1.y-30}}
                 L {{dragPoint1.x+65}}, {{dragPoint1.y-30}},
                 {{dragPoint1.x+65}}, {{dragPoint1.y+55}},
                 {{dragPoint2.x-40}}, {{dragPoint1.y+55}},
                 {{dragPoint2.x-40}}, {{dragPoint2.y}}
                 {{dragPoint2.x-20}}, {{dragPoint2.y}}"
                      style="marker-end: url(#markerArrow);">
                </path>

                <path ng-if="(dragPoint1.x < dragPoint2.x) && ((dragPoint1.y > dragPoint2.y) && (dragPoint1.y - dragPoint2.y >= 20 ))"
                      class="dragging-connection dragging-connection-line"
                      ng-attr-d="M {{dragPoint1.x}}, {{dragPoint1.y-30}}
                   L {{dragPoint2.x-20}}, {{dragPoint2.y}}"
                      style="marker-end: url(#markerArrow);">
                </path>
                <path ng-if="(dragPoint1.x < dragPoint2.x) && ((dragPoint1.y < dragPoint2.y) && (dragPoint2.y - dragPoint1.y >= 20 ))"
                      class="dragging-connection dragging-connection-line"
                      ng-attr-d="M {{dragPoint1.x}}, {{dragPoint1.y-30}}
                     L {{dragPoint2.x-20}}, {{dragPoint2.y-10}}"
                      style="marker-end: url(#markerArrow);">
                </path>
                <path ng-if="(dragPoint1.x < dragPoint2.x) && (dragPoint1.y - dragPoint2.y < 20 ) && (dragPoint1.y - dragPoint2.y >= 0 )"
                      class="dragging-connection dragging-connection-line"
                      ng-attr-d="M {{dragPoint1.x}}, {{dragPoint1.y-30}}
                       L {{dragPoint2.x-20}}, {{dragPoint2.y-5}}"
                      style="marker-end: url(#markerArrow);">
                </path>
                <path ng-if="(dragPoint1.x < dragPoint2.x) && (dragPoint2.y - dragPoint1.y < 20 ) && (dragPoint2.y - dragPoint1.y >= 0 )"
                      class="dragging-connection dragging-connection-line"
                      ng-attr-d="M {{dragPoint1.x}}, {{dragPoint1.y-30}}
                         L {{dragPoint2.x-20}}, {{dragPoint2.y-5}}"
                      style="marker-end: url(#markerArrow);">
                </path>

                <circle
                        class="dragging-connection dragging-connection-endpoint"
                        r="4"
                        ng-attr-cx="{{dragPoint1.x}}"
                        ng-attr-cy="{{dragPoint1.y-30}}">
                </circle>

                <circle
                        class="dragging-connection dragging-connection-endpoint"
                        r="4"
                        ng-attr-cx="{{dragPoint2.x}}"
                        ng-attr-cy="{{dragPoint2.y}}">
                </circle>
            </g>

</svg>
