<div class="module">
	<div class="module-heading">
		Medical Records
	</div>
	<div class="module-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="form-group col-md-3">
							<label>Display data in</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-hospital-o fa-lg fa-fw"></i></span>
								<select id="service" class="form-control" ng-model="$ctrl.selectedService" ng-change="$ctrl.refresh()">
									<option value="">All Services</option>
									<option ng-repeat="item in $ctrl.services" value="{{item.serviceId}}">{{item.organisationName}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label>[Medical record data]</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>