<div class="module">
    <div class="module-heading">
        Remote Filing Statistics
    </div>
    <div class="module-body">
        <div class="container-fluid">
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Time frame</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-laptop fa-lg fa-fw"></i></span>
                        <select id="timeFrame" class="form-control" [(ngModel)]="timeFrame" name="TimeFrame">
                            <option value="day">1 day</option>
                            <option value="month">1 month</option>
                            <option value="year">1 year</option>
                        </select>
                    </div>
                    <button class="btn btn-success btn-sm pull-right"
                            (click)="refresh()"
                            title="Refresh these statistics">
                        <i class="fa fa-refresh"></i> Refresh
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table">
                        <table class="table table-striped table-condensed">
                            <thead>
                            <tr>
                                <th class="col-md-3">Remote subscriber</th>
                                <th class="col-md-7">Status</th>
                                <th class="col-md-2">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="hover-box show-child-on-hover" *ngFor="let subscriber of subscribers">
                                <td>
                                    <div>Id: {{subscriber.id}}
                                        <span class="fa fa-info-circle fa-right-pad text-muted"
                                              ngbTooltip="{{getJsonDefinitionFormatted(subscriber.jsonDefinition)}}" placement="bottom-right">
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="panel-body">
                                        <div *ngIf="refreshingStatistics">
                                            <div class="fa fa-sm fa-refresh fa-refresh-animate">
                                            </div>
                                        </div>
                                        <div *ngIf="!refreshingStatistics">
                                            <div class="row" *ngFor="let stat of subscriber.statistics">
                                                <div class="col-md-10" *ngIf="isStatisticInError(stat)">
                                                    {{stat.statisticsText}} <span class="label label-danger">Warning</span>
                                                </div>
                                                <div class="col-md-10" *ngIf="!isStatisticInError(stat)">
                                                    {{stat.statisticsText}}
                                                </div>

                                                <div class="col-md-2" *ngIf="isStatisticInError(stat)">
                                                    <a (click)="viewErrors(subscriber.id)"> {{stat.statisticsValue}}</a>
                                                </div>
                                                <div class="col-md-2" *ngIf="!isStatisticInError(stat)">
                                                    {{stat.statisticsValue}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-xs btn-default child-to-show" (click)="viewHistory(subscriber.id)">View Full History</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


