<style>
	.form-group {
		margin-bottom: 0px;
	}
</style>

<div class="modal-header">
	<button type="button" class="close" data-ng-click="testEditor.cancel()" aria-hidden="true">&times;</button>
	<h4 class="modal-title">{{testEditor.title}}</h4>
</div>
<div class="modal-body">

	<uib-tabset active="active">
		<uib-tab index="0" heading="Data Source Filters & Restrictions">
			<br/>
			<form role="form">
				<div class='row'>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Data Source (Record Heading)</label>
							<select class="form-control" ng-model="testEditor.ruleDatasource" ng-change="testEditor.dataSourceChange(testEditor.ruleDatasource)" ng-disabled="testEditor.editMode">
								<option ng-repeat="datasource in testEditor.datasources" value="{{datasource}}">{{datasource}}</option>
							</select>
						</div>
					</div>
					<div class="col-xs-6" ng-show="testEditor.addFilter">
						<div class="form-group">
							<label>Add a Filter</label><br/>
							<button type="button" class="btn btn-primary"
									data-ng-click="testEditor.showFilter('CODE')" ng-show="testEditor.codeFilter">Code</button>
							<button type="button" class="btn btn-primary"
									data-ng-click="testEditor.showFilter('EFFECTIVE_DATE')" ng-show="testEditor.dateFilter">Date</button>
							<button type="button" class="btn btn-primary"
									data-ng-click="testEditor.showFilter('VALUE')" ng-show="testEditor.valueFilter">Value</button>
							<button type="button" class="btn btn-primary"
									data-ng-click="testEditor.showFilter('DOB')" ng-show="testEditor.dobFilter">DOB</button>
							<button type="button" class="btn btn-primary"
									data-ng-click="testEditor.showFilter('SEX')" ng-show="testEditor.sexFilter">Sex</button>
							<button type="button" class="btn btn-primary"
									data-ng-click="testEditor.showFilter('AGE')" ng-show="testEditor.ageFilter">Age</button>
							<button type="button" class="btn btn-primary"
									data-ng-click="testEditor.showFilter('REGISTRATION_DATE')" ng-show="testEditor.regFilter">Reg Date</button>
						</div>
					</div>
				</div>
				<div class='row' ng-show="testEditor.codeEditor">
					<hr/>
					<div class="col-xs-12">
						<div class="form-group">
							<label>Filter by Clinical Codes:</label>
							<a class="queryLink" ng-click="testEditor.removeFilter('code')"><i class="fa fa-times"></i> Remove filter</a>
							<div class="form-control" style="cursor: pointer; height:auto; overflow-y:scroll; min-height: 30px; max-height: 90px;" ng-click="testEditor.showCodePicker()">
								<span ng-repeat="selection in testEditor.codeSelection">
									{{ testEditor.getTerm(selection.code) }}
									<span class="label label-success" ng-show="selection.includeChildren && (!selection.exclusion || selection.exclusion.length == 0)">All children</span>
									<span class="label label-warning" ng-show="selection.includeChildren && (selection.exclusion && selection.exclusion.length > 0)">Some children</span>
									<span class="label label-danger" ng-show="!selection.includeChildren">No children</span>
									<span ng-hide="this.$last">  |  </span>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class='row' ng-show="testEditor.dobEditor">
					<hr/>
					<div class="col-xs-12">
						<div class="form-group">
							<div class="input-group">
								<label for="dobrelative">Filter by DOB using relative dates</label>&nbsp;&nbsp;
								<input id="dobrelative" type="radio" name="dobdatetype" ng-model="testEditor.dobdatetype" value="dobrelative">
								&nbsp;
								<label for="dobabsolute">or absolute dates</label>&nbsp;&nbsp;
								<input id="dobabsolute" type="radio" name="dobdatetype" ng-model="testEditor.dobdatetype" value="dobabsolute">
								<a class="queryLink" ng-click="testEditor.removeFilter('dob')"><i class="fa fa-times"></i> Remove filter</a>
							</div>
						</div>
					</div>
				</div>
				<div class='row' ng-show="testEditor.dobEditor">
					<div class="col-xs-6">
						<div class="form-group">
							<label ng-show="testEditor.dobdatetype == 'dobabsolute'">From:</label>
							<p class="input-group" ng-show="testEditor.dobdatetype == 'dobabsolute'">
								<input type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" is-open="dobEditorFromDatePicker" ng-model="testEditor.filterDOBFrom" ng-blur="testEditor.filterDateFromChange(testEditor.filterDOBFrom, testEditor.dobLabel)" placeholder="Select {{testEditor.dobLabel}} from">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="dobEditorFromDatePicker = true"><i class="fa fa-calendar"></i></button>
								</span>
							</p>
							<label ng-show="testEditor.dobdatetype == 'dobrelative'">From:</label>
							<p class="input-group" ng-show="testEditor.dobdatetype == 'dobrelative'">
								<input type="text" class="form-control" style="width:80px;margin-right:10px" placeholder="no." ng-model="testEditor.filterDOBFromRelativeValue" ng-blur="testEditor.filterRelativeDateFromChange(testEditor.filterDOBFromRelativeValue, testEditor.filterDOBFromRelativePeriod, testEditor.dobLabel)">
								<select class="form-control" style="width:100px" ng-model="testEditor.filterDOBFromRelativePeriod" ng-change="testEditor.filterRelativeDateFromChange(testEditor.filterDOBFromRelativeValue, testEditor.filterDOBFromRelativePeriod, testEditor.dobLabel)">
									<option ng-repeat="period in testEditor.periods" value="{{period}}">{{period}}</option>
								</select>&nbsp;&nbsp;of the baseline date
							</p>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label ng-show="testEditor.dobdatetype == 'dobabsolute'">To:</label>
							<p class="input-group" ng-show="testEditor.dobdatetype == 'dobabsolute'">
								<input type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" is-open="dobEditorToDatePicker" ng-model="testEditor.filterDOBTo" ng-blur="testEditor.filterDateToChange(testEditor.filterDOBTo, testEditor.dobLabel)" placeholder="Select {{testEditor.dobLabel}} to">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="dobEditorToDatePicker = true"><i class="fa fa-calendar"></i></button>
								</span>
							</p>
							<label ng-show="testEditor.dobdatetype == 'dobrelative'">To:</label>
							<p class="input-group" ng-show="testEditor.dobdatetype == 'dobrelative'">
								<input type="text" class="form-control" style="width:80px;margin-right:10px" placeholder="no." ng-model="testEditor.filterDOBToRelativeValue" ng-blur="testEditor.filterRelativeDateToChange(testEditor.filterDOBToRelativeValue, testEditor.filterDOBToRelativePeriod, testEditor.dobLabel)">
								<select class="form-control" style="width:100px" ng-model="testEditor.filterDOBToRelativePeriod" ng-change="testEditor.filterRelativeDateToChange(testEditor.filterDOBToRelativeValue, testEditor.filterDOBToRelativePeriod, testEditor.dobLabel)">
									<option ng-repeat="period in testEditor.periods" value="{{period}}">{{period}}</option>
								</select>&nbsp;&nbsp;of the baseline date
							</p>
						</div>
					</div>
				</div>
				<div class='row' ng-show="testEditor.sexEditor">
					<hr/>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Filter by {{testEditor.sexLabel}}:</label>
							<a class="queryLink" ng-click="testEditor.removeFilter('sex')"><i class="fa fa-times"></i> Remove filter</a>
							<select class="form-control" ng-model="testEditor.filterSex" ng-change="testEditor.filterValueChange(testEditor.filterSex, testEditor.sexLabel)">
								<option ng-repeat="gender in testEditor.genders" value="{{gender}}">{{gender}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class='row' ng-show="testEditor.dateEditor">
					<hr/>
					<div class="col-xs-12">
						<div class="form-group">
							<div class="input-group">
								<label for="relative">Filter by {{testEditor.dateLabel}} using relative dates</label>&nbsp;&nbsp;
								<input id="relative" type="radio" name="datetype" ng-model="testEditor.datetype" value="relative">
								&nbsp;
								<label for="absolute">or absolute dates</label>&nbsp;&nbsp;
								<input id="absolute" type="radio" name="datetype" ng-model="testEditor.datetype" value="absolute">
								<a class="queryLink" ng-click="testEditor.removeFilter('date')"><i class="fa fa-times"></i> Remove filter</a>
							</div>
						</div>
					</div>
				</div>
				<div class='row' ng-show="testEditor.dateEditor">
					<div class="col-xs-6">
						<div class="form-group">
							<label ng-show="testEditor.datetype == 'absolute'">From:</label>
							<p class="input-group" ng-show="testEditor.datetype == 'absolute'">
								<input type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" is-open="dateEditorFromDatePicker" ng-model="testEditor.filterDateFrom" ng-blur="testEditor.filterDateFromChange(testEditor.filterDateFrom, testEditor.dateLabel)" placeholder="Select {{testEditor.dateLabel}} from">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="dateEditorFromDatePicker = true"><i class="fa fa-calendar"></i></button>
								</span>
							</p>
							<label ng-show="testEditor.datetype == 'relative'">From:</label>
							<p class="input-group" ng-show="testEditor.datetype == 'relative'">
								<input type="text" class="form-control" style="width:80px;margin-right:10px" placeholder="no." ng-model="testEditor.filterDateFromRelativeValue" ng-blur="testEditor.filterRelativeDateFromChange(testEditor.filterDateFromRelativeValue, testEditor.filterDateFromRelativePeriod, testEditor.dateLabel)">
								<select class="form-control" style="width:100px" ng-model="testEditor.filterDateFromRelativePeriod" ng-change="testEditor.filterRelativeDateFromChange(testEditor.filterDateFromRelativeValue, testEditor.filterDateFromRelativePeriod, testEditor.dateLabel)">
									<option ng-repeat="period in testEditor.periods" value="{{period}}">{{period}}</option>
								</select>&nbsp;&nbsp;of the baseline date
							</p>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label ng-show="testEditor.datetype == 'absolute'">To:</label>
							<p class="input-group" ng-show="testEditor.datetype == 'absolute'">
								<input type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" is-open="dateEditorToDatePicker" ng-model="testEditor.filterDateTo" ng-blur="testEditor.filterDateToChange(testEditor.filterDateTo, testEditor.dateLabel)" placeholder="Select {{testEditor.dateLabel}} to">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="dateEditorToDatePicker = true"><i class="fa fa-calendar"></i></button>
								</span>
							</p>
							<label ng-show="testEditor.datetype == 'relative'">To:</label>
							<p class="input-group" ng-show="testEditor.datetype == 'relative'">
								<input type="text" class="form-control" style="width:80px;margin-right:10px" placeholder="no." ng-model="testEditor.filterDateToRelativeValue" ng-blur="testEditor.filterRelativeDateToChange(testEditor.filterDateToRelativeValue, testEditor.filterDateToRelativePeriod, testEditor.dateLabel)">
								<select class="form-control" style="width:100px" ng-model="testEditor.filterDateToRelativePeriod" ng-change="testEditor.filterRelativeDateToChange(testEditor.filterDateToRelativeValue, testEditor.filterDateToRelativePeriod, testEditor.dateLabel)">
									<option ng-repeat="period in testEditor.periods" value="{{period}}">{{period}}</option>
								</select>&nbsp;&nbsp;of the baseline date
							</p>
						</div>
					</div>
				</div>
				<div class='row' ng-show="testEditor.valueEditor">
					<hr/>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Filter by {{testEditor.valueField}} From:</label>
							<a class="queryLink" ng-click="testEditor.removeFilter('value')"><i class="fa fa-times"></i> Remove filter</a>
							<input type="text" class="form-control" ng-model="testEditor.filterValueFrom" ng-blur="testEditor.filterValueFromChange(testEditor.filterValueFrom)" placeholder="Select {{testEditor.valueField}} from">
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Filter by {{testEditor.valueField}} To:</label>
							<input type="text" class="form-control" ng-model="testEditor.filterValueTo" ng-blur="testEditor.filterValueToChange(testEditor.filterValueTo)" placeholder="Select {{testEditor.valueField}} to">
						</div>
					</div>
				</div>
				<div ng-show="testEditor.addRestriction">
					<hr/>
					<a class="queryLink" ng-click="testEditor.toggleRestriction()"><i class="fa fa-sort-amount-asc"></i> Add Restriction (limit the number of entries filtered)</a>
				</div>
				<div class='row' ng-show="testEditor.showRestriction"><br/>
					<div class="col-xs-3">
						<div class="form-group">
							<label>Sort Field</label>
							<select class="form-control" ng-model="testEditor.restrictionFieldName" ng-change="testEditor.restrictionChange(testEditor.restrictionFieldName)">
								<option ng-repeat="restrictionfield in testEditor.fields" value="{{restrictionfield}}">{{restrictionfield}}</option>
							</select>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label>Sort Order</label>
							<select class="form-control" ng-model="testEditor.restrictionOrderDirection" ng-change="testEditor.restrictionChange(testEditor.restrictionOrderDirection)">
								<option ng-repeat="sortorder in testEditor.sortorders" value="{{sortorder}}">{{sortorder}}</option>
							</select>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="form-group">
							<label>Restriction Count</label>
							<input type="text" class="form-control" ng-disabled="testEditor.disableRestrictionCount" ng-model="testEditor.restrictionCount" placeholder="1" ng-blur="testEditor.restrictionChange(testEditor.restrictionCount)">
						</div>
					</div>
					<a class="queryLink" ng-click="testEditor.removeFilter('restriction')"><i class="fa fa-times"></i> Remove restriction</a>
				</div>
				<br/>
			</form>
		</uib-tab>
		<uib-tab index="1" heading="Additional Test Against the Data Source Filters & Restrictions" ng-show="testEditor.viewFieldTest">
			<br/>
			<form role="form">
				<div class='row'>
					<div class="col-xs-12" ng-show="testEditor.addFilter">
						<div class="form-group">
							<label>Add a Field (to test against the results of the Data Source Filters & Restrictions)</label><br/>
							<button type="button" class="btn btn-primary"
									data-ng-click="testEditor.showFieldTest('CODE')" ng-show="testEditor.codeFilter">Code</button>
							<button type="button" class="btn btn-primary"
									data-ng-click="testEditor.showFieldTest('EFFECTIVE_DATE')" ng-show="testEditor.dateFilter">Date</button>
							<button type="button" class="btn btn-primary"
									data-ng-click="testEditor.showFieldTest('VALUE')" ng-show="testEditor.valueFilter">Value</button>
							<button type="button" class="btn btn-primary"
									data-ng-click="testEditor.showFieldTest('DOB')" ng-show="testEditor.dobFilter">DOB</button>
							<button type="button" class="btn btn-primary"
									data-ng-click="testEditor.showFieldTest('SEX')" ng-show="testEditor.sexFilter">Sex</button>
							<button type="button" class="btn btn-primary"
									data-ng-click="testEditor.showFieldTest('AGE')" ng-show="testEditor.ageFilter">Age</button>
							<button type="button" class="btn btn-primary"
									data-ng-click="testEditor.showFieldTest('REGISTRATION_DATE')" ng-show="testEditor.regFilter">Reg Date</button>
						</div>
					</div>
				</div>
				<div class='row' ng-show="testEditor.fieldTestCodeEditor">
					<hr/>
					<div class="col-xs-12">
						<div class="form-group">
							<label>Test by Clinical Codes:</label>
							<a class="queryLink" ng-click="testEditor.removeFieldTest('code')"><i class="fa fa-times"></i> Remove field test</a>
							<div class="form-control" style="cursor: pointer; height:auto; overflow-y:scroll; min-height: 30px; max-height: 90px;" ng-click="testEditor.showFieldTestCodePicker()">
								<span ng-repeat="selection in testEditor.fieldTestCodeSelection">
									{{ testEditor.getTerm(selection.code) }}
									<span class="label label-success" ng-show="selection.includeChildren && (!selection.exclusion || selection.exclusion.length == 0)">All children</span>
									<span class="label label-warning" ng-show="selection.includeChildren && (selection.exclusion && selection.exclusion.length > 0)">Some children</span>
									<span class="label label-danger" ng-show="!selection.includeChildren">No children</span>
									<span ng-hide="this.$last">  |  </span>
								</span>
							</div>

						</div>
					</div>
				</div>
				<div class='row' ng-show="testEditor.fieldTestDobEditor">
					<hr/>
					<div class="col-xs-12">
						<div class="form-group">
							<div class="input-group">
								<label for="fieldtestdobrelative">Test by DOB using relative dates</label>&nbsp;&nbsp;
								<input id="fieldtestdobrelative" type="radio" name="fieldTestDobdatetype" ng-model="testEditor.fieldTestDobdatetype" value="fieldtestdobrelative">
								&nbsp;
								<label for="fieldtestdobabsolute">or absolute dates</label>&nbsp;&nbsp;
								<input id="fieldtestdobabsolute" type="radio" name="fieldTestDobdatetype" ng-model="testEditor.fieldTestDobdatetype" value="fieldtestdobabsolute">
								<a class="queryLink" ng-click="testEditor.removeFieldTest('dob')"><i class="fa fa-times"></i> Remove field test</a>
							</div>
						</div>
					</div>
				</div>
				<div class='row' ng-show="testEditor.fieldTestDobEditor">
					<div class="col-xs-6">
						<div class="form-group">
							<label ng-show="testEditor.fieldTestDobdatetype == 'fieldtestdobabsolute'">From:</label>
							<p class="input-group" ng-show="testEditor.fieldTestDobdatetype == 'fieldtestdobabsolute'">
								<input type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" is-open="dobEditorFromDatePicker" ng-model="testEditor.fieldTestDOBFrom" ng-blur="testEditor.fieldTestDateFromChange(testEditor.fieldTestDOBFrom, testEditor.fieldTestDobLabel)" placeholder="Select {{testEditor.fieldTestDobLabel}} from">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="dobEditorFromDatePicker = true"><i class="fa fa-calendar"></i></button>
								</span>
							</p>
							<label ng-show="testEditor.fieldTestDobdatetype == 'fieldtestdobrelative'">From:</label>
							<p class="input-group" ng-show="testEditor.fieldTestDobdatetype == 'fieldtestdobrelative'">
								<input type="text" class="form-control" style="width:80px;margin-right:10px" placeholder="no." ng-model="testEditor.fieldTestDOBFromRelativeValue" ng-blur="testEditor.fieldTestRelativeDateFromChange(testEditor.fieldTestDOBFromRelativeValue, testEditor.fieldTestDOBFromRelativePeriod, testEditor.fieldTestDobLabel)">
								<select class="form-control" style="width:100px" ng-model="testEditor.fieldTestDOBFromRelativePeriod" ng-change="testEditor.fieldTestRelativeDateFromChange(testEditor.fieldTestDOBFromRelativeValue, testEditor.fieldTestDOBFromRelativePeriod, testEditor.fieldTestDobLabel)">
									<option ng-repeat="period in testEditor.periods" value="{{period}}">{{period}}</option>
								</select>&nbsp;&nbsp;of the baseline date
							</p>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label ng-show="testEditor.fieldTestDobdatetype == 'fieldtestdobabsolute'">To:</label>
							<p class="input-group" ng-show="testEditor.fieldTestDobdatetype == 'fieldtestdobabsolute'">
								<input type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" is-open="dobEditorToDatePicker" ng-model="testEditor.fieldTestDOBTo" ng-blur="testEditor.fieldTestDateToChange(testEditor.fieldTestDOBTo, testEditor.fieldTestDobLabel)" placeholder="Select {{testEditor.fieldTestDobLabel}} to">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="dobEditorToDatePicker = true"><i class="fa fa-calendar"></i></button>
								</span>
							</p>
							<label ng-show="testEditor.fieldTestDobdatetype == 'fieldtestdobrelative'">To:</label>
							<p class="input-group" ng-show="testEditor.fieldTestDobdatetype == 'fieldtestdobrelative'">
								<input type="text" class="form-control" style="width:80px;margin-right:10px" placeholder="no." ng-model="testEditor.fieldTestDOBToRelativeValue" ng-blur="testEditor.fieldTestRelativeDateToChange(testEditor.fieldTestDOBToRelativeValue, testEditor.fieldTestDOBToRelativePeriod, testEditor.fieldTestDobLabel)">
								<select class="form-control" style="width:100px" ng-model="testEditor.fieldTestDOBToRelativePeriod" ng-change="testEditor.fieldTestRelativeDateToChange(testEditor.fieldTestDOBToRelativeValue, testEditor.fieldTestDOBToRelativePeriod, testEditor.fieldTestDobLabel)">
									<option ng-repeat="period in testEditor.periods" value="{{period}}">{{period}}</option>
								</select>&nbsp;&nbsp;of the baseline date
							</p>
						</div>
					</div>
				</div>

				<div class='row' ng-show="testEditor.fieldTestSexEditor">
					<hr/>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Test by {{testEditor.fieldTestSexLabel}}:</label>
							<a class="queryLink" ng-click="testEditor.removeFieldTest('sex')"><i class="fa fa-times"></i> Remove field test</a>
							<select class="form-control" ng-model="testEditor.fieldTestSex" ng-change="testEditor.fieldTestValueChange(testEditor.fieldTestSex, testEditor.fieldTestSexLabel)">
								<option ng-repeat="gender in testEditor.genders" value="{{gender}}">{{gender}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class='row' ng-show="testEditor.fieldTestDateEditor">
					<hr/>
					<div class="col-xs-12">
						<div class="form-group">
							<div class="input-group">
								<label for="fieldtestrelative">Test by {{testEditor.fieldTestDateLabel}} using relative dates</label>&nbsp;&nbsp;
								<input id="fieldtestrelative" type="radio" name="fieldTestDatetype" ng-model="testEditor.fieldTestDatetype" value="fieldtestrelative">
								&nbsp;
								<label for="fieldtestabsolute">or absolute dates</label>&nbsp;&nbsp;
								<input id="fieldtestabsolute" type="radio" name="fieldTestDatetype" ng-model="testEditor.fieldTestDatetype" value="fieldtestabsolute">
								<a class="queryLink" ng-click="testEditor.removeFieldTest('date')"><i class="fa fa-times"></i> Remove field test</a>
							</div>
						</div>
					</div>
				</div>
				<div class='row' ng-show="testEditor.fieldTestDateEditor">
					<div class="col-xs-6">
						<div class="form-group">
							<label ng-show="testEditor.fieldTestDatetype == 'fieldtestabsolute'">From:</label>
							<p class="input-group" ng-show="testEditor.fieldTestDatetype == 'fieldtestabsolute'">
								<input type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" is-open="dateEditorFromDatePicker" ng-model="testEditor.fieldTestDateFrom" ng-blur="testEditor.fieldTestDateFromChange(testEditor.fieldTestDateFrom, testEditor.fieldTestDateLabel)" placeholder="Select {{testEditor.fieldTestDateLabel}} from">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="dateEditorFromDatePicker = true"><i class="fa fa-calendar"></i></button>
								</span>
							</p>
							<label ng-show="testEditor.fieldTestDatetype == 'fieldtestrelative'">From:</label>
							<p class="input-group" ng-show="testEditor.fieldTestDatetype == 'fieldtestrelative'">
								<input type="text" class="form-control" style="width:80px;margin-right:10px" placeholder="no." ng-model="testEditor.fieldTestDateFromRelativeValue" ng-blur="testEditor.fieldTestRelativeDateFromChange(testEditor.fieldTestDateFromRelativeValue, testEditor.fieldTestDateFromRelativePeriod, testEditor.fieldTestDateLabel)">
								<select class="form-control" style="width:100px" ng-model="testEditor.fieldTestDateFromRelativePeriod" ng-change="testEditor.fieldTestRelativeDateFromChange(testEditor.fieldTestDateFromRelativeValue, testEditor.fieldTestDateFromRelativePeriod, testEditor.fieldTestDateLabel)">
									<option ng-repeat="period in testEditor.periods" value="{{period}}">{{period}}</option>
								</select>&nbsp;&nbsp;of the baseline date
							</p>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label ng-show="testEditor.fieldTestDatetype == 'fieldtestabsolute'">To:</label>
							<p class="input-group" ng-show="testEditor.fieldTestDatetype == 'fieldtestabsolute'">
								<input type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" is-open="dateEditorToDatePicker" ng-model="testEditor.fieldTestDateTo" ng-blur="testEditor.fieldTestDateToChange(testEditor.fieldTestDateTo, testEditor.fieldTestDateLabel)" placeholder="Select {{testEditor.fieldTestDateLabel}} to">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="dateEditorToDatePicker = true"><i class="fa fa-calendar"></i></button>
								</span>
							</p>
							<label ng-show="testEditor.fieldTestDatetype == 'fieldtestrelative'">To:</label>
							<p class="input-group" ng-show="testEditor.fieldTestDatetype == 'fieldtestrelative'">
								<input type="text" class="form-control" style="width:80px;margin-right:10px" placeholder="no." ng-model="testEditor.fieldTestDateToRelativeValue" ng-blur="testEditor.fieldTestRelativeDateToChange(testEditor.fieldTestDateToRelativeValue, testEditor.fieldTestDateToRelativePeriod, testEditor.fieldTestDateLabel)">
								<select class="form-control" style="width:100px" ng-model="testEditor.fieldTestDateToRelativePeriod" ng-change="testEditor.fieldTestRelativeDateToChange(testEditor.fieldTestDateToRelativeValue, testEditor.fieldTestDateToRelativePeriod, testEditor.fieldTestDateLabel)">
									<option ng-repeat="period in testEditor.periods" value="{{period}}">{{period}}</option>
								</select>&nbsp;&nbsp;of the baseline date
							</p>
						</div>
					</div>
				</div>
				<div class='row' ng-show="testEditor.fieldTestValueEditor">
					<hr/>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Test by {{testEditor.fieldTestValueField}} From:</label>
							<a class="queryLink" ng-click="testEditor.removeFieldTest('value')"><i class="fa fa-times"></i> Remove field test</a>
							<input type="text" class="form-control" ng-model="testEditor.fieldTestValueFrom" ng-blur="testEditor.fieldTestValueFromChange(testEditor.fieldTestValueFrom)" placeholder="Select {{testEditor.fieldTestValueField}} from">
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Test by {{testEditor.fieldTestValueField}} To:</label>
							<input type="text" class="form-control" ng-model="testEditor.fieldTestValueTo" ng-blur="testEditor.fieldTestValueToChange(testEditor.fieldTestValueTo)" placeholder="Select {{testEditor.fieldTestValueField}} to">
						</div>
					</div>
				</div>
				<br/>
			</form>

		</uib-tab>
	</uib-tabset>

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default"
			data-ng-click="testEditor.cancel()">Cancel</button>
	<button type="button" class="btn btn-primary"
			data-ng-click="testEditor.save();">Ok</button>
</div>
