<?xml version="1.0" encoding="UTF-8"?>
<included>

  <!--===============================-->
  <!--logging settings for production-->
  <!--===============================-->

  <!-- only want ERRORs from these packages -->
  <logger name="ch.qos.logback" level="ERROR"/>
  <logger name="com.mchange" level="ERROR"/>
  <logger name="com.datastax" level="ERROR"/>
  <logger name="ca.uhn" level="ERROR"/>

  <!-- enable INFO logging for Endeavour code -->
  <logger name="org.endeavourhealth" level="INFO"/>

  <!-- add both appenders with INFO logging level -->
  <root level="INFO">
    <appender-ref ref="stdout" />
    <appender-ref ref="db_async" />
    <appender-ref ref="file" />
  </root>

</included>