<div class="module">
    <div class="container-fluid">
        <div class="module-heading">
            Organisation Overview
        </div>
        <div class="module-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">Organisations</div>
                        <div class="panel-body">
                            <div class="row" *ngFor="let stat of orgStats">
                                <div class="col-md-6">
                                    {{stat.label}}
                                </div>
                                <div class="col-md-6">
                                    {{stat.value}}
                                </div>
                            </div>
                            <br>
                            <div class="pull-right">
                                <button type="button" class="btn btn-sm btn-info" (click)="goToOrganisations()">View Organisations</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading">Services</div>
                        <div class="panel-body">
                            <div class="row" *ngFor="let serviceStat of serviceStats">
                                <div class="col-md-6">
                                    {{serviceStat.label}}
                                </div>
                                <div class="col-md-6">
                                    {{serviceStat.value}}
                                </div>
                            </div>
                            <br>
                            <div class="pull-right">
                                <button type="button" class="btn btn-sm btn-warning" (click)="goToServices()">View Services</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">Regions</div>
                        <div class="panel-body">
                            <div class="row" *ngFor="let regionStat of regionStats">
                                <div class="col-md-6">
                                    {{regionStat.label}}
                                </div>
                                <div class="col-md-6">
                                    {{regionStat.value}}
                                </div>
                            </div>
                            <br>
                            <div class="pull-right">
                                <button type="button" class="btn btn-sm btn-success" (click)="goToRegions()">View Regions</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Bulk Upload</div>
                        <div class="panel-body">
                            <form endUserRole="form" class="container-fluid">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">CSV File</label>
                                        <div class="input-group">
                                            <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".csv">
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <button type="button" class="btn bnt-default" (click)="cancel()">Cancel</button>
                            <button type="button" class="btn btn-primary" (click)="ok()" [disabled]="!file">OK</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-danger" *ngIf="conflictedOrgs?.length > 0">
                        <div class="panel-heading">Conflicting Organisations</div>
                        <div class="panel-body">
                            <div class="table">
                                <table class="table table-striped table-condensed">
                                    <tbody>
                                    <tr class="hover-box show-child-on-hover" *ngFor="let org of conflictedOrgs">
                                        <td><a (click)="resolveDifferences(org)">{{org.name}}</a></td>
                                        <td>{{org.odsCode}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="panel panel-danger" *ngIf="existingOrg">
                <div class="panel-heading">Resolve Conflicting Organisations
                    <div class="pull-right">
                        <button *ngIf="existingOrg" class="btn btn-sm btn-success"
                                (click)="cancelConflictResolution()"
                                title="Add">Cancel
                        </button>
                        <button *ngIf="existingOrg" class="btn btn-sm btn-success"
                                (click)="saveConflict()"
                                title="Add">Save Conflict
                        </button>
                    </div>

                </div>
                <div class="panel-body">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Existing Organisation Name</label>
                                <input type="text" class="form-control" placeholder="Organisation name" [(ngModel)]="existingOrg.name" name="name">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">New Organisation Name</label>
                                <input type="text" disabled="true" class="form-control" placeholder="Organisation name" [(ngModel)]="newOrg.name" name="newname">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Existing Alternative Name</label>
                                <input type="text" class="form-control" placeholder="Alternative Name" [(ngModel)]="existingOrg.alternativeName" name="alternativeName">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Alternative Name</label>
                                <input type="text" disabled="true" class="form-control" placeholder="Alternative Name" [(ngModel)]="newOrg.alternativeName" name="newalternativeName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Existing ODS Code</label>
                                <input type="text" class="form-control" placeholder="ODS Code" [(ngModel)]="existingOrg.odsCode" name="odsCode">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">New ODS Code</label>
                                <input type="text" disabled="true" class="form-control" placeholder="ODS Code" [(ngModel)]="newOrg.odsCode" name="newodsCode">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Existing ICO Code</label>
                                <input type="text" class="form-control" placeholder="ICO Code" [(ngModel)]="existingOrg.icoCode" name="icoCode">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">New ICO Code</label>
                                <input type="text" disabled="true" class="form-control" placeholder="ICO Code" [(ngModel)]="newOrg.icoCode" name="newicoCode">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Existing IG Toolkit Status</label>
                                <input type="text" class="form-control" placeholder="IG Toolkit Status" [(ngModel)]="existingOrg.igToolkitStatus" name="igToolkitStatus">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">New IG Toolkit Status</label>
                                <input type="text" disabled="true" class="form-control" placeholder="IG Toolkit Status" [(ngModel)]="newOrg.igToolkitStatus" name="newigToolkitStatus">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Existing Date Of Registration</label>
                                <input type="date" class="form-control" placeholder="Date Of Registration" [(ngModel)]="existingOrg.dateOfRegistration" name="dateOfRegistration">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">New Date Of Registration</label>
                                <input type="date" disabled="true" class="form-control" placeholder="Date Of Registration" [(ngModel)]="newOrg.dateOfRegistration" name="newdateOfRegistration">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Existing Registration Person</label>
                                <input type="text" class="form-control" placeholder="Registration Person" [(ngModel)]="existingOrg.registrationPerson" name="registrationPerson">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">New  Registration Person</label>
                                <input type="text" disabled="true" class="form-control" placeholder="Registration Person" [(ngModel)]="newOrg.registrationPerson" name="newregistrationPerson">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label">Existing Evidence of Registration</label>
                                <input type="text" class="form-control" placeholder="Evidence of Registration" [(ngModel)]="existingOrg.evidenceOfRegistration" name="evidenceOfRegistration">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">New Evidence of Registration</label>
                                <input type="text" disabled="true" class="form-control" placeholder="Evidence of Registration" [(ngModel)]="newOrg.evidenceOfRegistration" name="newevidenceOfRegistration">
                            </div>
                        </div>
                        <div class="well" *ngFor="let address of existingOrg.addresses">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="control-label">Existing Building Name</label>
                                    <input type="text" class="form-control" placeholder="Building Name" [(ngModel)]="address.buildingName" name="buildingName">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">New Building Name</label>
                                    <input type="text" disabled="true" class="form-control" placeholder="Building Name" [(ngModel)]="newOrg.addresses[0].buildingName" name="newbuildingName">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="control-label">Existing Number and Street</label>
                                    <input type="text" class="form-control" placeholder="Number and Street" [(ngModel)]="address.numberAndStreet" name="numberAndStreet">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">New Number and Street</label>
                                    <input type="text" disabled="true" class="form-control" placeholder="Number and Street" [(ngModel)]="newOrg.addresses[0].numberAndStreet" name="newnumberAndStreet">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="control-label">Existing Locality</label>
                                    <input type="text" class="form-control" placeholder="Locality" [(ngModel)]="address.locality" name="locality">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">New Locality</label>
                                    <input type="text" disabled="true" class="form-control" placeholder="Locality" [(ngModel)]="newOrg.addresses[0].locality" name="newlocality">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="control-label">Existing City</label>
                                    <input type="text" class="form-control" placeholder="City" [(ngModel)]="address.city" name="city">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">New City</label>
                                    <input type="text" disabled="true" class="form-control" placeholder="City" [(ngModel)]="newOrg.addresses[0].city" name="newcity">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="control-label">Existing County</label>
                                    <input type="text" class="form-control" placeholder="County" [(ngModel)]="address.county" name="county">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">New County</label>
                                    <input type="text" disabled="true" class="form-control" placeholder="County" [(ngModel)]="newOrg.addresses[0].county" name="newcounty">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="control-label">Existing Postcode</label>
                                    <input type="text" class="form-control" placeholder="Postcode" [(ngModel)]="address.postcode" name="postcode">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">New Postcode</label>
                                    <input type="text" disabled="true" class="form-control" placeholder="Postcode" [(ngModel)]="newOrg.addresses[0].postcode" name="newpostcode">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
