<div class="module">
	<div class="container-fluid">
		<div class="module-heading">
			Systems
			<div class="pull-right">
				<button type="button" class="btn btn-sm btn-danger" (click)="deleteSystem()">Delete System</button>
				<button type="button" class="btn btn-sm btn-success" (click)="save(false)">Save</button>
				<button type="button" class="btn btn-sm btn-warning" (click)="save(true)">Save & Close</button>
				<button type="button" class="btn btn-sm btn-danger" (click)="close()">Cancel</button>
			</div>
		</div>
		<div class="module-body">
			<form>
				<div class="row">
					<div class="form-group col-md-6">
						<label for="name">System Name</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-edit fa-lg fa-fw"></i></span>
							<input type="text" class="form-control" id="name" [(ngModel)]="libraryItem.name" placeholder="Please enter a system name" name="name">
						</div>
					</div>
					<div class="form-group col-md-6">
						<label for="description">System Description</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-edit fa-lg fa-fw"></i></span>
							<textarea class="form-control" id="description" [(ngModel)]="libraryItem.description" placeholder="Please enter a description for this system" name="description"></textarea>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-6">
						<label>Transaction Frequency</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-calendar fa-lg fa-fw"></i></span>
							<select class="form-control" [(ngModel)]="getInterface().frequency" name="frequency">
								<option *ngFor="let frequency of frequencies" value="{{frequency}}">{{frequency}}</option>
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-6">
						<label>Message Type</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-question fa-lg fa-fw"></i></span>
							<select class="form-control" [(ngModel)]="getInterface().messageType" name="messageType">
								<option *ngFor="let type of types" value="{{type}}">{{type}}</option>
							</select>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-6">
						<label>Message Format</label>&nbsp;
						<button type="button" class="btn btn-xs btn-default" (click)="newFormat()">New Format</button>

						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-code fa-lg fa-fw"></i></span>
							<select class="form-control" [(ngModel)]="getInterface().messageFormat" name="messagFormat">
								<option *ngFor="let format of formats" value="{{format}}">{{format}}</option>
							</select>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-6">
						<label>Message Format Version</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-sort-numeric-asc fa-lg fa-fw"></i></span>
							<input type="text" class="form-control" id="messageFormatVersion" [(ngModel)]="getInterface().messageFormatVersion" placeholder="Please enter a message format version" name="messageVersion">
						</div>

					</div>
				</div>


				<!--<div class="row">
					<div class="form-group col-md-8">
						<label>Technical Interfaces</label>
						<button type="button" class="btn btn-xs btn-success" style="margin-left: 20px" (click)="addInterface()">
							<span class="fa fa-plus"></span>
						</button>
						<div class="table scroll-box-350 form-control">
							<table class="table table-striped table-condensed">
								<thead>
								<tr>
									<th class="col-md-2">Name</th>
									<th class="col-md-4">Message Type</th>
									<th class="col-md-2">Message Format</th>
									<th class="col-md-2"></th>
								</tr>
								</thead>
								<tbody>
								<tr class="hover-box show-child-on-hover"
									*ngFor="let item of getTechnicalInterface(); let i = index;"
									(click)="selectedInterface = item;"
									[ngClass]="{'selection': item == selectedInterface}">
									<td>{{item.name}}</td>
									<td>{{item.messageType}}</td>
									<td>{{item.messageFormat}}</td>
									<td>
										<div class="child-to-show">
											<button type="button" class="btn btn-danger btn-xs pull-right" (click)="removeInterface(i, this)">
												<span class="fa fa-remove"></span>
											</button>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="form-group col-md-4" *ngIf="selectedInterface">
						<div class="row">
							<div class="form-group col-md-12">
								<label>Interface Name</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-edit fa-lg fa-fw"></i></span>
									<input type="text" class="form-control" id="interfaceName" [(ngModel)]="selectedInterface.name" placeholder="Please enter an interface name" name="interface">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label>Transaction Frequency</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-calendar fa-lg fa-fw"></i></span>
									<select class="form-control" [(ngModel)]="selectedInterface.frequency" name="frequency">
										<option *ngFor="let frequency of frequencies" value="{{frequency}}">{{frequency}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label>Message Type</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-question fa-lg fa-fw"></i></span>
									<select class="form-control" [(ngModel)]="selectedInterface.messageType" name="messageType">
										<option *ngFor="let type of types" value="{{type}}">{{type}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">

							<div class="form-group col-md-12">
								<label>Message Format</label>&nbsp;
								<button type="button" class="btn btn-xs btn-default" (click)="newFormat()">New Format</button>

								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-code fa-lg fa-fw"></i></span>
									<select class="form-control" [(ngModel)]="selectedInterface.messageFormat" name="messagFormat">
										<option *ngFor="let format of formats" value="{{format}}">{{format}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label>Message Format Version</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-sort-numeric-asc fa-lg fa-fw"></i></span>
									<input type="text" class="form-control" id="messageFormatVersion" [(ngModel)]="selectedInterface.messageFormatVersion" placeholder="Please enter a message format version" name="messageVersion">
								</div>
							</div>
						</div>
					</div>
				</div>-->
			</form>
		</div>
	</div>
</div>











