<style>
    .form-group {
        margin-bottom: 10px;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-ng-click="expressionEditor.cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Expression Editor</h4>
</div>
<div class="modal-body">
    <form role="form">
        <table class="expressionTable">
            <tr>
                <td colspan="2">
                    <div class="editorSection">Data Source Calculations and Comparisons</div>
                </td>
            </tr>
            <tr>
                <td style="width: 50%; padding-right: 15px; padding-left: 15px; vertical-align: top; border-right: 1px solid gainsboro">
                    <div class='row'>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Data Source A.</label>
                                <select class="form-control" ng-model="expressionEditor.expressionRuleId1">
                                    <option ng-repeat="rule in expressionEditor.rules" value="{{rule.value}}">{{rule.displayName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class='row' >
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label>Sort Field</label>
                                <select class="form-control" ng-model="expressionEditor.expressionRestrictionFieldName1">
                                    <option ng-repeat="field in expressionEditor.fields" value="{{field}}">{{field}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Sort Order</label>
                                <select class="form-control" ng-model="expressionEditor.expressionRestrictionOrderDirection1">
                                    <option ng-repeat="sortorder in expressionEditor.sortorders" value="{{sortorder}}">{{sortorder}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label>Count</label>
                                <input type="text" class="form-control" ng-model="expressionEditor.expressionRestrictionCount1">
                                </input>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Test Field</label>
                                <select class="form-control" ng-model="expressionEditor.expressionTestField1">
                                    <option ng-repeat="field in expressionEditor.fields" value="{{field}}">{{field}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Function</label>
                                <select class="form-control" ng-model="expressionEditor.expressionFunction1">
                                    <option ng-repeat="function in expressionEditor.functions" value="{{function}}">{{function}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </td>
                <td style="width: 50%; padding-right: 15px; padding-left: 15px; vertical-align: top">
                    <div class='row'>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Data Source B.</label>
                                <select class="form-control" ng-model="expressionEditor.expressionRuleId2">
                                    <option ng-repeat="rule in expressionEditor.rules" value="{{rule.value}}">{{rule.displayName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class='row' >
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label>Sort Field</label>
                                <select class="form-control" ng-model="expressionEditor.expressionRestrictionFieldName2">
                                    <option ng-repeat="field in expressionEditor.fields" value="{{field}}">{{field}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Sort Order</label>
                                <select class="form-control" ng-model="expressionEditor.expressionRestrictionOrderDirection2">
                                    <option ng-repeat="sortorder in expressionEditor.sortorders" value="{{sortorder}}">{{sortorder}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label>Count</label>
                                <input type="text" class="form-control" ng-model="expressionEditor.expressionRestrictionCount2">
                                </input>
                            </div>
                        </div>
                    </div>
                    <div class='row' >
                       <div class="col-xs-6">
                            <div class="form-group">
                                <label>Test Field</label>
                                <select class="form-control" ng-model="expressionEditor.expressionTestField2">
                                    <option ng-repeat="field in expressionEditor.fields" value="{{field}}">{{field}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Function</label>
                                <select class="form-control" ng-model="expressionEditor.expressionFunction2">
                                    <option ng-repeat="function in expressionEditor.functions" value="{{function}}">{{function}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <td colspan="2">
                    <div class="editorSection" >Expression Calculator&nbsp;&nbsp;&nbsp;
                        <span style="font-weight: normal; color: silver">(examples: A < B + 28 DAYS, A <= B + 2 WEEKS, A - 6 MONTHS > B, A <= B, A + 10 < B)</span></div>
                    <div class='row' >

                        <div class="col-xs-2">
                            <div class="form-group">
                                <label>Pick Data Source</label>
                                <select class="form-control" ng-model="expressionEditor.variableLabel" style="height: 50px;" multiple ng-click="expressionEditor.variableLabelChange()" ng-disabled="expressionEditor.variableLabelDisabled">
                                    <option ng-repeat="label in expressionEditor.labels" value="{{label}}">{{label}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label>Pick Operator</label>
                                <select class="form-control" ng-model="expressionEditor.operator" style="height: 150px;" multiple ng-click="expressionEditor.operatorChange()" ng-disabled="expressionEditor.operatorDisabled">
                                    <option ng-repeat="operator in expressionEditor.operators" value="{{operator}}">{{operator}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label>Enter Number</label>
                                <input type="text" class="form-control" ng-model="expressionEditor.numberInPeriod" ng-blur="expressionEditor.numberInPeriodChange()" ng-disabled="expressionEditor.numberInPeriodDisabled">
                                </input>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <label>Pick Period</label>
                                <select class="form-control" ng-model="expressionEditor.period" multiple ng-click="expressionEditor.periodChange()" ng-disabled="expressionEditor.periodDisabled">
                                    <option ng-repeat="period in expressionEditor.periods" value="{{period}}">{{period}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Expression Calculation</label>
                                <input type="text" class="form-control" ng-model="expressionEditor.expressionText" ng-disabled="true">
                                </input>
                                <br/>
                                <button type="button" class="btn btn-sm btn-warning"
                                        data-ng-click="expressionEditor.backSpace()">Backspace</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default"
            data-ng-click="expressionEditor.cancel()">Cancel</button>
    <button type="button" class="btn btn-primary"
            data-ng-click="expressionEditor.save();">Ok</button>
</div>
