<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Endeavour : Patient Manager - WEBPACK</title>
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script>
			window.jQuery = window.$ = jQuery;
		</script>
		<patient-ui></patient-ui>
	</body>
</html>

