<div class="modal-header">
	<button type="button" class="close" data-ng-click="codePicker.cancel()" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Code Picker</h4>
</div>
<div class="modal-body">
	<form endUserRole="form" class="container-fluid">
		<!-- Search -->
		<div class="row">
			<div class="form-group col-md-4"></div>
			<div class="form-group col-md-4">
				<label class="control-label">Search Criteria</label>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search term" aria-describedby="searchTerm"
								 ng-model="codePicker.searchData" ng-keyup="$event.keyCode == 13 && codePicker.search()" autofocus>
					<span class="input-group-addon" ng-click="codePicker.search()" style="cursor: pointer">
						<i class="fa fa-search" id="searchTerm" aria-hidden="true"></i>
					</span>
				</div>
			</div>
			<div class="form-group col-md-4"></div>
		</div>

		<!-- Matches -->
		<div class="row">
			<div class="form-group col-md-4">
				<label class="control-label">Parents</label> <small class="text-muted">(Dbl click to navigate up)</small>
				<div class="scroll-box-150 form-control">
					<div ng-repeat="parent in codePicker.parents"
							 ng-dblclick="codePicker.displayCode(parent, true)"
							 class="hover-box show-child-on-hover striped"
							 ng-class="{'previous-selection': parent.code == codePicker.previousSelection.code}">
						{{ codePicker.getTerm(parent.code) }}
						<button type="button" class="btn btn-xs btn-success pull-right child-to-show" ng-click="codePicker.addToSelection(parent)">
							<span class="fa fa-sm fa-plus"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label">Codes</label>
				<div class="scroll-box-150 form-control">
					<div ng-repeat="match in codePicker.searchResults"
							 ng-click="codePicker.displayCode(match, false)"
							 class="hover-box show-child-on-hover striped"
							 ng-class="{'selection': match.code == codePicker.highlightedMatch.code}">
						 {{ codePicker.getTerm(match.code) }}
						<button type="button" class="btn btn-xs btn-success pull-right child-to-show" ng-click="codePicker.addToSelection(match)">
							<span class="fa fa-sm fa-plus"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label">Children</label> <small class="text-muted">(Dbl click to navigate down)</small>
				<div class="scroll-box-150 form-control">
					<div ng-repeat="child in codePicker.children"
							 ng-dblclick="codePicker.displayCode(child, true)"
							 class="hover-box show-child-on-hover striped"
							 ng-class="{'previous-selection': child.code == codePicker.previousSelection.code}">
						{{ codePicker.getTerm(child.code) }}
						<button type="button" class="btn btn-xs btn-success pull-right child-to-show" ng-click="codePicker.addToSelection(child)">
							<span class="fa fa-sm fa-plus"></span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Selection -->
		<div class="row">
			<div class="form-group col-md-6">
				<label class="control-label">Selected codes</label>
				<div class="scroll-box-150 form-control">
					<div ng-repeat="selection in codePicker.resultData"
							 ng-click="codePicker.displayExclusionTree(selection)"
							 class="hover-box show-child-on-hover striped"
							 ng-class="{'selection': selection == codePicker.highlightedSelection}">
						{{ codePicker.getTerm(selection.code) }}
						<span class="label label-success" ng-show="selection.includeChildren && (!selection.exclusion || selection.exclusion.length == 0)">All children</span>
						<span class="label label-warning" ng-show="selection.includeChildren && (selection.exclusion && selection.exclusion.length > 0)">Some children</span>
						<span class="label label-danger" ng-show="!selection.includeChildren">No children</span>
						<button type="button" class="btn btn-xs btn-danger pull-right child-to-show" ng-click="codePicker.removeFromSelection(selection)">
							<span class="fa fa-sm fa-minus"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label class="control-label">Inclusions/Exclusions</label>
				<div class="scroll-box-150 form-control">
					<div ui-tree data-nodrop-enabled="true" data-nodrag id="tree-root">
						<ol ui-tree-nodes ng-model="codePicker.exclusionTreeData">
							<li ng-repeat="node in codePicker.exclusionTreeData" ui-tree-node ng-include="'nodes_renderer.html'"></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn"
					data-ng-click="codePicker.cancel()">Cancel</button>
	<button type="button" class="btn btn-primary"
					data-ng-click="codePicker.ok();">Ok</button>
</div>

<script type="text/ng-template" id="nodes_renderer.html">
	<div ui-tree-handle class="tree-node tree-node-content" style="cursor:pointer">
		<span class="folder-item">
			<span class="text-success fa fa-check-circle-o"
						ng-click="codePicker.untickNode(node)"
						ng-show="node.codeSetValue.includeChildren && (!node.codeSetValue.exclusion || node.codeSetValue.exclusion.length == 0)"> </span>
			<span class="text-warning fa fa-times-circle-o"
						ng-click="codePicker.tickNode(node)"
						ng-show="node.codeSetValue.includeChildren && (node.codeSetValue.exclusion && node.codeSetValue.exclusion.length > 0)"> </span>
			<span class="text-danger fa fa-ban"
						ng-click="codePicker.tickNode(node)"
						ng-show="!node.codeSetValue.includeChildren"> </span>
			<span>{{codePicker.getTerm(node.codeSetValue.code)}}</span>
		</span>
	</div>
	<ol ui-tree-nodes ng-model="node.children">
		<li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'">
		</li>
	</ol>
</script>
