<div ui-tree data-nodrop-enabled="true" data-nodrag id="tree-root">
	<ol ui-tree-nodes ng-model="ctrl.treeData">
		<li ng-repeat="node in ctrl.treeData" ui-tree-node ng-include="'library_folder_template.html'"></li>
	</ol>
</div>
<script type="text/ng-template" id="library_folder_template.html">
	<div ui-tree-handle class="tree-node tree-node-content" style="cursor:pointer">
			<span class="show-child-on-hover folder-item"
						ng-click="ctrl.selectNode(node)" style="cursor:pointer"
						ng-class="{'selection': node.uuid == ctrl.selectedNode.uuid}">
				<span	ng-if="!node.hasChildren" data-nodrag class="fa fa-sm fa-blank text-muted"></span>
				<span ng-if="node.hasChildren" data-nodrag	class="fa fa-sm text-muted"
							ng-class="{'fa-chevron-right': !node.isExpanded,'fa-chevron-down': node.isExpanded}"
							ng-click="ctrl.toggleExpansion(node)"></span>
				<span>
					<span	class="fa fa-folder-open fa-right-pad text-primary"></span>
					<span>{{node.folderName}}</span>
					<span class="fa fa-sm fa-refresh fa-refresh-animate" ng-show="node.loading"></span>
					<span uib-dropdown>
						<button type="button" class="btn btn-xs btn-default child-to-show pull-right" uib-dropdown-toggle>...</button>
						<ul uib-dropdown-menu>
							<li ng-show="ctrl.folderType == 1"><a ng-click="ctrl.actionItem(node.uuid, 9, 'add')">Add system</a></li>
							<li ng-show="ctrl.folderType == 1"><a ng-click="ctrl.actionItem(node.uuid, 8, 'add')">Add data protocol</a></li>
							<li ng-show="ctrl.folderType == 1"><a ng-click="ctrl.actionItem(node.uuid, 2, 'add')">Add query</a></li>
							<li ng-show="ctrl.folderType == 1"><a ng-click="ctrl.actionItem(node.uuid, 6, 'add')">Add list report</a></li>
							<li ng-show="ctrl.folderType == 1"><a ng-click="ctrl.actionItem(node.uuid, 5, 'add')">Add code set</a></li>
							<li ng-show="ctrl.folderType == 2"><a ng-click="ctrl.actionItem(node.uuid, 1, 'add')">Add report</a></li>
							<li role="separator" class="divider"></li>
							<li><a ng-click="ctrl.addChildFolder(node)">Add child folder</a></li>
							<li role="separator" class="divider"></li>
							<li ng-class="{'disabled': !node.parentFolderUuid}"><a ng-click="!node.parentFolderUuid || ctrl.renameFolder(this)">Rename</a></li>
							<li ng-class="{'disabled': !node.parentFolderUuid}"><a ng-click="!node.parentFolderUuid || ctrl.deleteFolder(this)">Delete</a></li>
							<li role="separator" class="divider"></li>
							<li class="disabled"><a href="#">Cut</a></li>
							<li class="disabled"><a href="#">Copy</a></li>
							<li><a ng-click="ctrl.pasteItem(node)">Paste</a></li>
						</ul>
					</span>
				</span>
			</span>
	</div>
	<ol ui-tree-nodes ng-model="node.nodes" ng-show="node.isExpanded">
		<li ui-tree-node ng-repeat="node in node.nodes" ng-include="'library_folder_template.html'">
		</li>
	</ol>
</script>
