<header class="clearfix">
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<div class="nhs-logo">NHS</div>
				<span class="title-text">Data Service Manager</span>
			</div>
			<div class="pull-right" style="padding: 10px;color:gray">
				Logged in : {{currentUser.title}} {{currentUser.forename}} {{currentUser.surname}}


				<!--<div class="dropdown" uib-dropdown>-->
				<!--Organisation : <a href="#" class="dropdown-toggle" uib-dropdown-toggle>-->
				<!--{{ topnav.selectedRole.organisationName }}-->
				<!--<span class="caret"></span>-->
				<!--</a>-->
				<!--<ul uib-dropdown-menu>-->
				<!--<li ng-repeat="endUserRole in topnav.currentUser.userInRoles">-->
				<!--<a href="#" ng-click="topnav.updateRole(endUserRole.userInRoleUuid)">-->
				<!--{{ endUserRole.organisationName }}-->
				<!--</a>-->
				<!--</li>-->
				<!--</ul>-->
				<!--</div>-->
			</div>
		</div>
	</div>
</header>
