<header class="clearfix">
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header" style="width: 50%">
				<div class="nhs-logo">NHS</div>
				<span class="title-text">Discovery Data Checker</span>
			</div>
			<div class="pull-right" style="padding: 10px;color:gray">
				Logged in : {{currentUser.title}} {{currentUser.forename}} {{currentUser.surname}}

				<span class="dropdown" ngbDropdown>
					At :
					<button class="dropdown-toggle" ngbDropdownToggle id="organisationMenu">
						{{ currentOrgRole?.name }}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="organisationMenu">
						<li disabled="true"><a>Select Organisation</a></li>
						<li *ngFor="let organisation of getUserOrganisations()">
							<a (click)="switchOrganisation(organisation)">{{ organisation.name }}</a>
						</li>
					</ul>
				</span>
			</div>
		</div>
	</div>
</header>
