<header class="clearfix">
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header" style="width: 50%">
				<div class="nhs-logo">NHS</div>
				<span class="title-text">Discovery Data Checker</span>
			</div>
			<div class="pull-right" style="padding: 10px;color:gray">
				<span class="dropdown" ngbDropdown>
					Logged in :
					<button class="dropdown-toggle" ngbDropdownToggle id="optionsMenu">
						{{currentUser.title}} {{currentUser.forename}} {{currentUser.surname}}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="optionsMenu">
						<li style="cursor:pointer; padding-left: 5px; padding-right: 5px; padding-bottom: 5px" class="nav-text">
							<div (click)="navigateUserAccount()" class="menuItem" >
							<i class="fa fa-user-circle-o fa-2x"></i>
								User account
							</div>
						</li>
						<li style="cursor:pointer; padding-left: 5px; padding-right: 5px;" class="nav-text">
							<div (click)="logout()" class="menuItem">
							<i class="fa fa-power-off fa-2x"></i>
								Logout
							</div>
						</li>
					</ul>
				</span>
			</div>
		</div>
	</div>
</header>
