<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- protected resources that require auth -->
    <servlet>
        <servlet-name>Endeavour Data Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>io.swagger.jaxrs.listing,org.endeavourhealth.coreui.endpoints,org.endeavourhealth.ui.endpoints</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>org.glassfish.jersey.jackson.JacksonFeature,
                io.swagger.jaxrs.listing.ApiListingResource,
                io.swagger.jaxrs.listing.SwaggerSerializers,
                org.endeavourhealth.core.security.CustomRolesAllowedFeature,
                org.endeavourhealth.ui.framework.exceptions.BaseExceptionMapper
                </param-value>
        </init-param>

        <!-- enable directory listings -->
        <init-param>
            <param-name>listings</param-name>
            <param-value>true</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Endeavour Data Service</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <!-- public resources, no auth needed -->
    <servlet>
        <servlet-name>Public Resources</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>org.endeavourhealth.coreui.endpoints_public,org.endeavourhealth.ui.endpoints_public</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>org.glassfish.jersey.jackson.JacksonFeature,
                org.endeavourhealth.ui.framework.exceptions.BaseExceptionMapper</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Public Resources</servlet-name>
        <url-pattern>/public/*</url-pattern>
    </servlet-mapping>

    <!--register our Startup class as a servlet listener so we can perform one-time setup-->
    <listener>
        <listener-class>
            org.endeavourhealth.coreui.framework.Startup
        </listener-class>
    </listener>
    
    <listener>
        <listener-class>org.endeavourhealth.core.data.CassandraShutdownListener</listener-class>
    </listener>

    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>*</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,HEAD,OPTIONS,PUT,DELETE</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- ============================================ -->
    <!--                    Swagger                   -->
    <!-- ============================================ -->
    <servlet>
        <servlet-name>swaggerBootstrap</servlet-name>
        <servlet-class>org.endeavourhealth.ui.framework.SwaggerBootstrap</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <!-- ============================================ -->
    <!-- JEE security settings - Keycloak integration -->
    <!-- ============================================ -->

    <!-- set the class to provide keycloak.json -->
    <context-param>
        <param-name>keycloak.config.resolver</param-name>
        <param-value>org.endeavourhealth.core.security.keycloak.KeycloakConfigResolverImpl</param-value>
    </context-param>

    <!-- API is private and requires the user to authenticate and be an EDS user -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>api</web-resource-name>
            <url-pattern>/api/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>eds_user</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- API docs require an admin user -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>api-docs</web-resource-name>
            <url-pattern>/api-docs/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>eds_user</role-name>
        </auth-constraint>
    </security-constraint>


    <!-- use Keycloak authentication valve installed in the container -->
    <login-config>
        <auth-method>KEYCLOAK</auth-method>
        <realm-name>Endeavour</realm-name>
    </login-config>

    <!-- all roles in the system MUST be specified here -->
    <security-role>
        <role-name>eds_user</role-name>
    </security-role>
</web-app>