<div class="module">
	<div class="container-fluid">
		<div class="module-heading">
			Code Set
			<div class="pull-right">
				<button type="button" class="btn btn-sm btn-success" data-ng-click="codeSetCtrl.save(false)">Save</button>
				<button type="button" class="btn btn-sm btn-warning" data-ng-click="codeSetCtrl.save(true)">Save & Close</button>
				<button type="button" class="btn btn-sm btn-danger" data-ng-click="codeSetCtrl.close()">Cancel</button>
			</div>
		</div>
		<div class="module-body">
			<form>
				<div class="row">
					<div class="form-group col-md-6">
						<label for="name">Name</label>
						<input type="text" class="form-control" id="name" ng-model="codeSetCtrl.libraryItem.name">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label for="description">Description</label>
						<textarea class="form-control" id="description" ng-model="codeSetCtrl.libraryItem.description"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label>Codes</label> <small class="text-muted">(Click box to edit)</small>
						<div class="scroll-box-150 form-control" style="cursor: pointer;" ng-click="codeSetCtrl.showCodePicker()">
							<span ng-repeat="selection in codeSetCtrl.libraryItem.codeSet.codeSetValue">
								{{ codeSetCtrl.getTerm(selection.code) }}
								<span class="label label-success" ng-show="selection.includeChildren && (!selection.exclusion || selection.exclusion.length == 0)">All children</span>
								<span class="label label-warning" ng-show="selection.includeChildren && (selection.exclusion && selection.exclusion.length > 0)">Some children</span>
								<span class="label label-danger" ng-show="!selection.includeChildren">No children</span>
								<span ng-hide="this.$last">  |  </span>
							</span>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
