<div class="module">
    <div class="module-heading">
            {{subscriberName}} details
            <span *ngIf="statusLastRefreshed"> as of {{statusLastRefreshed | date:'HH:mm:ss'}}</span>
            <span *ngIf="status && filteredServices"> ({{filteredServices.length}} shown of {{status.publisherServices.length}})</span>
        <div class="pull-right">

            <form class="form-inline">

                <button class="btn btn-sm btn-default" [disabled]="refreshingStatus" (click)="saveToCsv()">Save to CSV</button>
                <button class="btn btn-sm btn-success" [disabled]="refreshingStatus" (click)="refreshScreen()">Refresh&nbsp;<span class="fa fa-sm fa-refresh fa-refresh-animate" *ngIf="refreshingStatus"></span></button>
                <button type="button" class="btn btn-sm btn-default" (click)="close()">Close</button>

            </form>

        </div>
    </div>
    <div class="module-body">

        <div class="panel panel-primary">
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">

                        <!-- name and ID filtering -->
                        <div class="col-sm-2">

                            <label for="publisherNameFilter" for="inputType" class="control-label">Name/ODS</label>
                            <input type="text" id="publisherNameFilter" class="form-control" id="inputType" placeholder="Regex" [(ngModel)]="subscribersService.publisherNameFilter" name="publisherNameFilter" (ngModelChange)="applyFiltering()">

                        </div>

                        <!-- system type filtering -->
                        <div class="col-sm-2">
                            <label for="systemNameFilter" class="control-label">System</label>
                            <select id="systemNameFilter" class="form-control" [(ngModel)]="subscribersService.systemNameFilter" name="systemNameFilter" (ngModelChange)="applyFiltering()">
                                <option value=""></option>
                                <option *ngFor="let systemName of cachedSystemNames" value="{{systemName}}">{{systemName}}</option>
                            </select>
                        </div>

                        <!-- status filtering -->
                        <div class="col-sm-2">
                            <label for="statusFilter" class="control-label">System</label>
                            <select id="statusFilter" class="form-control" [(ngModel)]="subscribersService.statusFilter" name="statusFilter" (ngModelChange)="applyFiltering()">
                                <option value=""></option>
                                <option value="warnings">Warnings Only</option>
                                <option value="behind">Behind &amp; Warnings</option>
                                <option value="up-to-date">Up-to-date</option>
                            </select>
                        </div>


                        <!-- show dates vs show relative dates -->
                        <div class="col-sm-2">

                            <div>
                                <label for="showDatesFilter" class="control-label">Show Dates</label>
                                <input type="checkbox" id="showDatesFilter" [(ngModel)]="subscribersService.showDates" name="showDatesFilter">
                            </div>

      <!--                      <div>
                                <label for="showWarningsOnly" class="control-label">Show Warnings Only</label>
                                <input type="checkbox" id="showWarningsOnly" [(ngModel)]="subscribersService.showWarningsOnly" name="showWarningsOnly" (ngModelChange)="applyFiltering()">
                            </div>-->



                        </div>




                        <div class="col-sm-2">
                            <label for="sortFilter" class="control-label">Sorting</label>
                            <select id="sortFilter" class="form-control" [(ngModel)]="subscribersService.sortFilter" name="sortFilter" (ngModelChange)="applyFiltering()">
                                <option value="NameAsc">Name Asc</option>
                                <option value="NameDesc">Name Desc</option>
                                <option value="IDAsc">ID Asc</option>
                                <option value="IDDesc">ID Desc</option>
                                <option value="LastDataAsc">Last Data Asc</option>
                                <option value="LastDataDesc">Last Data Desc</option>
                            </select>
                        </div>

                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <div class="table">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th class="col-md-3">Publisher</th> <!-- publisher name and alias -->
                            <th class="col-md-1">ODS Code</th> <!-- publisher ODS code -->
                            <th class="col-md-1">System</th> <!-- Emis, TPP etc. -->
                            <th class="col-md-1">Last Received</th> <!-- cutoff of last extract -->
                            <th class="col-md-1">Last Data In</th> <!-- cutoff of last data processed in -->
                            <th class="col-md-1">Last Data Out</th> <!-- cutoff of last data processed out -->
                            <!--<th class="col-md-1"></th> &lt;!&ndash; actions &ndash;&gt;-->

                        </tr>
                        </thead>
                        <tbody>
                        <tr class="hover-box show-child-on-hover" *ngFor="let publisher of filteredServices" (click)="selectedPublisher = publisher;" [ngClass]="{'selection': publisher == selectedPublisher}">

                            <!-- publisher name and alias -->
                            <td>
                                <a (click)="editPublisher(publisher.uuid)">{{publisher.name}}</a>
                                <!-- icon with tooltip showing alias -->
                                <span class="fa fa-info-circle fa-right-pad text-muted" ngbTooltip="{{publisher.alias}}" *ngIf="publisher.alias"></span>
                            </td>

                            <!-- publisher ODS code -->
                            <td>
                                {{publisher.odsCode}}
                            </td>

                            <!-- Emis, TPP etc. -->
                            <td>
                                <div *ngFor="let system of publisher.systemStatus">
                                    {{system.name}}
                                </div>
                            </td>

                            <!-- cutoff of last extract -->
                            <td>
                                <div *ngFor="let system of publisher.systemStatus">
                                    <div *ngIf="subscribersService.showDates">
                                        {{system.lastReceivedExtractCutoff |  date:'yyyy-MM-dd HH:mm'}}
                                    </div>
                                    <div *ngIf="!subscribersService.showDates">
                                        {{getDateDiff(system.lastReceivedExtractCutoff)}}
                                    </div>
                                </div>
                            </td>

                            <!-- cutoff of last data processed in -->
                            <td>
                                <div *ngFor="let system of publisher.systemStatus">
                                    <span *ngIf="subscribersService.showDates">
                                        {{system.lastProcessedInExtractCutoff |  date:'yyyy-MM-dd HH:mm'}}
                                    </span>
                                    <span *ngIf="!subscribersService.showDates">
                                        {{getDateDiff(system.lastProcessedInExtractCutoff)}}
                                    </span>

                                    <span class="label label-danger" *ngIf="system.processingInError" ngbTooltip="Inbound error: {{system.processingInErrorMessage}}">Warning</span>
                                    <span class="label label-danger" *ngIf="!system.processingInError && system.inboundBehindWarning" ngbTooltip="{{system.inboundBehindWarning}}">Warning</span>
                                    <span class="fa fa-reply" *ngIf="!system.processingInError && !system.inboundBehindWarning && system.inboundBehindDays > 0" ngbTooltip="Behind"></span>
                                </div>
                            </td>

                            <!-- cutoff of last data processed out -->
                            <td>
                                <div *ngFor="let system of publisher.systemStatus">
                                    <span *ngIf="subscribersService.showDates">
                                        {{system.lastProcessedOutExtractCutoff | date:'yyyy-MM-dd HH:mm'}}
                                    </span>
                                    <span *ngIf="!subscribersService.showDates">
                                        {{getDateDiff(system.lastProcessedOutExtractCutoff)}}
                                    </span>

                                    <span class="label label-danger" *ngIf="system.outboundBehindWarning" ngbTooltip="{{system.outboundBehindWarning}}">Warning</span>
                                    <span class="fa fa-reply" *ngIf="!system.outboundBehindWarning && system.outboundBehindDays > 0" ngbTooltip="Behind"></span>
                                </div>
                            </td>

                            <!-- actions -->
                            <!--<td>
                                <button class="btn btn-xs btn-default child-to-show" (click)="viewPublisherExchanges(publisher.uuid)">View Exchanges</button>
                            </td>-->

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-3">

                <div class="panel panel-info" *ngIf="selectedPublisher">
                    <div class="panel-heading">
                        <b>{{selectedPublisher.odsCode}}</b> {{selectedPublisher.name}}
                    </div>
                    <div class="panel-body">

                        <div *ngFor="let tagName of getTagNames(selectedPublisher)">
                            {{tagName}} {{getTagValueDesc(tagName, selectedPublisher)}}
                        </div>
                        <div>&nbsp;</div>

                        <!-- sub panel for each system -->
                        <!--<div class="panel panel-info" *ngFor="let system of selectedPublisher.systemStatus">-->
                        <div class="{{getPanelClass(system)}}" *ngFor="let system of selectedPublisher.systemStatus">
                            <div class="panel-heading">
                                {{system.name}}
                            </div>
                            <div class="panel-body">

                                <div *ngIf="system.processingInError">
                                    <div>
                                        Inbound processing error: <b>{{system.processingInErrorMessage}}</b>
                                    </div>
                                    <span class="label label-danger" ngbTooltip="Inbound error">Warning</span>
                                    <div>&nbsp;</div>
                                </div>

                                <div>
                                    Last extract received:
                                    <span *ngIf="system.lastReceivedExtract ">{{system.lastReceivedExtract | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                    <span *ngIf="!system.lastReceivedExtract ">Never</span>
                                </div>
                                <div>
                                    Last extract cutoff:
                                    <span *ngIf="system.lastReceivedExtractCutoff ">{{system.lastReceivedExtractCutoff | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                    <span *ngIf="!system.lastReceivedExtractCutoff ">Never</span>
                                </div>
                                <div>&nbsp;</div>
                                <div>
                                    Inbound processing completed:
                                    <span *ngIf="system.lastProcessedInExtract ">{{system.lastProcessedInExtract | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                    <span *ngIf="!system.lastProcessedInExtract ">Never</span>
                                </div>
                                <div>
                                    Inbound extract cutoff:
                                    <span *ngIf="system.lastProcessedInExtractCutoff ">{{system.lastProcessedInExtractCutoff | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                    <span *ngIf="!system.lastProcessedInExtractCutoff ">Never</span>
                                    <span class="label label-danger" *ngIf="system.inboundBehindWarning" ngbTooltip="{{system.inboundBehindWarning}}">Warning</span>
                                    <span class="fa fa-reply" *ngIf="!system.inboundBehindWarning && system.inboundBehindDays > 0" ngbTooltip="Behind"></span>

                                </div>
                                <div>&nbsp;</div>
                                <div>
                                    Outbound processing completed:
                                    <span *ngIf="system.lastProcessedOutExtract ">{{system.lastProcessedOutExtract | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                    <span *ngIf="!system.lastProcessedOutExtract ">Never</span>
                                </div>
                                <div>
                                    Outbound extract cutoff:
                                    <span *ngIf="system.lastProcessedOutExtractCutoff ">{{system.lastProcessedOutExtractCutoff | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                    <span *ngIf="!system.lastProcessedOutExtractCutoff ">Never</span>
                                    <span class="label label-danger" *ngIf="system.outboundBehindWarning" ngbTooltip="{{system.outboundBehindWarning}}">Warning</span>
                                    <span class="fa fa-reply" *ngIf="!system.outboundBehindWarning && system.outboundBehindDays > 0" ngbTooltip="Behind"></span>
                                </div>


                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>