<div class="module">
    <div class="module-heading">
            Subscriber Status
            <span *ngIf="statusesLastRefreshed"> (as of {{formatHHMMSS(statusesLastRefreshed)}})</span>
        <div class="pull-right">

            <form class="form-inline">

                <button class="btn btn-sm btn-default" [disabled]="refreshingStatus" (click)="saveToCsv()">Save to CSV</button>
                <button class="btn btn-sm btn-success" [disabled]="refreshingStatus" (click)="refreshScreen()">Refresh&nbsp;<span class="fa fa-sm fa-refresh fa-refresh-animate" *ngIf="refreshingStatus"></span></button>
            </form>

        </div>
    </div>
    <div class="module-body">


        <div class="row">
            <div class="col-md-12">
                <div class="table">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th class="col-md-3">Subscriber</th> <!-- name and desc -->
                            <th class="col-md-1">Type</th> <!-- internal or remote -->
                            <th class="col-md-1">Schema</th> <!-- compass v1/v2 -->
                            <th class="col-md-1">PI</th> <!-- PI or deidentified -->
                            <th class="col-md-1">Publishers</th> <!-- number of publishers -->
                            <th class="col-md-1">Inbound Err</th> <!-- number of inbound errors -->
                            <th class="col-md-2">
                                Inbound Status
                                <span class="fa fa-info-circle fa-right-pad text-muted" ngbTooltip="OK / 1d behind / 2d+ behind"></span>
                            </th> <!-- inbound status -->
                            <th class="col-md-2">
                                Outbound Status
                                <span class="fa fa-info-circle fa-right-pad text-muted" ngbTooltip="OK / 1d behind / 2d+ behind"></span>
                            </th> <!-- outbound status -->
                            <!--<th class="col-md-1"></th> &lt;!&ndash; actions &ndash;&gt;-->

                        </tr>
                        </thead>
                        <tbody>
                        <tr class="hover-box show-child-on-hover" *ngFor="let subscriber of getSubscribersToDisplay()" (click)="viewSubscriberDetails(subscriber)">

                            <!-- name and desc -->
                            <td>
                                <div>{{subscriber.name}}</div>
                                <div class="text-muted">
                                    {{subscriber.description}}
                                </div>
                            </td>

                            <!-- internal or remote -->
                            <td>
                                <span ngbTooltip="{{getRemoteSubscriberIdDesc(subscriber)}}">{{getSubscriberLocationDesc(subscriber)}}</span>
                            </td>

                            <!-- compass v1/v2 -->
                            <td>
                                <div>{{getSubscriberSchemaDesc(subscriber)}}</div>
                            </td>

                            <!-- PI or deidentified -->
                            <td>
                                <span *ngIf="!subscriber.deidentified" class="fa fa-check"></span>
                            </td>

                            <!-- number of publishers -->
                            <td>
                                {{subscriber.numPublishers}}
                            </td>

                            <!-- number of inbound errors -->
                            <td>
                                {{subscriber.inboundError}}
                                <span class="label label-danger" *ngIf="subscriber.inboundError > 0" ngbTooltip="Inbound processing errors">Error</span>
                            </td>

                            <!-- inbound status -->
                            <td>
                                {{subscriber.inboundUpToDate}}
                                &nbsp;&nbsp;/&nbsp;&nbsp;
                                {{subscriber.inboundOneDay}}
                                &nbsp;&nbsp;/&nbsp;&nbsp;
                                {{subscriber.inboundMoreDays}}
                                <span class="label label-danger" *ngIf="subscriber.inboundMoreDays > 0" ngbTooltip="Inbound processing 2d+ behind">Warning</span>
                            </td>

                            <!-- outbound status -->
                            <td>
                                {{subscriber.outboundUpToDate}}
                                &nbsp;&nbsp;/&nbsp;&nbsp;
                                {{subscriber.outboundOneDay}}
                                &nbsp;&nbsp;/&nbsp;&nbsp;
                                {{subscriber.outboundMoreDays}}
                                <span class="label label-danger" *ngIf="subscriber.outboundMoreDays > 0" ngbTooltip="Outbound processing 2d+ behind">Warning</span>
                            </td>

                            <!-- actions -->
                            <!--<td>
                                <button class="btn btn-xs btn-default child-to-show" (click)="viewSubscriberDetails(subscriber)">View Details</button>
                            </td>-->

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



    </div>
</div>


