<div class="module">
    <div class="module-heading">
        Subscriber Status <span
            *ngIf="statusesLastRefreshed">(as of {{statusesLastRefreshed | date:'HH:mm:ss'}})</span>
        <div class="pull-right">

            <form class="form-inline">

                <button class="btn btn-sm btn-default" (click)="saveToCsv()" title="Save to CSV">Save to CSV</button>
                <button class="btn btn-sm btn-success" (click)="refreshScreen()">Refresh</button>

            </form>

        </div>
    </div>
    <div class="module-body">


        <div class="row">
            <div class="col-md-12">
                <div class="table">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th class="col-md-3">Subscriber</th> <!-- name and desc -->
                            <th class="col-md-1">Type</th> <!-- internal or remote -->
                            <!--<th class="col-md-1">Schema</th> &lt;!&ndash; compass v1/v2 &ndash;&gt;-->
                            <!--<th class="col-md-1">PI</th> &lt;!&ndash; PI or deidentified &ndash;&gt;-->
                            <th class="col-md-1">Publishers</th> <!-- number of publishers -->
                            <th class="col-md-1">In Up-to-date</th>
                            <th class="col-md-1">In 1d Behind</th>
                            <th class="col-md-1">In 2d+ Behind</th>
                            <th class="col-md-1">Out Up-to-date</th>
                            <th class="col-md-1">Out 1d Behind</th>
                            <th class="col-md-1">Out 2d+ Behind</th>
                            <th class="col-md-1"></th> <!-- actions -->

                        </tr>
                        </thead>
                        <tbody>
                        <tr class="hover-box show-child-on-hover" *ngFor="let subscriber of getSubscribersToDisplay()">

                            <!-- name and desc -->
                            <td>
                                <div>{{subscriber.name}}</div>
                                <div class="text-muted">
                                    {{subscriber.description}}
                                </div>
                            </td>

                            <!-- internal or remote -->
                            <td>
                                <span ngbTooltip="{{getRemoteSubscriberIdDesc(subscriber)}}">{{getSubscriberLocationDesc(subscriber)}}</span>
                            </td>

                            <!-- compass v1/v2 -->
                            <!--<td>
                                <div>{{getSubscriberSchemaDesc(subscriber)}}</div>
                            </td>-->

                            <!-- PI or deidentified -->
                            <!--<td>
                                <span *ngIf="!subscriber.deidentified" class="fa fa-check"></span>
                            </td>-->

                            <!-- number of publishers -->
                            <td>
                                {{subscriber.numPublishers}}
                            </td>

                            <td>
                                {{subscriber.inboundUpToDate}}
                            </td>
                            <td>
                                {{subscriber.inboundOneDay}}
                                <span class="label label-warning" *ngIf="subscriber.inboundOneDay > 0">Warning</span>
                            </td>
                            <td>
                                {{subscriber.inboundMoreDays}}
                                <span class="label label-danger" *ngIf="subscriber.inboundMoreDays > 0">Warning</span>
                            </td>
                            <td>
                                {{subscriber.outboundUpToDate}}
                            </td>
                            <td>
                                {{subscriber.outboundOneDay}}
                                <span class="label label-warning" *ngIf="subscriber.outboundOneDay > 0">Warning</span>
                            </td>
                            <td>
                                {{subscriber.outboundMoreDays}}
                                <span class="label label-danger" *ngIf="subscriber.outboundMoreDays > 0">Warning</span>
                            </td>

                            <!-- actions -->
                            <td>
                                <button class="btn btn-xs btn-default child-to-show" (click)="viewSubscriberDetails(subscriber)">View Details</button>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



    </div>
</div>


