<div class="modal-header">
    <button type="button" class="close" data-ng-click="ctrl.cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Find patient</h4>
</div>
<div class="modal-body" ng-keydown="ctrl.keydown($event)">

    <div class="container-fluid">

        <form id="patient-find-search-criteria">
            <div id="patient-find-service-chooser" class="btn-group" uib-dropdown>
                <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">{{ ctrl.selectedService == null ? 'Please choose a service...' : ctrl.selectedService.name }}<span class="caret"></span></button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li ng-repeat="service in ctrl.services" role="menuitem"><a href="#" data-ng-click="ctrl.selectService(service)">[{{service.localIdentifier}}] {{service.name}}</a></li>
                </ul>
            </div>
            <div data-ng-show="ctrl.selectedService" class="input-group">
                <input type="text" class="form-control" ng-model="ctrl.searchTerms" ng-change="ctrl.searchTermsChanged()" autofocus placeholder="Enter search terms...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="ctrl.findPatient()">Find patient</button>
                </span>
            </div>
        </form>

        <div class="table-selectable" ng-show="ctrl.foundPatients">
            <table class="table table-hover">
                <thead>
                    <th>Name / Address</th>
                    <th>Born / Gender</th>
                    <th>NHS number</th>
                </thead>
                <tbody>
                <tr data-ng-hide="ctrl.foundPatients.length > 0"><td colspan="3"><i>(no patients found)</i></td></tr>
                <tr ng-repeat="patient in ctrl.foundPatients" ng-click="ctrl.selectPatient(patient)" ng-class="{'selected': ctrl.selectedPatient == patient}">
                        <td><b>{{patient.name | cuiName}}</b><br/>{{patient.homeAddress | cuiSingleLineAddress}}</td>
                        <td>{{patient.dateOfBirth | cuiDateOfBirth}}<br/>{{patient.gender | cuiGender}}</td>
                        <td>{{patient.nhsNumber | cuiNhsNumber}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn bnt-default" data-ng-click="ctrl.cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-hide="ctrl.editMode" data-ng-click="ctrl.ok()" ng-disabled="ctrl.selectedPatient == null">OK</button>
</div>
