<div class="module">
    <div class="container-fluid">
        <div class="module-heading">
            Data Sharing Agreement Details
            <div class="pull-right">
                <button type="button" class="btn btn-sm btn-success" (click)="save(false)">Save</button>
                <button type="button" class="btn btn-sm btn-warning" (click)="save(true)">Save & Close</button>
                <button type="button" class="btn btn-sm btn-danger" (click)="close()">Cancel</button>
            </div>
        </div>
        <div class="module-body">
            <form>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Data Sharing Agreement Name</label>
                        <input type="text" class="form-control" placeholder="Organisation name" [(ngModel)]="dsa.name" name="name">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Description</label>
                        <input type="text" class="form-control" placeholder="Description" [(ngModel)]="dsa.description" name="description">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Derivation</label>
                        <input type="text" class="form-control" placeholder="Derivation" [(ngModel)]="dsa.derivation" name="derivation">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label">Status</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
                            <select class="form-control" [(ngModel)]="dsa.dsaStatusId" name="dsaStatusId">
                                <option *ngFor="let st of status" [ngValue]="st.num">{{st.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Consent Model</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-th-large fa-lg fa-fw"></i></span>
                            <select class="form-control" [(ngModel)]="dsa.consentModelId" name="consentModelId">
                                <option *ngFor="let con of consents" [ngValue]="con.num">{{con.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Start Date</label>
                        <input type="date" class="form-control" placeholder="Start Date" [(ngModel)]="dsa.startDate" name="startDate">
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">End Date</label>
                        <input type="date" class="form-control" placeholder="End Date" [(ngModel)]="dsa.endDate" name="endDate">
                    </div>
                </div>

                <accordion>
                    <accordion-group [panelClass]="accordionClass" #purps>
                        <div accordion-heading>
                            <div class="row">
                                <div class="col-md-2">
                                    Purposes
                                </div>
                                <div class="col-md-1">
                                    <span class="badge">{{purposes?.length}}</span>
                                    <i class="float-xs-right glyphicon pull-right"
                                       [ngClass]="{'glyphicon-chevron-down': purps?.isOpen, 'glyphicon-chevron-right': !purps?.isOpen}"></i>
                                    <button type="button" class="btn btn-xs btn-success pull-right" (click)="editPurposes()">Add</button>
                                </div>
                            </div>
                        </div>
                        <entity-viewer
                                [items]="purposes"
                                [primary]="'title'"
                                [primaryOrderText]="'Title'"
                                [displayClass]="'region'"
                                [secondary]="'detail'"
                                [secondaryOrderText]="'Detail'"
                                [typeDescription]="'Purpose'"
                                [model]="'organisation'"
                                [detailsToShow]="purposeDetailsToShow">
                        </entity-viewer>
                    </accordion-group>

                    <accordion-group [panelClass]="accordionClass" #bens>
                        <div accordion-heading>
                            <div class="row">
                                <div class="col-md-2">
                                    Benefits
                                </div>
                                <div class="col-md-1">
                                    <span class="badge">{{benefits?.length}}</span>
                                    <i class="float-xs-right glyphicon pull-right"
                                       [ngClass]="{'glyphicon-chevron-down': bens?.isOpen, 'glyphicon-chevron-right': !bens?.isOpen}"></i>
                                    <button type="button" class="btn btn-xs btn-success pull-right" (click)="editBenefits()">Add</button>
                                </div>
                            </div>
                        </div>
                        <entity-viewer
                                [items]="benefits"
                                [primary]="'title'"
                                [primaryOrderText]="'Title'"
                                [displayClass]="'region'"
                                [secondary]="'detail'"
                                [secondaryOrderText]="'Detail'"
                                [typeDescription]="'Benefit'"
                                [model]="'benefit'"
                                [detailsToShow]="benefitDetailsToShow">
                        </entity-viewer>
                    </accordion-group>
                    <accordion-group [panelClass]="accordionClass" #regs>
                        <div accordion-heading>
                            <div class="row">
                                <div class="col-md-2">
                                    Regions
                                </div>
                                <div class="col-md-1">
                                    <span class="badge">{{regions?.length}}</span>
                                    <i class=" float-xs-right glyphicon pull-right"
                                       [ngClass]="{'glyphicon-chevron-down': regs?.isOpen, 'glyphicon-chevron-right': !regs?.isOpen}"></i>
                                    <button type="button" class="btn btn-xs btn-success pull-right" (click)="editRegions()">Edit</button>

                                </div>
                            </div>
                        </div>
                        <entity-viewer
                                [items]="regions"
                                [primary]="'name'"
                                [primaryOrderText]="'Name'"
                                [displayClass]="'region'"
                                [secondary]="'description'"
                                [secondaryOrderText]="'Description'"
                                [typeDescription]="'Region'"
                                [model]="'region'"
                                [detailsToShow]="regionDetailsToShow">
                        </entity-viewer>
                    </accordion-group>
                    <accordion-group [panelClass]="accordionClass" #dfs>
                        <div accordion-heading>
                            <div class="row">
                                <div class="col-md-2">
                                    Data Flow Agreements
                                </div>
                                <div class="col-md-1">
                                    <span class="badge">{{dataFlows?.length}}</span>
                                    <i class="float-xs-right glyphicon pull-right"
                                       [ngClass]="{'glyphicon-chevron-down': dfs?.isOpen, 'glyphicon-chevron-right': !dfs?.isOpen}"></i>
                                    <button type="button" class="btn btn-xs btn-success pull-right" (click)="editDataFlows()">Edit</button>
                                </div>
                            </div>
                        </div>
                        <entity-viewer
                                [items]="dataFlows"
                                [primary]="'name'"
                                [primaryOrderText]="'Name'"
                                [displayClass]="'region'"
                                [secondary]="'approximateVolume'"
                                [secondaryOrderText]="'Approximate Volume'"
                                [typeDescription]="'Data Flow'"
                                [model]="'dataflow'"
                                [detailsToShow]="dataflowDetailsToShow">
                        </entity-viewer>
                    </accordion-group>
                    <accordion-group [panelClass]="accordionClass" #pubs>
                        <div accordion-heading>
                            <div class="row">
                                <div class="col-md-2">
                                    Publishers
                                </div>
                                <div class="col-md-1">
                                    <span class="badge">{{publishers?.length}}</span>
                                    <i class="float-xs-right glyphicon pull-right"
                                       [ngClass]="{'glyphicon-chevron-down': pubs?.isOpen, 'glyphicon-chevron-right': !pubs?.isOpen}"></i>
                                    <button type="button" class="btn btn-xs btn-success pull-right" (click)="editPublishers()">Edit</button>
                                </div>
                            </div>
                        </div>
                        <entity-viewer
                                [items]="publishers"
                                [primary]="'name'"
                                [primaryOrderText]="'Name'"
                                [displayClass]="'region'"
                                [secondary]="'odsCode'"
                                [secondaryOrderText]="'ODS Code'"
                                [typeDescription]="'Publisher'"
                                [model]="'organisation'"
                                [detailsToShow]="orgDetailsToShow">
                        </entity-viewer>
                    </accordion-group>
                    <accordion-group [panelClass]="accordionClass" #subs>
                        <div accordion-heading>
                            <div class="row">
                                <div class="col-md-2">
                                    Subscribers
                                </div>
                                <div class="col-md-1">
                                    <span class="badge">{{subscribers?.length}}</span>
                                    <i class="float-xs-right glyphicon pull-right"
                                       [ngClass]="{'glyphicon-chevron-down': subs?.isOpen, 'glyphicon-chevron-right': !subs?.isOpen}"></i>
                                    <button type="button" class="btn btn-xs btn-success pull-right" (click)="editSubscribers()">Edit</button>
                                </div>
                            </div>
                        </div>
                        <entity-viewer
                                [items]="subscribers"
                                [primary]="'name'"
                                [primaryOrderText]="'Name'"
                                [displayClass]="'region'"
                                [secondary]="'odsCode'"
                                [secondaryOrderText]="'ODS Code'"
                                [typeDescription]="'Subscriber'"
                                [model]="'organisation'"
                                [detailsToShow]="orgDetailsToShow">
                        </entity-viewer>
                    </accordion-group>
                </accordion>
            </form>
            <br>
            <br>
        </div>
    </div>
</div>
