<div>
	<header class="clearfix">
		<div data-ng-include="'app/layout/topnav.html'"></div>
	</header>
	<section id="content" class="content">
		<div data-ng-include="'app/layout/sidebar.html'"></div>
		<div ui-view></div>
	</section>

	<section data-ng-controller="ShellController as shell">
		<script type="text/ng-template" id="warning-dialog.html">
			<div class="modal-header">
				<h3>Session Idle.</h3>
			</div>
			<div idle-countdown="shell.countdown" ng-init="shell.countdown=10" class="modal-body">
				You'll be logged out in {{shell.countdown}} second(s).
				<uib-progressbar max="10" value="shell.countdown" animate="true" class="progress-striped active"/>
			</div>
		</script>
	</section>
</div>
