<div class="module">
	<div class="module-heading">
		Data Service Statistics
		<button class="btn btn-success btn-sm pull-right"
				ng-click="statsCtrl.showGraphs()"
				title="Display the statistical graphs">
			<i class="fa fa-bar-chart"></i> Refresh Graphs
		</button>
		<button class="btn btn-success btn-sm pull-right"
				ng-click="statsCtrl.refresh()"
				title="Refresh these statistics">
			<i class="fa fa-refresh"></i> Refresh Stats
		</button>
	</div>
	<div class="module-body">
		<div class="container-fluid">
			<div class="row">
				<div class="form-group col-md-12">
					<label class="control-label">Filter by Services</label> <button type="button" class="btn btn-xs btn-success" ng-click="statsCtrl.editServices()">Edit</button>
					<div>
						<div class="table">
							<table class="table table-striped table-condensed">
								<tbody>
								<tr>
									<td ng-repeat="item in statsCtrl.services">{{ item.name }}</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class="col-xs-6">
					<div class="form-group">
						<label>Filter by Date Recorded From:</label>
						<p class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" is-open="dateEditorFromDatePicker" ng-model="statsCtrl.filterDateFrom" ng-blur="statsCtrl.filterDateFromChange(statsCtrl.filterDateFrom)" placeholder="Select date from">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="dateEditorFromDatePicker = true"><i class="fa fa-calendar"></i></button>
								</span>
						</p>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label>Filter by Date Recorded To:</label>
						<p class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" is-open="dateEditorToDatePicker" ng-model="statsCtrl.filterDateTo" ng-blur="statsCtrl.filterDateToChange(statsCtrl.filterDateTo)" placeholder="Select date to">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="dateEditorToDatePicker = true"><i class="fa fa-calendar"></i></button>
								</span>
						</p>
					</div>
				</div>
			</div>
			<div class="row" ng-hide="statsCtrl.hideLoading">
				<div style="text-align: center; font-size: 18px">Loading Statistics....</div>
				<div class="sk-fading-circle">
					<div class="sk-circle1 sk-circle"></div>
					<div class="sk-circle2 sk-circle"></div>
					<div class="sk-circle3 sk-circle"></div>
					<div class="sk-circle4 sk-circle"></div>
					<div class="sk-circle5 sk-circle"></div>
					<div class="sk-circle6 sk-circle"></div>
					<div class="sk-circle7 sk-circle"></div>
					<div class="sk-circle8 sk-circle"></div>
					<div class="sk-circle9 sk-circle"></div>
					<div class="sk-circle10 sk-circle"></div>
					<div class="sk-circle11 sk-circle"></div>
					<div class="sk-circle12 sk-circle"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">Patients
							<i title="collapse" style="cursor:pointer" ng-class="statsCtrl.hidePatients ? 'fa fa-plus fa-lg fa-fw pull-right' : 'fa fa-minus fa-lg fa-fw pull-right'" ng-click="statsCtrl.togglePatientStats()"></i>
							<i title="Refresh the statistical graphs" style="cursor:pointer" class="fa fa-bar-chart fa-lg fa-fw pull-right" ng-click="statsCtrl.showGraphs()"></i>
							<i title="Refresh these statistics" style="cursor:pointer" class="fa fa-refresh fa-lg fa-fw pull-right" ng-click="statsCtrl.refresh()"></i>
						</div>
						<div class="form-group col-md-6" ng-hide="statsCtrl.hidePatients">
							<div class="table">
								<br/>
								<table class="highchart table table-striped table-condensed" data-graph-inverted="0" data-graph-container="#patients" data-graph-type="column" data-graph-height="200">
									<thead>
									<tr>
										<th>Organisation</th>
										<th>Total Patients</th>
										<th>Active Patients</th>
										<th>Inactive Patients</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="stats in statsCtrl.storageStatistics">
										<td>
											<a style="cursor:pointer" ng-click="statsCtrl.actionItem(stats,'view')">{{statsCtrl.lookupServiceName(stats.serviceId)}}</a>
										</td>
										<td>
											<a style="cursor:pointer" ng-click="statsCtrl.actionItem(stats,'view')">{{stats.patientStatistics.totalCount}}</a>
										</td>
										<td>
											<a style="cursor:pointer" ng-click="statsCtrl.actionItem(stats,'view')">{{stats.patientStatistics.activeCount}}</a>
										</td>
										<td>
											<a style="cursor:pointer" ng-click="statsCtrl.actionItem(stats,'view')">{{stats.patientStatistics.totalCount-stats.patientStatistics.activeCount}}</a>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="form-group col-md-6" ng-hide="statsCtrl.hidePatients">
							<br/>
							<div id="patients"><a style="cursor:pointer" ng-click="statsCtrl.showGraphs()">Refresh Graphs</a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">Clinical Resources
							<i title="collapse" style="cursor:pointer" ng-class="statsCtrl.hideEvents ? 'fa fa-plus fa-lg fa-fw pull-right' : 'fa fa-minus fa-lg fa-fw pull-right'" ng-click="statsCtrl.toggleEventStats()"></i>
							<i title="Refresh the statistical graphs" style="cursor:pointer" class="fa fa-bar-chart fa-lg fa-fw pull-right" ng-click="statsCtrl.showGraphs()"></i>
							<i title="Refresh these statistics" style="cursor:pointer" class="fa fa-refresh fa-lg fa-fw pull-right" ng-click="statsCtrl.refresh()"></i>
						</div>
						<div class="form-group col-md-12" ng-hide="statsCtrl.hideEvents">
							<div class="table">
								<br/>
								<table class="highchart table table-striped table-condensed" data-graph-inverted="0" data-graph-container="#events" data-graph-height="200" data-graph-type="column">
									<thead>
									<tr>
										<th>Organisation</th>
										<th ng-repeat="stats in statsCtrl.storageStatistics[0].resourceStatistics">{{stats.resourceName}}</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="stats in statsCtrl.storageStatistics">
										<td>
											<a style="cursor:pointer" ng-click="statsCtrl.actionItem(stats,'view')">{{statsCtrl.lookupServiceName(stats.serviceId)}}</a>
										</td>
										<td ng-repeat="resources in stats.resourceStatistics">
											<a style="cursor:pointer" ng-click="statsCtrl.actionItem(stats,'view')">{{resources.totalCount}}</a>
										</td>
									</tr>

									</tbody>
								</table>
							</div>
						</div>
						<div class="form-group col-md-12" ng-hide="statsCtrl.hideEvents">
							<br/>
							<div id="events"><a style="cursor:pointer" ng-click="statsCtrl.showGraphs()">Refresh Graphs</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


