<div class="module">
    <div class="module-heading">
        Exchange History for {{service.name}} {{service.localIdentifier}} {{service.uuid}} on {{service.publisherConfigName}} {{getTagStr(service)}}

        <div class="pull-right">

            <button type="button" class="btn btn-sm btn-default" (click)="editService()">Edit Service</button>
            <button type="button" class="btn btn-sm btn-success" (click)="refreshExchanges(false)">Refresh</button>
            <!--<button type="button" class="btn btn-sm btn-danger" (click)="createMissingData()">Create Data</button>-->
            <button type="button" class="btn btn-sm btn-default" (click)="close()">Close</button>
            <!--<button type="button" class="btn btn-sm btn-danger" (click)="postTest()">Test Post</button>-->
        </div>
    </div>
    <div class="module-body">

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-4">

                    <div class="panel panel-primary">
                        <div class="panel-body">

                            <ngb-accordion #acc="ngbAccordion">
                                <ngb-panel title="Toggle Search Options">
                                    <template ngbPanelContent>

                                        <div class="form-group">
                                            <label>Search mode:</label>
                                            <select id="searchMode" [(ngModel)]="exchangeAuditService.searchMode">
                                                <option value="Recent">Most Recent</option>
                                                <option value="DateRange">Date Range</option>
                                                <option value="FirstError">First Error</option>
                                                <option value="ExchangeId">Exchange ID</option>
                                            </select>
                                        </div>

                                        <div *ngIf="exchangeAuditService.searchMode=='Recent'">
                                            <div class="form-group">
                                                <label>Showing Last:</label>
                                                <input name="ExchangesToShow" type="number" [(ngModel)]="exchangeAuditService.exchangesToShow" required>

                                                <button type="button" class="btn btn-sm btn-default" (click)="showLast(10)">10</button>
                                                <button type="button" class="btn btn-sm btn-default" (click)="showLast(100)">100</button>
                                                <button type="button" class="btn btn-sm btn-default" (click)="showLast(250)">250</button>
                                                <button type="button" class="btn btn-sm btn-default" (click)="showLast(500)">500</button>
                                                <button type="button" class="btn btn-sm btn-default" (click)="showLast(10000)">10000</button>
                                            </div>
                                        </div>

                                        <div *ngIf="exchangeAuditService.searchMode=='DateRange'">
                                            <div class="form-group">
                                                <label>Search From:</label>
                                                <datetime [timepicker]="{ showMeridian: false }" [(ngModel)]="exchangeAuditService.exchangeSearchFrom" [datepicker]="{ format: 'dd-M-yyyy', autoclose: true, todayHighlight: true }" (blur)="filterDateToChange(filterDateFrom)" placeholder="Select date to"></datetime>
                                            </div>

                                            <div class="form-group">
                                                <label>Search To:</label>
                                                <datetime [timepicker]="{ showMeridian: false }" [(ngModel)]="exchangeAuditService.exchangeSearchTo" [datepicker]="{ format: 'dd-M-yyyy', autoclose: true, todayHighlight: true }" (blur)="filterDateToChange(filterDateFrom)" placeholder="Select date to"></datetime>
                                            </div>

                                            <div class="form-group">
                                                <label>Showing Last:</label>
                                                <input name="ExchangesToShow" type="number" class="form-control" [(ngModel)]="exchangeAuditService.exchangesToShow" required>
                                            </div>
                                        </div>

                                        <div *ngIf="exchangeAuditService.searchMode=='FirstError'">
                                            <div class="form-group">
                                                <label>Plus Following Exchanges:</label>
                                                <input name="ExchangesToShow" type="number" class="form-control" [(ngModel)]="exchangeAuditService.exchangesToShow" required>
                                            </div>
                                        </div>

                                        <div *ngIf="exchangeAuditService.searchMode=='ExchangeId'">
                                            <div class="form-group">
                                                <label>Exchange ID</label>
                                                <input name="ExchangeIdSearch" class="form-control" [(ngModel)]="exchangeAuditService.exchangeIdSearch">
                                            </div>
                                        </div>


                                        <button type="button" class="btn btn-default" (click)="refreshExchanges(false)">Go</button>

                                    </template>
                                </ngb-panel>
                            </ngb-accordion>

                        </div>
                    </div>

                    <div class="table scroll-box-500">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-md-4">Received</th>
                                    <th class="col-md-4">Data Date</th>
                                    <th class="col-md-2">Size</th>
                                    <th class="col-md-2">Err</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hover-box show-child-on-hover" *ngFor="let exchange of exchanges" (click)="selectExchange(exchange);" [ngClass]="{'selection': exchange == selectedExchange}">

                                    <td>{{exchange.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td>{{exchange.headers['DataDate'] | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td>
                                        <span [ngStyle]="getCellColour(exchange)">
                                            {{exchange.exchangeSizeDesc}}
                                        </span>
                                        <span class="fa fa-plus-circle" *ngIf="isBulk(exchange)" ngbTooltip="Bulk extract"></span>
                                        <span class="fa fa-chevron-down" *ngIf="!canBeQueued(exchange)" ngbTooltip="Cannot be re-queued"></span>
                                    </td>
                                    <td>
                                        <div *ngIf="exchange.inError">
                                            Y
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row" *ngIf="exchanges">
                        {{exchanges.length}} exchanges found
                    </div>


                </div>

                <div class="col-md-8" *ngIf="selectedExchange">

                    <h4>Exchange {{selectedExchange.exchangeId}}</h4>

                    <!--show the exchange headers in an accordion, so we don't have to see them all the time-->
                    <ngb-accordion #acc="ngbAccordion">
                        <ngb-panel title="View Headers">
                            <template ngbPanelContent>
                                <ul>
                                    <li *ngFor="let item of getSelectedExchangeHeaderKeys()">
                                        {{ item }} = {{selectedExchange.headers[item]}}
                                    </li>
                                </ul>
                            </template>
                        </ngb-panel>
                    </ngb-accordion>

                    <!--show the exchange body in an accordion, so we don't have to see it all the time-->
                    <ngb-accordion #acc="ngbAccordion">
                        <ngb-panel title="View Body">
                            <template ngbPanelContent>
                                <button type="button" class="btn btn-default btn-xs" (click)="copyBodyToClipboard(false)">Copy to Clipboard</button>
                                <button type="button" class="btn btn-default btn-xs" (click)="copyBodyToClipboard(true)">Copy as JSON</button>
                                <div *ngFor="let item of getSelectedExchangeHBodyLines()">
                                    {{ item }}
                                </div>
                            </template>
                        </ngb-panel>
                    </ngb-accordion>

                    <div class="row">

                        <div class="panel panel-primary col-md-9">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="form-group col-md-12">

                                        Post to Exchange:
                                        <select id="postExchange" [(ngModel)]="exchangeAuditService.postExchange">
                                            <option value=""></option>
                                            <option value="edsInbound">Inbound</option>
                                            <option value="edsProtocol">Protocol</option>
                                        </select>

                                        Exchanges to post:
                                        <select id="postMode" [(ngModel)]="exchangeAuditService.postMode">
                                            <option value="This">This Exchange Only</option>
                                            <option value="Onwards">This Exchange and Onwards</option>
                                            <option value="All">All Exchanges</option>
                                            <!--<option *ngIf="exchangeAuditService.postExchange=='edsProtocol'" value="FullLoad">Full Load of Data</option>-->
                                            <option *ngIf="exchangeAuditService.postExchange=='edsProtocol'" value="FullDelete">Full Delete of Data</option>
                                            <option *ngIf="exchangeAuditService.postExchange=='edsProtocol'" value="FullRefresh">Full Refresh of Data</option>
                                            <option *ngIf="exchangeAuditService.postExchange=='edsProtocol'" value="QuickRefresh">Quick Refresh of Data</option>
                                            <option *ngIf="exchangeAuditService.postExchange=='edsProtocol'" value="FullRefreshAdminOnly">Full Refresh of Admin Data</option>
                                        </select>

                                        Queues [Inbound={{selectedExchange.queueRoutingKeys['EdsInbound']}}, Protocol={{selectedExchange.queueRoutingKeys['EdsProtocol']}}]
                                        <!--Queues [Inbound={{selectedExchange.queueRoutingKeys['EdsInbound']}} Protocol={{selectedExchange.selectedExchange.queueRoutingKeys['EdsProtocol']}}]-->

                                    </div>
                                </div>


                                <div class="row" *ngIf="exchangeAuditService.postExchange=='edsInbound'">
                                    <div class="form-group col-md-12">

                                        Reason:
                                        <input type="text" id="postReason" [(ngModel)]="exchangeAuditService.postReason" name="postReason">

                                        Delete error state:
                                        <input type="checkbox" id="deleteErrorStateCheckbox" [(ngModel)]="exchangeAuditService.postDeleteErrorState" name="postDeleteErrorState">

                                        Filter file types:
                                        <input type="checkbox" id="filterFileTypesCheckbox" [(ngModel)]="exchangeAuditService.postFilterFileTypes" name="filterFileTypes">

                                    </div>
                                </div>

                                <div class="row" *ngIf="exchangeAuditService.postExchange=='edsInbound' && exchangeAuditService.postFilterFileTypes">
                                    <div class="form-group col-md-12">
                                        <textarea rows="8" class="form-control" id="description" [(ngModel)]="exchangeAuditService.postFilterFileTypesSelected" placeholder="File types to filter on (space, comma or newline separated)" name="postFilterFileTypesSelected"></textarea>
                                    </div>
                                </div>

                                <div class="row" *ngIf="exchangeAuditService.postExchange=='edsProtocol'">
                                    <div class="form-group col-md-10">

                                        Protocol(s) to apply (leave unchecked to do all):
                                        <angular2-multiselect [data]="subscriberConfigNames"
                                                              [(ngModel)]="postSpecificProtocols"
                                                              [settings]="dropdownSettings"></angular2-multiselect>

                                        <!--<angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems"
                                                              [settings]="dropdownSettings"
                                                              (onSelect)="onItemSelect($event)"
                                                              (onDeSelect)="OnItemDeSelect($event)"
                                                              (onSelectAll)="onSelectAll($event)"
                                                              (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>-->



                                        <!--<select id="protocol" [(ngModel)]="postSpecificProtocol" name="protocolId">
                                            <option value="">&#45;&#45;All Subscribers&#45;&#45;</option>
                                            <option *ngFor="let subscriberConfigName of subscriberConfigNames" value="{{subscriberConfigName}}">{{subscriberConfigName}}</option>
                                        </select>-->

                                    </div>

                                    <div class="form-group col-md-2">
                                        Include all subscribers:
                                        <input type="checkbox" id="postShowAllSubscriberConfigNames" [(ngModel)]="exchangeAuditService.postShowAllSubscriberConfigNames" name="postShowAllSubscriberConfigNames" (ngModelChange)="refreshSubscriberConfigNames()">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">

                                        <button type="button" class="btn btn-sm btn-success" [disabled]="busyPostingToExchange" (click)="postToExchange()">GO!</button>
                                        <span class="fa fa-sm fa-refresh fa-refresh-animate" *ngIf="busyPostingToExchange"></span>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="panel panel-primary col-md-3" >
                            <div class="panel-body">

                                <div *ngIf="publisherMode" class="row">
                                    <div class="form-group">

                                        <div>
                                            Publisher mode:

                                            <select id="publisherStatus" [(ngModel)]="publisherMode" name="publisherStatus">
                                                <option value="Publisher_Draft">Draft</option>
                                                <option value="Publisher_Normal">Normal</option>
                                                <option value="Publisher_Auto_Fail">Auto-fail</option>
                                                <option value="Publisher_Bulk">Bulk</option>
                                            </select>
                                        </div>

                                        <div>
                                            Publisher config:

                                            <select id="publisherConfigName" [(ngModel)]="service.publisherConfigName" name="publisherConfigName">

                                                <!-- blank option -->
                                                <option value=""></option>

                                                <!-- if cached list not loaded yet, just populate with what's on the service already -->
                                                <option *ngIf="!serviceService.getPublisherConfigNamesFromCache()" value="{{service.publisherConfigName}}">{{service.publisherConfigName}}</option>

                                                <!-- once org type list loaded, fully populate with everything in the list -->
                                                <option *ngFor="let publisherConfigName of serviceService.getPublisherConfigNamesFromCache()" value="{{publisherConfigName}}">{{publisherConfigName}}</option>


                                            </select>

                                            <button type="button" class="btn btn-sm btn-success" (click)="savePublisherMode()">Save</button>
                                        </div>



                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div *ngIf="selectedExchange && !canBeQueued(selectedExchange)">
                        <span class="label label-warning">This exchange cannot be re-queued</span>
                    </div>

                    <!--exchange events table-->
                    <!--<div class="table">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-md-2">Timestamp</th>
                                    <th class="col-md-7">Event</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hover-box show-child-on-hover" *ngFor="let event of selectedExchange.events">
                                    <td>{{event.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td>{{event.event}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>-->

                    <!--transform audits table-->
                    <div class="table" *ngIf="selectedExchange.transformAudits">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-md-6">Event</th>
                                    <th class="col-md-2">Started</th>
                                    <th class="col-md-2">Ended</th>
                                    <th class="col-md-1">Dur</th>
                                    <th class="col-md-1">#Batch IDs</th>
                                    <!--<th class="col-md-1">
                                        Errors
                                        <span class="fa fa-info-circle fa-right-pad text-muted" ngbTooltip="Does not include Emis missing code errors"></span>
                                    </th>
                                    <th class="col-md-1">Resubmitted</th>
                                    <th class="col-md-1">Deleted</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hover-box show-child-on-hover" *ngFor="let transformAudit of selectedExchange.transformAudits" (click)="showTransformErrors(transformAudit);">
                                    <td>
                                        {{transformAudit.eventDesc}}
                                        <span *ngIf="transformAudit.transformError" class="fa fa-warning" ngbTooltip="Transform failed with error"></span>
                                        <span *ngIf="transformAudit.transformSuccess" class="fa fa-check" ngbTooltip="Transform completed OK"></span>
                                        <span *ngIf="transformAudit.transformInProgress" class="fa fa-clock-o" ngbTooltip="Transform in progress (or failed without error)"></span>

                                    </td>
                                    <td>{{transformAudit.transformStart | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td>{{transformAudit.transformEnd | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td>{{formatTransformAuditDuration(transformAudit)}}</td>
                                    <td>{{transformAudit.numberBatchIdsCreated}}</td>
                                    <!--<td>{{transformAudit.hadErrors | formatBoolean}}</td>
                                    <td>{{transformAudit.resubmitted | formatBoolean}}</td>
                                    <td>{{transformAudit.deleted | date:'dd-MMM-yyyy'}}</td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


