<div class="module">
    <div class="module-heading">
        Exchange History for {{service.name}}
        <div class="pull-right">

            <button type="button" class="btn btn-sm btn-success" (click)="refreshExchanges()">Refresh</button>
            <button type="button" class="btn btn-sm btn-danger" (click)="createMissingData()">Create Data</button>
            <button type="button" class="btn btn-sm btn-default" (click)="close()">Close</button>
        </div>
    </div>
    <div class="module-body">

        <div class="container-fluid">


            <div class="row">
                <div class="col-md-3">

                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <form name="numExchangesForm">
                                <div class="form-group">
                                    <label>Showing last</label>
                                    <input name="numberOfExchanges" type="number" class="form-control" [(ngModel)]="exchangesToShow" required>
                                </div>
                                <button type="button" class="btn btn-default" (click)="refreshExchanges()">Go</button>

                            </form>
                        </div>
                    </div>

                    <div class="table">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-md-2">Received</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hover-box show-child-on-hover"
                                    *ngFor="let exchange of exchanges"
                                    (click)="selectExchange(exchange);"
                                    [ngClass]="{'selection': exchange == selectedExchange}">

                                    <td>{{exchange.timestamp | date:'dd-MMM-yyyy HH:mm:ss'}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-9" *ngIf="selectedExchange">

                    <h4>Exchange {{selectedExchange.exchangeId}}</h4>

                    <!--show the exchange headers in an accordion, so we don't have to see them all the time-->
                    <ngb-accordion #acc="ngbAccordion">
                        <ngb-panel title="View Headers">
                            <template ngbPanelContent>
                                <ul>
                                    <li *ngFor="let item of getSelectedExchangeHeaderKeys()">
                                        {{ item }} = {{selectedExchange.headers[item]}}
                                    </li>
                                </ul>
                            </template>
                        </ngb-panel>
                    </ngb-accordion>

                    <div class="panel panel-primary">
                        <div class="panel-body">
                            Post to Exchange:
                            <div>
                                <button type="button" class="btn btn-sm btn-success" (click)="postToExchange('edsInbound')">Inbound</button>
                                <button type="button" class="btn btn-sm btn-success" (click)="postToExchange('edsResponse')">Response</button>
                                <button type="button" class="btn btn-sm btn-success" (click)="postToExchange('edsProtocol')">Protocol</button>
                                <button type="button" class="btn btn-sm btn-success" (click)="postToExchange('edsTransform')">Transform</button>
                                <button type="button" class="btn btn-sm btn-success" (click)="postToExchange('edsSubscriber')">Subscriber</button>
                            </div>
                        </div>
                    </div>

                    <div class="table">
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-md-2">Timestamp</th>
                                    <th class="col-md-2">Event</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hover-box show-child-on-hover" *ngFor="let event of selectedExchange.events">
                                    <td>{{event.timestamp | date:'dd-MMM-yyyy HH:mm:ss'}}</td>
                                    <td>{{event.event}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


