<div class="module">
    <div class="module-heading">
        Scheduled Tasks <span *ngIf="statusLastRefreshed">(as of {{statusLastRefreshed | date:'HH:mm:ss'}})</span>

        <div class="pull-right">

            <button class="btn btn-sm btn-success" (click)="refresh()">Refresh</button>
        </div>
    </div>

    <div class="module-body">


        <div class="row">
            <div class="col-md-12">
                <div class="table">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th class="col-md-2">Configuration</th>
                            <th class="col-md-4">Third Party->SFTP Reader</th>
                            <th class="col-md-5">SFTP Reader->Messaging API</th>
                            <th class="col-md-1">Actions</th>
                            <!--<th class="col-md-6">Actions</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="hover-box show-child-on-hover" *ngFor="let item of summary">
                            <td>
                                <div>{{item.applicationName}}</div>

                            </td>

                            <td>


                            </td>
                            <td>

                            </td>

                            <td>
                                <button class="btn btn-xs btn-default child-to-show" (click)="viewHistory(configuration)">View History</button>
                                <button class="btn btn-xs btn-default child-to-show" (click)="togglePause(configuration)">Toggle Pause</button>

                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>
