<div class="modal-header">
    <button type="button" class="close" (click)="close()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{audit.applicationName}} {{audit.taskName}}</h4>
</div>

<div class="modal-body">

    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal" role="form">

                <div class="form-group">

                    <label for="inputType" class="col-sm-3 control-label">Run between</label>
                    <div class="col-sm-3">
                        <input type="date" class="form-control" id="inputType" [(ngModel)]="searchFromStr" name="searchFrom" name="searchFrom">
                    </div>

                    <label for="inputType2" class="col-sm-1 control-label">and</label>
                    <div class="col-sm-3">
                        <input type="date" class="form-control" id="inputType2" [(ngModel)]="searchToStr" name="searchTo" name="searchTo">
                    </div>

                    <button type="button" class="btn" (click)="search()">Search</button>

                    <span class="fa fa-sm fa-refresh fa-refresh-animate" *ngIf="searching"></span>

                </div>
            </form>

        </div>
    </div>


    <div class="row">
        <div class="col-md-12">

            <div class="table scroll-box-500">
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th class="col-md-2">Executed</th>
                        <th class="col-md-10">Status</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr class="hover-box show-child-on-hover" *ngFor="let item of results">

                        <td>
                            {{formatYYYYMMDDHHMM(item.timestamp)}}
                        </td>
                        <td>
                            <span *ngIf="item.hostName">
                                {{item.hostName}}
                            </span>
                            <span *ngIf="item.hostName && item.taskParameters">
                                &nbsp;|&nbsp;
                            </span>
                            <span *ngIf="item.taskParameters">
                                {{item.taskParameters}}
                            </span>

                            <!--<div *ngIf="item.success">
                                State: OK
                            </div>-->
                            <div *ngIf="!item.success">
                                <span class="label label-danger" ngbTooltip="Execution failed">Warning</span>
                                FAILED
                            </div>

                            <div *ngIf="item.errorMessage">
                                <pre style="max-width:650px;" width="100">{{item.errorMessage}}</pre>
                            </div>

                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>


            <!--<pre>{{resultStr}}</pre>-->


        </div>
    </div>


</div>

<div class="modal-footer">
    <button type="button" class="btn" (click)="close()">Close</button>
</div>
