<div class="module">
    <div class="module-heading">
        Scheduled Tasks <span *ngIf="statusLastRefreshed">(as of {{formatHHMMSS(statusLastRefreshed)}})</span>

        <div class="pull-right">

            <button class="btn btn-sm btn-success" (click)="refreshAll()">Refresh</button>
        </div>
    </div>

    <div class="module-body">


        <div class="row">
            <div class="col-md-12">
                <div class="table">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th class="col-md-2">Application</th>
                            <th class="col-md-2">Task</th>
                            <th class="col-md-2">Last Run</th>
                            <th class="col-md-1">Due In</th>
                            <th class="col-md-4">Status</th>
                            <th class="col-md-1">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="hover-box show-child-on-hover" *ngFor="let item of getSummariesToDisplay()">
                            <td>
                                <div>{{item.applicationName}}</div>
                            </td>

                            <td>
                                <div>{{item.taskName}}</div>
                            </td>

                            <!-- last run -->
                            <td>
                                <div *ngIf="item.timestamp">
                                    <span *ngIf="isItemTooOld(item)" class="label label-danger" ngbTooltip="Not run recently">Warning</span>
                                    {{formatYYYYMMDDHHMM(item.timestamp)}}
                                </div>
                                <div *ngIf="!item.timestamp">
                                    <span class="label label-danger" ngbTooltip="Never run">Warning</span>
                                    NEVER
                                </div>
                            </td>

                            <!-- next due in -->
                            <td>
                                <span *ngIf="item.rule && item.rule.within" ngbTooltip="{{getRuleWithinDesc(item)}}">{{getItemDueIn(item)}}</span>
                            </td>

                            <!-- status -->
                            <td>

                                <span *ngIf="item.hostName">
                                    {{item.hostName}}
                                </span>
                                <span *ngIf="item.hostName && item.taskParameters">
                                    &nbsp;|&nbsp;
                                </span>
                                <span *ngIf="item.taskParameters">
                                    {{item.taskParameters}}
                                </span>

                                <!--<div *ngIf="item.success">
                                    State: OK
                                </div>-->
                                <div *ngIf="!item.success">
                                    <div *ngIf="item.timestamp">
                                        <span class="label label-danger" ngbTooltip="Execution failed">Warning</span>
                                        FAILED
                                    </div>
                                    <div *ngIf="!item.timestamp">
                                        <span class="label label-danger" ngbTooltip="Never run">Warning</span>
                                        NEVER RUN
                                    </div>
                                </div>

                                <div *ngIf="item.errorMessage">
                                    <pre style="max-width:450px;" width="100">{{item.errorMessage}}</pre>
                                </div>

                            </td>

                            <td>
                                <button class="btn btn-xs btn-default child-to-show" (click)="viewHistory(item)">View History</button>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>
