<div class="module">
	<div class="container-fluid">
		<div class="module-heading">
			Routing Config
			<button class="btn btn-success btn-sm pull-right" (click)="sync()">Sync to RabbitMQ</button>
			<button class="btn btn-success btn-sm pull-right" (click)="newRouting()">New Routing</button>
			<button class="btn btn-success btn-sm pull-right" (click)="refresh()">Refresh</button>
		</div>
		<div class="module-body">
			<form>
				<div class="row">

					<!-- queue status -->
					<div class="form-group col-md-6">

						<div class="panel panel-info">
							<div class="panel-heading">
								Queue Status
							</div>
							<div class="panel-body">

								<div *ngFor="let exchangeName of routingExchangeNames">
									<div class="form-group col-md-3">
										<label>{{exchangeName}}</label>

										<div *ngFor="let routing of getRoutingsForExchange(exchangeName)">
											<label class="small">
												<i [ngClass]="getRouteGroupStatusIconClass(routing)"></i>
												{{routing.routeKey}}
												<span class="fa fa-info-circle fa-right-pad text-muted" ngbTooltip="{{routing.description}}" *ngIf="routing.description"></span>
											</label>
										</div>
										<div *ngFor="let binding of getBindingsForExchange(exchangeName)">
											<label class="small" *ngIf="!bindingExistsInConfig(binding)">
												<i class="fa fa-minus-circle text-danger"></i>
												{{binding.routing_key}}
											</label>
										</div>
									</div>
								</div>

							</div>
						</div>

					</div>

					<!-- routing overrides -->
					<div class="form-group col-md-6">


						<div class="panel panel-info">
							<div class="panel-heading">
								Routing Overrides

								<button class="btn btn-success btn-xs pull-right" (click)="addNewOverride()">New Override</button>
							</div>
							<div class="panel-body">

								<div class="table" *ngIf="routingOverrides">
									<table class="table table-striped table-condensed">
										<thead>
											<th class="col-md-5">Publisher</th>
											<th class="col-md-3">Exchange</th>
											<th class="col-md-3">Routing Key</th>
											<th class="col-md-1"></th> <!-- actions -->
										</thead>
										<tbody>
											<tr class="hover-box show-child-on-hover" *ngFor="let routingOverride of routingOverrides">
												<td>{{getServiceDesc(routingOverride)}}</td>
												<td>{{routingOverride.exchangeName}}</td>
												<td>{{routingOverride.routingKey}}</td>
												<td>
													<button type="button" class="btn btn-danger btn-xs child-to-show" (click)="deleteRoutingOverride(routingOverride)"><span class="fa fa-remove"></span></button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>

					</div>

				</div>


				<div *ngFor="let exchangeName of routingExchangeNames">

					<div class="panel panel-info">
						<div class="panel-heading">
							Exchange: {{exchangeName}}
							<button class="btn btn-success btn-xs pull-right" (click)="newRouting(exchangeName)">New Routing</button>
						</div>
						<div class="panel-body">

							<div class="row">
								<div class="form-group col-md-12">
									<div class="table">
										<table class="table table-striped table-condensed">
											<thead>
											<tr>
												<th class="col-md-5">Description</th>
												<th class="col-md-4">Regex Filter</th>
												<th class="col-md-2">Routing Key</th>
												<th class="col-md-1"></th>
											</tr>
											</thead>
											<tbody>
											<tr class="hover-box show-child-on-hover" *ngFor="let item of getRoutingsForExchange(exchangeName)">
												<td>
													<a (click)="edit(item)">{{item.description}}</a>
												</td>
												<td>
													{{item.regex}}
												</td>
												<td>
													{{item.routeKey}}
												</td>

												<td>
													<button type="button" class="btn btn-default btn-xs child-to-show" (click)="moveUp(item)"><span class="fa fa-arrow-up"></span></button>
													<button type="button" class="btn btn-default btn-xs child-to-show" (click)="moveDown(item)"><span class="fa fa-arrow-down"></span></button>
													<button type="button" class="btn btn-danger btn-xs child-to-show" (click)="delete(item)"><span class="fa fa-remove"></span></button>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>

						</div>
					</div>


				</div>
			</form>
		</div>
	</div>
</div>
