<div class="module">
	<div class="container-fluid">
		<div class="module-heading">
			Route Groups
			<button class="btn btn-success btn-sm pull-right" (click)="sync()">Sync</button>
		</div>
		<div class="module-body">
			<form>
				<div class="row">
					<div class="form-group col-md-1"></div>
					<div class="form-group col-md-2">
						<label>Inbound</label>
						<div *ngFor="let item of routings">
							<label class="small"><i [ngClass]="getRouteGroupClass(item, inboundBindings)"></i> {{item.name}}</label>
						</div>
						<div *ngFor="let item of inboundBindings">
							<label class="small" *ngIf="!bindingExists(item)"><i class="fa fa-minus-circle text-danger"></i> {{item.routing_key}}</label>
						</div>
					</div>
					<div class="form-group col-md-2">
						<label>Response</label>
						<div *ngFor="let item of routings">
							<label class="small"><i [ngClass]="getRouteGroupClass(item, responseBindings)"></i> {{item.name}}</label>
						</div>
						<div *ngFor="let item of responseBindings">
							<label class="small" *ngIf="!bindingExists(item)"><i class="fa fa-minus-circle text-danger"></i> {{item.routing_key}}</label>
						</div>
					</div>
					<div class="form-group col-md-2">
						<label>Protocol</label>
						<div *ngFor="let item of routings">
							<label class="small"><i [ngClass]="getRouteGroupClass(item, protocolBindings)"></i> {{item.name}}</label>
						</div>
						<div *ngFor="let item of protocolBindings">
							<label class="small" *ngIf="!bindingExists(item)"><i class="fa fa-minus-circle text-danger"></i> {{item.routing_key}}</label>
						</div>
					</div>
					<div class="form-group col-md-2">
						<label>Transform</label>
						<div *ngFor="let item of routings">
							<label class="small"><i [ngClass]="getRouteGroupClass(item, transformBindings)"></i> {{item.name}}</label>
						</div>
						<div *ngFor="let item of transformBindings">
							<label class="small" *ngIf="!bindingExists(item)"><i class="fa fa-minus-circle text-danger"></i> {{item.routing_key}}</label>
						</div>
					</div>
					<div class="form-group col-md-2">
						<label>Subscriber</label>
						<div *ngFor="let item of routings">
							<label class="small"><i [ngClass]="getRouteGroupClass(item, subscriberBindings)"></i> {{item.name}}</label>
						</div>
						<div *ngFor="let item of subscriberBindings">
							<label class="small" *ngIf="!bindingExists(item)"><i class="fa fa-minus-circle text-danger"></i> {{item.routing_key}}</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<div class="table">
							<table class="table table-striped table-condensed">
								<thead>
									<tr>
										<th class="col-md-5">Name</th>
										<th class="col-md-2">Key/Queue</th>
										<th class="col-md-4">Filter</th>
										<th class="col-md-1"></th>
									</tr>
								</thead>
								<tbody>
									<tr class="hover-box show-child-on-hover" *ngFor="let item of routings">
										<td>
												<a (click)="edit(item)">{{item.name}}</a>
												<span class="fa fa-info-circle fa-right-pad text-muted" ngbTooltip="{{item.description}}" *ngIf="item.description"></span>
										</td>
										<td>
											{{item.routeKey}}
										</td>
										<td>
											{{item.regex}}
										</td>
										<td>
											<button type="button" class="btn btn-danger btn-xs child-to-show" (click)="delete(item)"><span class="fa fa-remove"></span></button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
