<h4 class="page-sub-header">Timeline
	<button class="btn btn-sm" (click)="zoomYears(1)">1 Yr</button>
	<button class="btn btn-sm" (click)="zoomYears(3)">3 Yr</button>
	<button class="btn btn-sm" (click)="zoomAll()">All</button>
</h4>
<div id="timeline" style="min-width: 310px; height: 200px; margin: 0 auto"></div>

<h4 class="page-sub-header">Current episodes<small> ({{currentEpisodes?.length}} items)</small> <button class="btn btn-sm" (click)="selectCurrentEpisodes()">Current episode organisations</button></h4>

<loadingIndicator [done]="currentEpisodes">
	<div class="container-fluid">
		<div class="row">
			<div *ngFor="let item of currentEpisodes" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="panel hover-box" [ngClass]="item.managingOrganisation.type | locationClass" (click)="selectEpisode(item)">
					<div class="panel-heading">
						<h4 class="panel-title"><i class="fa" [ngClass]="item.managingOrganisation.type | locationIcon"></i> {{item.managingOrganisation.name}}</h4>
						<small>{{item.patient.name | cuiName }}</small>
					</div>
					<div class="panel-body" [ngClass]="{'bg-info' : item == _hoverEpisode }">
						Start: <b>{{item.period.start | cuiDate}}</b>
					</div>
				</div>
			</div>
		</div>
	</div>
</loadingIndicator>

<h4 class="page-sub-header">Past episodes<small> ({{pastEpisodes?.length}} items)</small> <button class="btn btn-sm" (click)="selectAllEpisodes()">All organisations</button></h4>

<loadingIndicator [done]="pastEpisodes">
	<div class="container-fluid">
		<div class="row">
			<div *ngFor="let item of pastEpisodes" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="panel hover-box" [ngClass]="item.managingOrganisation.type | locationClass" (click)="selectEpisode(item)">
					<div class="panel-heading">
						<h4 class="panel-title"><i class="fa" [ngClass]="item.managingOrganisation.type | locationIcon"></i> {{item.managingOrganisation.name}}</h4>
					</div>
					<div class="panel-body" [ngClass]="{'bg-info' : item == _hoverEpisode }">
						Start: <b>{{item.period.start | cuiDate}}</b><br>
						End: <b>{{item.period.end | cuiDate}}</b>
					</div>
				</div>
			</div>
		</div>
	</div>
</loadingIndicator>
