<div class="module">
    <div class="module-heading">
        Transform Errors
        <div class="pull-right">
            <button class="btn btn-sm btn-default" (click)="toggleFilters()" title="Toggle Filters">Toggle Filters</button>
            <button class="btn btn-sm btn-default" (click)="checkAll()" title="Check All Services">Check All</button>
            <button class="btn btn-sm btn-success" (click)="requeueChecked()" title="Re-queue Checked" [disabled]="busyPostingToExchange">Re-queue Checked ({{getCheckedCount()}} selected)</button>
            <button class="btn btn-sm btn-success" (click)="refreshSummaries()" title="Refresh">Refresh </button>
        </div>
    </div>
    <div class="module-body">

        <div class="panel panel-primary" *ngIf="serviceService.showFilters">
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">


                        <div class="col-sm-2">

                            <label for="inputType" class="control-label">Name/ID</label>

                            <div class="pull-right">
                                <label for="serviceNameSearchIncludeNotes" class="control-label">Match on notes</label>
                                <input type="checkbox" id="serviceNameSearchIncludeNotes" [(ngModel)]="serviceService.serviceNameSearchIncludeNotes" name="serviceNameSearchIncludeNotes" (ngModelChange)="applyFiltering()">
                            </div>

                            <input type="text" class="form-control" id="inputType" placeholder="Regex" [(ngModel)]="serviceService.serviceNameFilter" name="serviceNameFilter" (ngModelChange)="applyFiltering()">

                        </div>

                        <div class="col-sm-2">
                            <label for="inputType2" class="control-label">Parent</label>
                            <select id="inputType2" class="form-control" [(ngModel)]="serviceService.serviceCcgCodeFilter" name="serviceCcgCodeFilter" (ngModelChange)="applyFiltering()">
                                <option value=""></option>
                                <option *ngFor="let ccgCode of allCcgCodes" value="{{ccgCode}}">{{ccgCode}} {{serviceService.getCcgName(ccgCode)}}</option>
                            </select>
                        </div>

                        <div class="col-sm-2">
                            <label for="inputType5" class="control-label">Publisher Config</label>
                            <select id="inputType5" class="form-control" [(ngModel)]="serviceService.servicePublisherConfigFilter" name="servicePublisherConfigFilter" (ngModelChange)="applyFiltering()">
                                <option value=""></option>
                                <option *ngFor="let publisherConfigName of allPublisherConfigNames" value="{{publisherConfigName}}">{{publisherConfigName}}</option>
                            </select>
                        </div>

                        <div class="col-sm-2">
                            <label for="sortFilter" class="control-label">Sorting</label>
                            <select id="sortFilter" class="form-control" [(ngModel)]="serviceService.sortFilter" name="sortFilter" (ngModelChange)="applyFiltering()">
                                <option value="NameAsc">Name Asc</option>
                                <option value="NameDesc">Name Desc</option>
                                <option value="IDAsc">ID Asc</option>
                                <option value="IDDesc">ID Desc</option>
                                <option value="ParentAsc">Parent Asc</option>
                                <option value="ParentDesc">Parent Desc</option>
                                <option value="PublisherConfigAsc">Publisher Config Asc</option>
                                <option value="PublisherConfigDesc">Publisher Config Desc</option>
                                <option value="LastDataAsc">Last Data Asc</option>
                                <option value="LastDataDesc">Last Data Desc</option>
                                <option value="StatusAsc">Status Asc</option>
                                <option value="StatusDesc">Status Desc</option>
                            </select>
                        </div>


                    </div>
                </form>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">

                    <div *ngIf="transformErrorSummaries && filteredErrorSummaries">
                        {{transformErrorSummaries.length}} services in error ({{filteredErrorSummaries.length}} shown)
                    </div>

                    <div class="table">
                        <table class="table table-striped table-condensed">


                            <thead>
                                <tr>
                                    <th class="col-md-1"></th> <!-- checkbox col -->
                                    <th class="col-md-3">Name</th>
                                    <th class="col-md-1">ID</th>
                                    <!--<th class="col-md-2">Publisher Config</th>-->
                                    <th class="col-md-2">Notes</th>
                                    <th class="col-md-3">System</th>
                                    <th class="col-md-1">Exchanges in Error</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hover-box show-child-on-hover" *ngFor="let summary of filteredErrorSummaries" (click)="selectSummary(summary);"
                                    [ngClass]="{'selection': summary == selectedSummary}">

                                    <td>
                                        <input type="checkbox" id="checked" [(ngModel)]="summary.checked" name="checked">
                                    </td>
                                    <td>
                                        <a (click)="edit(summary.service)">{{summary.service.name}}</a>
                                    </td>
                                    <td>{{summary.service.localIdentifier}}</td>
                                    <!--<td>{{summary.service.publisherConfigName}}</td>-->
                                    <td>
                                        <div *ngIf="summary.service.notes">
                                            {{getNotesPrefix(summary)}}
                                            <span class="fa fa-info-circle fa-right-pad text-muted" ngbTooltip="{{summary.service.notes}}" *ngIf="summary.service.notes.length > 10"></span>
                                        </div>
                                    </td>
                                    <td>{{summary.systemName}}</td>
                                    <td>{{summary.countExchanges}}</td>
                                    <!--<td>
                                        <button type="button" class="btn btn-primary btn-xs child-to-show" (click)="rerunFirst(summary)">First</button>
                                        <button type="button" class="btn btn-primary btn-xs child-to-show" (click)="rerunAll(summary)">All</button>
                                    </td>-->
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-6" *ngIf="selectedSummary">

                    <div class="panel panel-primary">
                        <div class="panel-heading">Errors for {{selectedSummary.service.name}} {{selectedSummary.service.localIdentifier}} {{selectedSummary.service.uuid}}
                            <div class="pull-right">
                                <!--<button class="btn btn-xs btn-default" [disabled]="busyPostingToExchange" (click)="rerunFirst(selectedSummary)" title="Rerun First Exchange">Re-run First Exchange</button>-->
                                <button class="btn btn-xs btn-success" [disabled]="busyPostingToExchange" (click)="rerunAll(selectedSummary)" title="Re-queue">Re-queue</button>
                                <span class="fa fa-sm fa-refresh fa-refresh-animate" *ngIf="busyPostingToExchange"></span>
                            </div>
                        </div>
                        <div class="panel-body" style="overflow:hidden; height:100%;">

                            <div *ngIf="selectedSummary.service.notes">
                                {{selectedSummary.service.notes}}
                            </div>

                            <ngb-pagination [maxSize]="10" [boundaryLinks]="true" [collectionSize]="selectedSummary.countExchanges" [pageSize]="1" [(page)]="selectedExchangeIndex" (pageChange)="loadExchange()" name="pagination"></ngb-pagination>

                            <div *ngIf="selectExchangeErrorDetail">
                                <h4>Exchange {{selectExchangeErrorDetail.exchangeId}}</h4>
                                <!--<div *ngIf="selectExchangeErrorDetail.numberBatchIdsCreated">
                                    {{selectExchangeErrorDetail.numberBatchIdsCreated}} batch IDs created and saved, despite the error(s)
                                </div>-->
                                <div *ngIf="selectExchangeErrorDetail.resubmitted">
                                    <b>Has been resubmitted, so should be in inbound queue</b>
                                </div>

                                <code *ngIf="selectExchangeErrorDetail.lines.length>0">
                                    <div *ngFor="let line of selectExchangeErrorDetail.lines">
                                        <div *ngIf="line.length > 0">
                                            {{line}}
                                        </div>

                                        <div *ngIf="line.length == 0">
                                            &nbsp;
                                        </div>

                                    </div>
                                </code>

                                <div *ngIf="selectExchangeErrorDetail.lines.length==0 && !selectExchangeErrorDetail.transformEnd">
                                    <div>Previous errors not shown once the inbound transform has started</div>
                                    <div>To view original errors, use the Services page</div>
                                    <div>Transform started at {{selectExchangeErrorDetail.transformStart | date:'dd-MMM-yyyy HH:mm:ss'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


