<nav class="sidebar" ng-controller="SidebarController as sidebar">
	<ul>
		<li ng-repeat="menuItem in sidebar.menuOptions">
			<div ui-sref="{{menuItem.state}}" class="menuItem">
				<span class="fa fa-2x {{menuItem.icon}}"></span>
				<span style="cursor:pointer" class="nav-text">
						{{menuItem.caption}}
				</span>
			</div>
		</li>
	</ul>
	<ul class="logout">
		<li>
			<div ui-sref="login" class="menuItem">
				<i class="fa fa-2x fa-power-off"></i>
				<span style="cursor:pointer" class="nav-text">
						Logout
				</span>
			</div>
		</li>
	</ul>
</nav>
