<div class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<img src="/content/img/nhs_logo.png" >
				<span class="logo">Data Service Manager</span>
		</div>
		<div ng-controller="TopnavController as topnav" class="pull-right" style="padding: 10px;color:gray">
			Logged in : <a ng-click="topnav.showUserAccountTab()">{{topnav.currentUser.displayName()}}</a>

			<!--<div class="dropdown" uib-dropdown>-->
				<!--Organisation : <a href="#" class="dropdown-toggle" uib-dropdown-toggle>-->
				<!--{{ topnav.selectedRole.organisationName }}-->
				<!--<span class="caret"></span>-->
			<!--</a>-->
				<!--<ul uib-dropdown-menu>-->
					<!--<li ng-repeat="endUserRole in topnav.currentUser.userInRoles">-->
						<!--<a href="#" ng-click="topnav.updateRole(endUserRole.userInRoleUuid)">-->
							<!--{{ endUserRole.organisationName }}-->
						<!--</a>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->
		</div>
	</div>
</div>