<div class="module">
    <div class="module-heading">
        FHIR Resources
    </div>
    <div class="module-body">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">

                    <ngb-tabset active="activeForm">
                        <ngb-tab id="0" title="ID">
                            <template ngbTabContent>
                                <div class="panel panel-primary">
                                <div class="panel-heading">FHIR Resource by ID</div>
                                <div class="panel-body">

                                    <form name="resourceIdForm">

                                        <div class="form-group">
                                            <label>Resource ID</label>
                                            <input name="resourceId" type="text" class="form-control" [(ngModel)]="resourceId">
                                        </div>


                                        <div class="form-group">
                                            <label>Resource Type</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-hospital-o fa-lg fa-fw"></i></span>
                                                <select name="resourceType" class="form-control" [(ngModel)]="resourceTypeSelected">
                                                    <option *ngFor="let item of allResourceTypes" value="{{item.resourceType}}">{{item.resourceType}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <button type="button" class="btn btn-default" [disabled]="resourceIdForm?.$invalid" (click)="getResourceForId()">Search</button>
                                        <span *ngIf="resourceIdForm?.resourceId?.$touched && resourceIdForm?.resourceId?.$invalid">You must enter a resource ID</span>
                                        <span *ngIf="resourceIdForm?.resourceType?.$touched && resourceIdForm?.resourceType?.$invalid">You must select a resource type</span>
                                    </form>
                                </div>
                            </div>
                            </template>
                        </ngb-tab>
                        <ngb-tab id="1" title="Patient">
                            <template ngbTabContent>
                                <div class="panel panel-primary">
                                <div class="panel-heading">FHIR Resources by Patient</div>
                                <div class="panel-body">

                                    <form name="patientResourceForm">

                                        <div class="form-group">
                                            <label>Patient ID</label>
                                            <input name="patientId" type="text" class="form-control" [(ngModel)]="patientId">
                                        </div>

                                        <div class="form-group">
                                            <label>Resource Type</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-hospital-o fa-lg fa-fw"></i></span>
                                                <select name="patientResourceType" class="form-control" [(ngModel)]="patientResourceTypeSelected">
                                                    <option *ngFor="let item of allResourceTypes" value="{{item.resourceType}}">{{item.resourceType}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <button type="button" class="btn btn-default" [disabled]="patientResourceForm?.$invalid" (click)="getResourcesForPatient()">Search</button>
                                        <span *ngIf="patientResourceForm?.patientId?.$touched && patientResourceForm?.patientId?.$invalid">You must enter a patient ID</span>
                                        <span *ngIf="patientResourceForm?.patientResourceType?.$touched && patientResourceForm?.patientResourceType?.$invalid">You must select a resource type</span>
                                    </form>

                                </div>
                            </div>
                            </template>
                        </ngb-tab>
                    </ngb-tabset>

                </div>
            </div>

            <div class="row">
                <div class="col-md-4">

                    <div *ngIf="resources != undefined">
                        <div *ngIf="resources.length == 0">

                            <div class="alert alert-danger">
                                {{resources.length}} Resources found
                            </div>

                            <!--<div uib-alert [ngClass]="alert alert-danger"></div>-->
                        </div>
                        <div *ngIf="resources.length > 0">

                            <div class="alert alert-success">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{resources.length}} Resources found
                            </div>

                            <!--<div uib-alert [ngClass]="alert alert-success"></div>-->
                        </div>
                    </div>
                </div>

                <div class="col-md-12">

                    <div class="form-group" *ngFor="let resource of resources">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="panel panel-primary">
                                    <div class="panel-heading">{{ resource.resourceType }}: {{ resource.id }}</div>
                                    <div class="panel-body">

                                        <pre>{{resource | json}}</pre>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

