<div class="module">
    <div class="container-fluid">
        <div class="module-heading">Cohort editor
            <div class="pull-right">
                <button class="btn btn-sm btn-default"
                        ng-click="ctrl.zoomIn()"
                        title="Zoom in the chart">
                    <i class="fa fa-search-plus"></i> Zoom In
                </button>
                <button class="btn btn-sm btn-default"
                        ng-click="ctrl.zoomOut()"
                        title="Zoom out the chart">
                    <i class="fa fa-search-minus"></i> Zoom Out
                </button>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <button class="btn btn-sm btn-primary"
                        ng-click="ctrl.addNewRule('1')"
                        title="Add a new rule to this query">
                    <i class="fa fa-plus"></i> Add Rule
                </button>

                <button class="btn btn-sm btn-default"
                        ng-click="ctrl.addNewRule('2')"
                        title="Add another query as a rule to this query">
                    <i class="fa fa-plus"></i> Add Cohort as Rule
                </button>

                <button class="btn btn-sm btn-info"
                        ng-click="ctrl.addNewRule('3')"
                        title="Add a new expression rule to this query">
                    <i class="fa fa-plus"></i> Add Expression
                </button>

                <button class="btn btn-sm btn-warning"
                        ng-click="ctrl.deleteSelected()"
                        ng-disabled="chartViewModel.getSelectedRule().length == 0"
                        title="Delete selected rule and connections">
                    <i class="fa fa-times"></i> Delete Selected
                </button>
                <button class="btn btn-sm btn-danger"
                        ng-click="ctrl.clearQuery()"
                        title="Clear the rules in this this query without saving">
                    <i class="fa fa-eraser"></i> Clear Rules
                </button>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-sm btn-success" data-ng-click="ctrl.save(false)"><i class="fa fa-save"></i> Save</button>
                <button type="button" class="btn btn-sm btn-warning" data-ng-click="ctrl.save(true)"><i class="fa fa-save"></i> Save & Close</button>
                <button type="button" class="btn btn-sm btn-danger" data-ng-click="ctrl.cancelChanges()"><i class="fa fa-undo"></i> Cancel</button>
            </div></div>
        <div class="module-body">
            <div id="queryPage">
                <section class="query-section">
                     <flow-chart id="flowChart" ng-style="{'zoom': ctrl.zoomPercent}"
                            mouse-capture
                                 on-rule-description="ctrl.onRuleDescription(description)"
                                 on-rule-pass-action="ctrl.onRulePassAction(action)"
                                 on-rule-fail-action="ctrl.onRuleFailAction(action)"
                                 on-edit-test="ctrl.onEditTest(ruleId)"
                                 chart="ctrl.chartViewModel">
                    </flow-chart>
                </section>

                <aside class="query-aside">
                    <div class="queryDiv">
                        <div class="queryHeader">
                            Cohort Properties
                <span style="float: right; cursor: pointer" class="fa fa-info-circle" ng-click = "ctrl.ShowDataModel()"
                      title="View Query Document Data Model"></span>
                        </div>

                        <div class="ruleFields">
                            <div class="row">
                                <form class="form">
                                    <fieldset>
                                        <label class="control-label" style="padding: 0px 10px 0px 15px;">Cohort Name:</label>
                                        <input class="form-control" type="text" name="input" ng-model="ctrl.queryName" style="margin: 0px 0px 15px 10px;width:275px" ng-change="ctrl.queryNameChange()">
                                        <label class="control-label" style="padding: 0px 10px 0px 15px;">Cohort Description:</label>
                                        <textarea class="form-control" ng-model="ctrl.queryDescription" style="height: 90px; margin: 0px 0px 15px 10px;width:275px" ng-change="ctrl.queryDescriptionChange()">
                                        </textarea>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="ruleDiv">
                        <div class="ruleHeader">
                            Rule Properties
                        </div>

                        <div class="ruleFields">
                            <div class="row">
                                <form class="form">
                                    <fieldset>
                                        <label class="control-label" style="padding: 0px 10px 0px 15px;">Rule Description:</label>
                                        <input class="form-control" ng-disabled="disableRuleProps" type="text" name="input" ng-model="ctrl.ruleDescription" style="margin: 0px 0px 15px 10px;width:275px" ng-change="ctrl.ruleDescriptionChange()">
                                        <label class="control-label" style="padding: 0px 10px 0px 15px;">Rule PASS Action:</label>
                                        <select class="form-control" ng-disabled="disableRuleProps" ng-model="ctrl.rulePassAction" style="margin: 0px 0px 15px 10px;width:275px" ng-change="ctrl.rulePassActionChange()">
                                            <option ng-repeat="result in ctrl.results" value="{{result.value}}">{{result.displayName}}</option>
                                        </select>
                                        <label class="control-label" style="padding: 0px 10px 0px 15px;">Rule FAIL Action:</label>
                                        <select class="form-control" ng-disabled="disableRuleProps" ng-model="ctrl.ruleFailAction" style="margin: 0px 0px 15px 10px;width:275px" ng-change="ctrl.ruleFailActionChange()">
                                            <option ng-repeat="result in ctrl.results" value="{{result.value}}">{{result.displayName}}</option>
                                        </select>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>

            <div class="jsonDiv" ng-show="ctrl.dataModel">
                <div class="jsonHeader">
                    Query Document Data Model
                    <span style="float: right; cursor: pointer" class="fa fa-remove" ng-click = "ctrl.ShowDataModel()"></span>
                </div>
                <div style="overflow: auto; height:2000px;">
                   <textarea style="padding:10px;height:488px;width:700px; border:0px"
                             chart-json-edit
                             view-model="ctrl.chartViewModel">
                   </textarea>
                </div>
            </div>
        </div>
    </div>
</div>

