<div class="module">
    <div class="module-heading">
        HL7 Receiver <span *ngIf="statusLastRefreshed">(as of {{statusLastRefreshed | date:'HH:mm:ss'}})</span>
        <div class="pull-right">
            <button class="btn btn-sm btn-success" [disabled]="refreshingStatus" (click)="refreshStatus()" title="Refresh">Refresh&nbsp;<span class="fa fa-sm fa-refresh fa-refresh-animate" *ngIf="refreshingStatus"></span></button>
        </div>
    </div>
    <div class="module-body">

        <div *ngIf="channels">
            <div class="row" *ngFor="let channel of channels">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <b>{{channel.name}}</b> (ID {{channel.id}})
                        </div>

                        <div class="panel-body">

                            <div class="col-md-4">
                                <h4>Hospital->HL7 Receiver</h4>

                                <div *ngIf="channel.lastMessageId">
                                    <div>
                                        <span *ngIf="isLastMessageReceivedTooOld(channel)" class="label label-danger" ngbTooltip="No recent messages received">Warning</span>
                                        Last Message Received: {{channel.lastMessageReceived | date:'yyyy-MM-dd HH:mm:ss'}}
                                    </div>
                                    <div>Last Message ID: {{channel.lastMessageId}}</div>
                                </div>
                                <div *ngIf="!channel.lastMessageId">
                                    <div>
                                        <span class="label label-danger" ngbTooltip="No messages received">Warning</span>
                                        Last Message Received: NEVER</div>
                                    <div>Last Message ID: n/a</div>
                                </div>

                            </div>
                            <div class="col-md-8">
                                <h4>HL7 Receiver->FHIR->Messaging API</h4>

                                <div *ngIf="channel.errorMessageId">
                                    <div>
                                        <span class="label label-danger" ngbTooltip="Message in error">Warning</span>
                                        Status: ERROR ({{channel.transformQueueSize}} messages in queue)
                                    </div>
                                    <br>
                                    <b>Message in Error:</b>
                                    <div>Received: {{channel.errorMessageReceived | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                    <div>Type: {{channel.errorMessageType}}</div>
                                    <div>ID: {{channel.errorMessageId}}</div>
                                    <pre>{{channel.errorMessage}}</pre>
                                </div>
                                <div *ngIf="!channel.errorMessageId">

                                    <div *ngIf="channel.transformQueueSize>0">

                                        <div *ngIf="channel.paused">
                                            <div>Status: PAUSED ({{channel.transformQueueSize}} messages in queue)</div>
                                        </div>
                                        <div *ngIf="!channel.paused">
                                            <div>Status: WORKING ({{channel.transformQueueSize}} messages in queue)</div>
                                        </div>

                                        <br>
                                        <b>First Message in Queue:</b>
                                        <div>Received: {{channel.transformQueueFirstMessageDate | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                        <div>Type: {{channel.transformQueueFirstMessageType}}</div>
                                        <div>ID: {{channel.transformQueueFirstMessageId}}</div>

                                    </div>
                                    <div *ngIf="channel.transformQueueSize==0">
                                        <div>Status: OK</div>
                                    </div>
                                </div>

                                <table class="table table-striped table-condensed" *ngIf="channel.transformQueueSize">
                                    <thead>
                                    <tr>
                                        <th class="col-md-3">Date</th>
                                        <th class="col-md-4">Status</th>
                                        <th class="col-md-5">Error</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="hover-box" *ngFor="let status of channel.transformQueueFirstStatus">
                                        <td>{{status.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{status.status}}</td>
                                        <td><pre *ngIf="status.error">{{status.error}}</pre></td>
                                    </tr>
                                    </tbody>
                                </table>


                                <div *ngIf="channel.paused">
                                    <span class="label label-warning">PAUSED!</span>
                                </div>
                                <div *ngIf="!channel.paused">
                                    <span class="label label-success">Not Paused</span>
                                </div>
                                <button type="button" class="btn btn-sm btn-default" (click)="pauseChannel(channel.id, !channel.paused)">Toggle Pause</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    Show raw JSON<input type="checkbox" id="showRawJson" [(ngModel)]="showRawJson" name="showRawJson">
                    <pre *ngIf="showRawJson">{{resultStr}}</pre>
                </div>
            </div>

        </div>

    </div>
</div>


